@import 'variables';

#downloadExtension {
	text-align: center;
	width: 45%;
	max-width: 50%;
	background-color: $themeColor;
	padding: 15px;
	color: white;
	border-radius: 10px;
	.title {
		font-size: 37px;
		margin-bottom: 34px;
	}
	.info {
		font-size: 17px;
		margin-bottom: 55px;
	}
	#install-button {
		background-color: #ec555b;
		color:white;
		border-radius: 5px;
		border: none;
		padding: 5px 30px;
		transition: all 0.3s; 
		border: 1px solid #ec555b;
		outline: none;
		font-size: 14px;
	}
}