@import 'variables';

#downloadExtension {
	text-align: center;
	width: 400px;
	max-width: 50%;
	background-color: $themeColor;
	padding: 10px 5px;
	color: white;
	border-radius: 10px;
	.title {
		font-size: 30px;
	}
	.info {
		margin-bottom: 20px;
	}
	#install-button {
		background-color: #ec555b;
		color:white;
		border-radius: 5px;
		border: none;
		padding: 5px 30px;
		transition: all 0.3s; 
		border: 1px solid #ec555b;
		outline: none;
		font-size: 12px;
	}
}