#easePopupsHandler #modifyAppPopup {
  width: 24vw; }
  #easePopupsHandler #modifyAppPopup .title p {
    font-size: 1.3vw; }
  #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody {
    padding: 0.75vw 2.5vw; }
    #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .errorText p {
      font-weight: bold; }
    #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow > .row {
      margin-bottom: 0; }
    #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0.6vw;
      overflow: hidden;
      margin-left: -2.5vw;
      margin-right: -2.5vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser li {
        display: inline-block;
        width: 50%;
        outline: none;
        float: left;
        border: 1px solid #efefef;
        border-right: none;
        border-radius: 0.5vw;
        background-color: #efefef; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser li:last-child {
          border-right: 1px solid #efefef; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser li.ui-state-active {
          border-bottom: none;
          border-left: none;
          border-right: none;
          background-color: white; }
          #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser li.ui-state-active a {
            text-decoration: underline; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .fragmentsRow .tabChooser li a {
          outline: none;
          text-align: center;
          font-family: "Raleway", "Source Sans Pro", sans-serif;
          font-size: 1vw;
          line-height: 2vw;
          display: block;
          width: 100%;
          color: black; }
    #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row {
      margin-bottom: 0.6vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row:last-child {
        margin-bottom: 0; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.login input, #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.password input {
        padding-left: 1.8vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.login .placeholderIcon, #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.password .placeholderIcon {
        position: absolute;
        left: 4%;
        top: 50%;
        font-size: 1vw;
        transform: translateY(-50%);
        color: #777; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row input, #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input {
        font-size: 0.9vw;
        color: black; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row button {
        font-size: 1vw;
        width: 100%; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row button.loading {
          font-size: 0;
          width: 3vw;
          height: 3vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .simpleText {
        margin-bottom: 0.6vw;
        color: black;
        letter-spacing: 1px; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .simpleText span {
          font-weight: bold; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .simpleText:last-child {
          margin-bottom: 0; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .logo {
        width: 5vw;
        margin: auto; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .logo img {
          width: 100%;
          border-radius: 5px; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .post-title {
        font-size: 1vw;
        color: black;
        line-height: 1vw;
        display: inline-block;
        width: auto; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.appName {
        margin: auto;
        width: 70%; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.appName input {
          text-align: center;
          margin-bottom: 0; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.appName input:focus + .placeholderIcon {
          display: none; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .input.appName .placeholderIcon {
          position: absolute;
          right: 4%;
          font-size: 1vw;
          top: 50%;
          transform: translateY(-50%);
          color: #777;
          pointer-events: none; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .placeholderIcon {
        font-size: 1vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton {
        margin-top: 0.5vw;
        display: none;
        transition: transform .3s;
        transform: scale(1); }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton.selected {
          transform: scale(1.05); }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton.show {
          display: block; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton:first-child {
          margin-top: 0; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton i {
          position: absolute;
          left: 4%;
          top: 50%;
          transform: translateY(-50%); }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton.facebook {
          background-color: #3b5998; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .signInButton.linkedIn {
          background-color: #0e76a8; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .accountSelectArea .SignInErrorHandler {
        display: none;
        width: 100%;
        text-align: center;
        font-size: 0.9vw;
        font-weight: bold;
        color: #ec555b; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .accountSelectArea .SignInErrorHandler.show {
          display: block; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle {
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 0.6vw; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle p {
          display: inline-block;
          font-size: 1vw;
          color: black; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack {
          display: flex;
          float: right;
          cursor: pointer; }
          #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack .fa-stack {
            font-size: 0.75vw; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack .fa-stack .fa-stack-1x {
              color: white; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts {
        position: relative; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts:before {
          content: "";
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          pointer-events: none; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder {
          max-height: 4.5vw;
          overflow: auto;
          position: relative; }
          #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine {
            height: 1.5vw;
            cursor: pointer; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine.selected .checkBoxInput .fa-stack-1x {
              color: black; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .fa-stack {
              font-size: 0.65vw;
              width: 1.1vw;
              height: 1.1vw; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .checkBoxInput, #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine p {
              display: inline-block; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .checkBoxInput {
              margin-right: 5px; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine p {
              font-size: 0.9vw;
              color: black; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .afterRowTitle {
        font-size: 1vw;
        color: black;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.6vw; }
      #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler {
        white-space: nowrap;
        overflow: auto;
        text-align: center; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler.checked .appLogo:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.15);
          border-radius: 0.5vw; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler.checked .appLogo:after {
          content: "\f00c";
          position: absolute;
          left: 50%;
          top: 50%;
          color: white;
          z-index: 2;
          transform: translate3d(-50%, -50%, 0);
          font-family: FontAwesome;
          font-size: 2.7vw; }
        #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler {
          width: 32%;
          display: inline-block;
          position: relative;
          overflow: hidden; }
          #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appLogo {
            position: relative;
            width: 65%;
            margin: auto;
            cursor: pointer; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appLogo img {
              width: 100%;
              border-radius: 0.5vw; }
          #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appName {
            text-align: center;
            font-size: 0.9vw;
            color: black;
            white-space: nowrap;
            padding: 0 2%; }
            #easePopupsHandler #modifyAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appName p {
              text-overflow: ellipsis;
              overflow: hidden; }
#easePopupsHandler #deleteProfilePopup {
  width: 24vw; }
  #easePopupsHandler #deleteProfilePopup .title p {
    font-size: 1.3vw; }
  #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody {
    padding: 0.75vw 10%; }
    #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .errorText p {
      font-weight: bold; }
    #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row {
      margin-bottom: 0.6vw; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row:last-child {
        margin-bottom: 0; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .simpleText {
        margin-bottom: 0.6vw;
        color: black;
        letter-spacing: 1px; }
        #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .simpleText:last-child {
          margin-bottom: 0; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row input, #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .input {
        font-size: 0.9vw;
        color: black; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row button {
        font-size: 1vw;
        width: 100%; }
        #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row button.loading {
          font-size: 0;
          width: 3vw;
          height: 3vw; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .input.login input, #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .input.password input {
        padding-left: 1.8vw; }
      #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .input.login .placeholderIcon, #easePopupsHandler #deleteProfilePopup .bodysHandler .popupBody .handler .row .input.password .placeholderIcon {
        position: absolute;
        left: 4%;
        top: 50%;
        font-size: 1vw;
        transform: translateY(-50%);
        color: #777; }
#easePopupsHandler #addBookmarkPopup {
  width: 24vw; }
  #easePopupsHandler #addBookmarkPopup .title p {
    font-size: 1.3vw; }
  #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody {
    padding: 0.75vw 10%; }
    #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .errorText p {
      font-weight: bold; }
    #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .titleRow {
      text-align: left;
      color: black;
      border-bottom: 1px solid black;
      padding-bottom: 2px;
      font-size: 1vw;
      font-weight: bold; }
    #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row {
      margin-bottom: 0.6vw; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row:last-child {
        margin-bottom: 0; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row input, #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .input {
        font-size: 0.9vw;
        color: black; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row button {
        font-size: 1vw;
        width: 100%; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row button.loading {
          font-size: 0;
          width: 3vw;
          height: 3vw; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .simpleText {
        margin-bottom: 0.6vw;
        color: black;
        letter-spacing: 1px; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .simpleText:last-child {
          margin-bottom: 0; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .logo {
        width: 5vw;
        margin: auto; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .logo img {
          width: 100%;
          border-radius: 5px; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .post-title {
        font-size: 1vw;
        color: black;
        line-height: 1vw;
        display: inline-block;
        width: auto;
        padding: 0 0.5vw; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .input.appName {
        margin: auto;
        width: 70%; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .input.appName input {
          text-align: center;
          margin-bottom: 0; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .input.appName input:focus + .placeholderIcon {
          display: none; }
        #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .input.appName .placeholderIcon {
          position: absolute;
          right: 4%;
          font-size: 1vw;
          top: 50%;
          transform: translateY(-50%);
          color: #777;
          pointer-events: none; }
      #easePopupsHandler #addBookmarkPopup .bodysHandler .popupBody .handler .row .placeholderIcon {
        font-size: 1vw; }
#easePopupsHandler #addUpdatePopup {
  width: 20vw; }
  #easePopupsHandler #addUpdatePopup .title p {
    font-size: 1.3vw; }
  #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody {
    padding: 0.75vw 10%; }
    #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .errorText p {
      font-weight: bold; }
    #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .emailSendingDiv {
      display: none;
      margin-bottom: 0.8vw; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .emailSendingDiv.show {
        display: block; }
    #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row {
      margin-bottom: 0.8vw; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row:last-child {
        margin-bottom: 0; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row .logo {
        width: 5vw;
        margin: auto; }
        #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row .logo img {
          width: 100%;
          border-radius: 5px; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row .post-title {
        font-size: 1vw; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row button {
        font-size: 1vw;
        width: 100%; }
        #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row button.loading {
          font-size: 0;
          width: 3vw;
          height: 3vw; }
      #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row input, #easePopupsHandler #addUpdatePopup .bodysHandler .popupBody .handler .row .input {
        font-size: 0.9vw; }
#easePopupsHandler #addAppPopup {
  width: 24vw; }
  #easePopupsHandler #addAppPopup .title p {
    font-size: 1.3vw; }
  #easePopupsHandler #addAppPopup .bodysHandler .popupBody {
    padding: 0.75vw 10%; }
    #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .errorText p {
      font-weight: bold; }
    #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .titleRow {
      text-align: left;
      color: black;
      border-bottom: 1px solid black;
      padding-bottom: 2px;
      font-size: 1vw;
      font-weight: bold; }
    #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row {
      margin-bottom: 0.6vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row:last-child {
        margin-bottom: 0; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .afterRowTitle {
        font-size: 1vw;
        color: black;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.6vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler {
        white-space: nowrap;
        overflow: auto; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler.checked .appLogo:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.15);
          border-radius: 0.5vw; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler.checked .appLogo:after {
          content: "\f00c";
          position: absolute;
          left: 50%;
          top: 50%;
          color: white;
          z-index: 2;
          transform: translate3d(-50%, -50%, 0);
          font-family: FontAwesome;
          font-size: 2.7vw; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler {
          width: 32%;
          display: inline-block;
          position: relative;
          overflow: hidden; }
          #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appLogo {
            position: relative;
            width: 65%;
            margin: auto;
            cursor: pointer; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appLogo img {
              width: 100%;
              border-radius: 0.5vw; }
          #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appName {
            text-align: center;
            font-size: 0.9vw;
            color: black;
            white-space: nowrap;
            padding: 0 2%; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .horizontalSelectDiv .selectHandler .appHandler .appName p {
              text-overflow: ellipsis;
              overflow: hidden; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .backButton {
        cursor: pointer;
        display: flex;
        float: right; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .backButton .fa-stack {
          font-size: 0.75vw; }
          #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .backButton .fa-stack .fa-stack-1x {
            color: white; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .accountLine .accountLogo, #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .accountLine .accountName {
        display: inline-block; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .accountLine .accountLogo {
        display: inline-block;
        width: 1.1vw;
        height: 1.1vw; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .accountLine .accountLogo img {
          width: 100%;
          height: 100%;
          border-radius: 3px; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountNameHandler .accountLine .accountName {
        color: black;
        font-size: 0.9vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .ssoSelectArea .accountsHolder .accountLine:hover .accountName {
        text-decoration: underline; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .ssoSelectArea .accountsHolder .accountLine .accountLogo {
        display: inline-block;
        width: 1.1vw;
        height: 1.1vw;
        margin-right: 5px; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .ssoSelectArea .accountsHolder .accountLine .accountLogo img {
          width: 100%;
          height: 100%;
          border-radius: 3px; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountSelectArea .SignInErrorHandler {
        display: none;
        width: 100%;
        text-align: center;
        font-size: 0.9vw;
        font-weight: bold;
        color: #ec555b; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .accountSelectArea .SignInErrorHandler.show {
          display: block; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle {
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 0.6vw; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle p {
          display: inline-block;
          font-size: 1vw;
          color: black; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack {
          display: flex;
          float: right;
          cursor: pointer; }
          #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack .fa-stack {
            font-size: 0.75vw; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .afterRowTitle .buttonBack .fa-stack .fa-stack-1x {
              color: white; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts {
        position: relative; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts:before {
          content: "";
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          pointer-events: none; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder {
          max-height: 4.5vw;
          overflow: auto;
          position: relative; }
          #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine {
            height: 1.5vw;
            cursor: pointer; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine.selected .checkBoxInput .fa-stack-1x {
              color: black; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .fa-stack {
              font-size: 0.65vw;
              width: 1.1vw;
              height: 1.1vw; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .checkBoxInput, #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine p {
              display: inline-block; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine .checkBoxInput {
              margin-right: 5px; }
            #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .selectionArea .accounts .accountsHolder .accountLine p {
              font-size: 0.9vw;
              color: black; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .ssoSelectArea .accountsHolder .newAccountAdder .fa-stack {
        font-size: 0.65vw;
        width: 1.1vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .logo {
        width: 5vw;
        margin: auto; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .logo img {
          width: 100%;
          border-radius: 5px; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .post-title {
        font-size: 1vw;
        color: black;
        line-height: 1vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row button {
        font-size: 1vw;
        width: 100%; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row button.loading {
          font-size: 0;
          width: 3vw;
          height: 3vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row #shortcutLink {
        background-color: #373b60; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton {
        margin-top: 0.5vw;
        display: none;
        transition: transform .3s;
        transform: scale(1); }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton.selected {
          transform: scale(1.05); }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton.show {
          display: block; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton:first-child {
          margin-top: 0; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton i {
          position: absolute;
          left: 4%;
          top: 50%;
          transform: translateY(-50%); }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton.facebook {
          background-color: #3b5998; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .signInButton.linkedIn {
          background-color: #0e76a8; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row input, #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input {
        font-size: 0.9vw;
        color: black; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.appName {
        margin: auto;
        width: 70%; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.appName input {
          text-align: center;
          margin-bottom: 0; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.appName input:focus + .placeholderIcon {
          display: none; }
        #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.appName .placeholderIcon {
          position: absolute;
          right: 4%;
          font-size: 1vw;
          top: 50%;
          transform: translateY(-50%);
          color: #777;
          pointer-events: none; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .placeholderIcon {
        font-size: 1vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.login input, #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.password input {
        padding-left: 1.8vw; }
      #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.login .placeholderIcon, #easePopupsHandler #addAppPopup .bodysHandler .popupBody .handler .row .input.password .placeholderIcon {
        position: absolute;
        left: 4%;
        top: 50%;
        font-size: 1vw;
        transform: translateY(-50%);
        color: #777; }

/*# sourceMappingURL=EasePopups.css.map */
