@import '../variables';

#easePopupsHandler {
		#deleteAccountPopup {
		width: 24vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 10%;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.row {
					margin-bottom: 0.6vw;
					&:last-child {
						margin-bottom:0;
					}
					.simpleText {
						margin-bottom: 0.6vw;
						color: black;
						letter-spacing: 1px;
						&:last-child {
							margin-bottom: 0;
						}
					}					
					input, .input {
						font-size: 0.9vw;
						color: black;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					.loginPasswordRow {
						.input {
							input {
								padding-left: 1.8vw;
							}
						}
						.placeholderIcon {
							position: absolute;
							left: 4%;
							top: 50%;
							font-size: 1vw;
							transform: translateY(-50%);
							color: #777;
						}
					}
				}
			}
		}
	}
	#modifyAppPopup {
		width: 24vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 2.5vw;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.fragmentsRow {
					& > .row {
						margin-bottom: 0;
					}
					.tabChooser {
						list-style-type: none;
						padding: 0;
						margin-bottom: 0.6vw;
						overflow: hidden;
						margin-left: -2.5vw;
						margin-right: -2.5vw;
						li {
							display: inline-block;
							width: 50%;
							outline: none;
							float: left;
							border: 1px solid #efefef;
							border-right: none;
							border-radius: 0.5vw;
							background-color: #efefef;
							&:last-child {
								border-right: 1px solid #efefef;
							}
							&.ui-state-active {
								border-bottom: none;
								border-left: none;
								border-right: none;
								background-color: white;
								a {
									text-decoration: underline;
								}
							}
							a {
								outline: none;
								text-align: center;
								font-family: $defaultFont;
								font-size: 1vw;
								line-height: 2vw;
								display: block;
								width: 100%;
								color: black;
							}
						}
					}
				}
				.loginPasswordRow {
					.input {
						font-size: 0.9vw;
						color: black;
						input {
							font-size: 0.9vw;
							color: black;
							padding-left: 1.8vw;
						}
						.placeholderIcon {
							position: absolute;
							left: 4%;
							top: 50%;
							font-size: 1vw;
							transform: translateY(-50%);
							color: #777;
						}
					}
				}
				.row {
					margin-bottom: 0.6vw;
					&:last-child {
						margin-bottom:0;
					}
					.input.password {
						.inputUnlocker {
							display: none;
							position: absolute;
							width: 2vw;
							right: 2px;
							font-size: 1.3vw;
							height: 90%;
							top: 5%;
							i {
								cursor: pointer;
							}
						}
						&.locked {
							.inputUnlocker {
								display: block;
							}
							.showPassDiv {
								display: none;
							}
							input {
								pointer-events: none;
							}
						}
					}
					.input.login, .input.password {
						input {
							padding-left: 1.8vw;
						}
						.placeholderIcon {
							position: absolute;
							left: 4%;
							top: 50%;
							font-size: 1vw;
							transform: translateY(-50%);
							color: #777;
						}
					}
					input, .input {
						font-size: 0.9vw;
						color: black;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					.simpleText {
						margin-bottom: 0.6vw;
						color: black;
						letter-spacing: 1px;
						span {
							font-weight: bold;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
					.logo {
						width: 5vw;
						margin: auto;
						img {
							width: 100%;
							border-radius: 5px;
						}
					}
					.post-title {
						font-size: 1vw;
						color: black;
						line-height: 1vw;
						display: inline-block;
						width: auto;
					}
					.input.appName {
						margin: auto;
						width: 70%;
						input {
							text-align: center;
							margin-bottom: 0;
						}
						input:focus + .placeholderIcon {
							display: none;
						}
						.placeholderIcon {
							position: absolute;
							right: 4%;
							font-size: 1vw;
							top: 50%;
							transform: translateY(-50%);
							color: #777;
							pointer-events: none;
						}
					}
					.placeholderIcon {
						font-size: 1vw;
					}
					.signInButton{
						margin-top: 0.5vw;
						display: none;
						transition: transform .3s;
						transform: scale(1);
						&.selected {
							transform: scale(1.05);
						}
						&.show {
							display: block;
						}
						&:first-child {
							margin-top: 0;
						}
						i {
							position: absolute;
							left: 4%;
							top: 50%;
							transform: translateY(-50%);
						}
						&.facebook {
							background-color: #3b5998;
						}
						&.linkedIn {
							background-color: #0e76a8;
						}
					}
					.accountSelectArea {
						.SignInErrorHandler {
							display: none;
							width: 100%;
							text-align: center;
							font-size: 0.9vw;
							font-weight: bold;
							color:$themeRedColor;
							&.show {
								display: block;
							}
						}
					}
					.selectionArea {
						.afterRowTitle {
							overflow: hidden;
							font-weight: bold;
							margin-bottom: 0.6vw;
							p {
								display: inline-block;
								font-size: 1vw;
								color: black;
							}
							.buttonBack {
								display: flex;
								float: right;
								cursor: pointer;
								.fa-stack {
									font-size: 0.75vw;
									.fa-stack-1x {
										color: white;
									}
								}
							}
						}
						.accounts {
							position: relative;
							&:before {
								content: "";
								position: absolute;
								z-index: 1;
								height: 100%;
								width: 100%;
								top: 0;
								left: 0;
								pointer-events: none;
								//@include simple-box-shadow(0vw -1.5vw 2.5vw -1vw white inset);
							}
							.accountsHolder {
								max-height: 4.5vw;
								overflow: auto;
								position: relative;
								.accountLine {
									height: 1.5vw;
									cursor: pointer;
									&.selected {
										.checkBoxInput {
											.fa-stack-1x {
												color: black;
											}
										}
									}
									.fa-stack {
										font-size: 0.65vw;
										width: 1.1vw;
										height: 1.1vw;
									}
									.checkBoxInput, p {
										display: inline-block;
									}
									.checkBoxInput {
										margin-right: 5px;
									}
									p {
										font-size: 0.9vw;
										color: black;
									}
								}
							}
						}
					}
					.horizontalSelectDiv {
						.afterRowTitle {
							font-size: 1vw;
							color: black;
							font-weight: bold;
							text-align: center;
							margin-bottom: 0.6vw;
						}
						.selectHandler {
							white-space: nowrap;
							overflow: auto;
							text-align: center;
							.appHandler.checked {
								.appLogo {
									&:before {
										content: "";
										position: absolute;
										width: 100%;
										height: 100%;
										z-index: 1;
										background-color: rgba(0, 0, 0, 0.15);
										border-radius: 0.5vw;
									}
									&:after {
										content: "\f00c";
										position: absolute;
										left: 50%;
										top: 50%;
										color: white;
										z-index: 2;
										transform: translate3d(-50%, -50%, 0);
										font-family: FontAwesome;
										font-size: 2.7vw;
									}
								}
							}
							.appHandler {
								width: 32%;
								display: inline-block;
								position: relative;
								overflow: hidden;
								.appLogo {
									position: relative;
									width: 65%;
									margin: auto;
									cursor: pointer;
									img {
										width: 100%;
										border-radius: 0.5vw;
									}
								}
								.appName {
									text-align: center;
									font-size: 0.9vw;
									color: black;
									white-space: nowrap;
									padding: 0 2%;
									p {
										text-overflow: ellipsis;
										overflow: hidden;
									}
								}
							}
						}
					}
				}
			}
		}		
	}
	#deleteProfilePopup {
		width: 24vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 10%;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.row {
					margin-bottom: 0.6vw;
					&:last-child {
						margin-bottom:0;
					}
					.simpleText {
						margin-bottom: 0.6vw;
						color: black;
						letter-spacing: 1px;
						&:last-child {
							margin-bottom: 0;
						}
					}					
					input, .input {
						font-size: 0.9vw;
						color: black;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					.input.login, .input.password {
						input {
							padding-left: 1.8vw;
						}
						.placeholderIcon {
							position: absolute;
							left: 4%;
							top: 50%;
							font-size: 1vw;
							transform: translateY(-50%);
							color: #777;
						}
					}
				}
			}
		}
	}
	#addBookmarkPopup {
		width: 24vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 10%;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.titleRow{
					text-align: left;
					color: black;
					border-bottom: 1px solid black;
					padding-bottom: 2px;
					font-size: 1vw;
					font-weight: bold;
				}
				.row {
					margin-bottom: 0.6vw;
					&:last-child {
						margin-bottom:0;
					}
					input, .input {
						font-size: 0.9vw;
						color: black;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					.simpleText {
						margin-bottom: 0.6vw;
						color: black;
						letter-spacing: 1px;
						&:last-child {
							margin-bottom: 0;
						}
					}
					.logo {
						width: 5vw;
						margin: auto;
						img {
							width: 100%;
							border-radius: 5px;
						}
					}
					.post-title {
						font-size: 1vw;
						color: black;
						line-height: 1vw;
						display: inline-block;
						width: auto;
						padding: 0 0.5vw;
					}
					.input.appName {
						margin: auto;
						width: 70%;
						input {
							text-align: center;
							margin-bottom: 0;
						}
						input:focus + .placeholderIcon {
							display: none;
						}
						.placeholderIcon {
							position: absolute;
							right: 4%;
							font-size: 1vw;
							top: 50%;
							transform: translateY(-50%);
							color: #777;
							pointer-events: none;
						}
					}
					.placeholderIcon {
						font-size: 1vw;
					}
				}
			}
		}	
	}
	#addUpdatePopup {
		width: 20vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 10%;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.emailSendingDiv {
					display: none;
					margin-bottom: 0.8vw;
					&.show {
						display: block;
					}
				}
				.row {
					margin-bottom: 0.8vw;
					&:last-child {
						margin-bottom:0;
					}
					.logo {
						width: 5vw;
						margin: auto;
						img {
							width: 100%;
							border-radius: 5px;
						}
					}
					.post-title {
						font-size: 1vw;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					input, .input {
						font-size: 0.9vw;
					}
				}
			}
		}
	}
	#addAppPopup {
		width: 24vw;
		.title p{
			font-size: 1.3vw;
		}
		.bodysHandler .popupBody{
			padding: 0.75vw 10%;
			.handler {
				.errorText {
					p {
						font-weight: bold;
					}
				}
				.titleRow{
					text-align: left;
					color: black;
					border-bottom: 1px solid black;
					padding-bottom: 2px;
					font-size: 1vw;
					font-weight: bold;
				}
				.loginPasswordRow {
						.input {
							input {
								padding-left: 1.8vw;
							}
						}
						.placeholderIcon {
							position: absolute;
							left: 4%;
							top: 50%;
							font-size: 1vw;
							transform: translateY(-50%);
							color: #777;
						}
				}
				.row {
					margin-bottom: 0.6vw;
					&:last-child {
						margin-bottom:0;
					}
					.horizontalSelectDiv {
						.afterRowTitle {
							font-size: 1vw;
							color: black;
							font-weight: bold;
							text-align: center;
							margin-bottom: 0.6vw;
						}
						.selectHandler {
							white-space: nowrap;
							overflow: auto;
							.appHandler.checked {
								.appLogo {
									&:before {
										content: "";
										position: absolute;
										width: 100%;
										height: 100%;
										z-index: 1;
										background-color: rgba(0, 0, 0, 0.15);
										border-radius: 0.5vw;
									}
									&:after {
										content: "\f00c";
										position: absolute;
										left: 50%;
										top: 50%;
										color: white;
										z-index: 2;
										transform: translate3d(-50%, -50%, 0);
										font-family: FontAwesome;
										font-size: 2.7vw;
									}
								}
							}
							.appHandler {
								width: 32%;
								display: inline-block;
								position: relative;
								overflow: hidden;
								.appLogo {
									position: relative;
									width: 65%;
									margin: auto;
									cursor: pointer;
									img {
										width: 100%;
										border-radius: 0.5vw;
									}
								}
								.appName {
									text-align: center;
									font-size: 0.9vw;
									color: black;
									white-space: nowrap;
									padding: 0 2%;
									p {
										text-overflow: ellipsis;
										overflow: hidden;
									}
								}
							}
						}
					}
					.accountNameHandler {
						.backButton {
							cursor: pointer;
							display: flex;
							float: right;
							.fa-stack {
								font-size: 0.75vw;
								.fa-stack-1x {
									color: white;
								}
							}
						}
						.accountLine {
							.accountLogo, .accountName {
								display: inline-block;
							}
							.accountLogo {
								display: inline-block;
								width: 1.1vw;
								height: 1.1vw;
								img {
									width: 100%;
									height: 100%;
									border-radius: 3px;
								}
							}
							.accountName {
								color: black;
								font-size: 0.9vw;
							}
						}
					}
					.ssoSelectArea {
						.accountsHolder {
							.accountLine {
								&:hover {
									.accountName {
										text-decoration: underline;
									}
								}
								.accountLogo {
									display: inline-block;
									width: 1.1vw;
									height: 1.1vw;
									margin-right: 5px;
									img {
										width: 100%;
										height: 100%;
										border-radius: 3px;
									}
								}
							}
						}
					}
					.accountSelectArea {
						.SignInErrorHandler {
							display: none;
							width: 100%;
							text-align: center;
							font-size: 0.9vw;
							font-weight: bold;
							color:$themeRedColor;
							&.show {
								display: block;
							}
						}
					}
					.selectionArea {
						.afterRowTitle {
							overflow: hidden;
							font-weight: bold;
							margin-bottom: 0.6vw;
							p {
								display: inline-block;
								font-size: 1vw;
								color: black;
							}
							.buttonBack {
								display: flex;
								float: right;
								cursor: pointer;
								.fa-stack {
									font-size: 0.75vw;
									.fa-stack-1x {
										color: white;
									}
								}
							}
						}
						.accounts {
							position: relative;
							&:before {
								content: "";
								position: absolute;
								z-index: 1;
								height: 100%;
								width: 100%;
								top: 0;
								left: 0;
								pointer-events: none;
								//@include simple-box-shadow(0vw -1.5vw 2.5vw -1vw white inset);
							}
							.accountsHolder {
								max-height: 4.5vw;
								overflow: auto;
								position: relative;
								.accountLine {
									height: 1.5vw;
									cursor: pointer;
									&.selected {
										.checkBoxInput {
											.fa-stack-1x {
												color: black;
											}
										}
									}
									.fa-stack {
										font-size: 0.65vw;
										width: 1.1vw;
										height: 1.1vw;
									}
									.checkBoxInput, p {
										display: inline-block;
									}
									.checkBoxInput {
										margin-right: 5px;
									}
									p {
										font-size: 0.9vw;
										color: black;
									}
								}
							}
						}
					}
					.ssoSelectArea {
						.accountsHolder {
							.newAccountAdder {
								.fa-stack {
									font-size: 0.65vw;
									width: 1.1vw;
								}
							}
						}
					}
					.logo {
						width: 5vw;
						margin: auto;
						img {
							width: 100%;
							border-radius: 5px;
						}
					}
					.post-title {
						font-size: 1vw;
						color: black;
						line-height: 1vw;
					}
					button {
						font-size: 1vw;
						width: 100%;
						&.loading {
							font-size: 0;
							width: 3vw;
							height: 3vw;
						}
					}
					#shortcutLink {
						background-color: $themeColor;
					}
					.signInButton{
						margin-top: 0.5vw;
						display: none;
						transition: transform .3s;
						transform: scale(1);
						&.selected {
							transform: scale(1.05);
						}
						&.show {
							display: block;
						}
						&:first-child {
							margin-top: 0;
						}
						i {
							position: absolute;
							left: 4%;
							top: 50%;
							transform: translateY(-50%);
						}
						&.facebook {
							background-color: #3b5998;
						}
						&.linkedIn {
							background-color: #0e76a8;
						}
					}
					input, .input {
						font-size: 0.9vw;
						color: black;
					}
					.input.appName {
						margin: auto;
						width: 70%;
						input {
							text-align: center;
							margin-bottom: 0;
						}
						input:focus + .placeholderIcon {
							display: none;
						}
						.placeholderIcon {
							position: absolute;
							right: 4%;
							font-size: 1vw;
							top: 50%;
							transform: translateY(-50%);
							color: #777;
							pointer-events: none;
						}
					}
					.placeholderIcon {
						font-size: 1vw;
					}
				}
			}
		}
	}
}

.popupHandler {
	.popover_mask {
		z-index:1;
	}
	.ease_popup {
		z-index: 2;
	}
}

.ease_team_popup {
	width: 430px;
	font-size: .9rem;
}

.ease_popup {
	@include display-flex();
	@include flex-direction(column);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	min-width: 200px;
	background-color: white;
	margin: auto;
	position: relative;
	.close_button {
		position: absolute;
		font-size: 1.3rem;
		background: none;
		right: 1rem;
		top: 19px;
	}
	.squared_image_handler {
		@include flex-shrink(0);
		width: 80px;
		height: 80px;
		margin-right:20px;
		box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.15);
	}
	.row {
		margin: 0 0 0 0;
		padding: 5px 30px;
		border-left: 1px solid $themeGreyDarkColor;
		border-right: 1px solid $themeGreyDarkColor;
	}
	.row.single-row {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.title-row {
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		padding: 15px 30px;
		background-color: #e8e8e8;
		height: 65px;
		font-size: 1.3rem;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid $themeGreyDarkColor;
		border-bottom: 1px solid $themeGreyDarkColor;
	}
	.positive_button {
		color: white;
		border: 1px solid $DarkGreen;
		background-color: $LightGreen;
		&:hover {
			background-color: $DarkGreen;
		}
	}
	.negative_button {
		color: white;
		border: 1px solid $themeRedDarkColor;
		background-color: $themeRedLightColor;
		&:hover {
			background-color: $themeRedDarkColor;
		}
	}
	.big_validate_button {
		font-size: .9rem;
		height: 65px;
		padding: 15px 20px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transition: background-color .3s;
		&:disabled {
			border: 1px solid $themeGreyDarkColor !important;
			background-color: #979797 !important;
			&:hover {
				background-color: #979797 !important;
			}
		}
	}
}

#modal_verify_team_user {
	.single-row {
		span {
			&:last-child {
				margin-bottom: 0;
			}
			margin-bottom: 20px;
		}
	}
}

#modal_app_requests {
	.buttons {
		button.accept {
			margin-right: 10px;
		}
		.accept {
			color: $themeGreenColor;
		}
		.refuse {
			color: $themeRedColor;
		}
	}
}

#modal_pin_to_dashboard {
	.name_input {
		@include flex-grow(1);
		padding: 5px;
		font-size: 1.3rem;
		border: 1px solid $themeGreyDarkColor;
		&:hover {
			border:1px solid $themeBlue2Color;
		}
		&:focus {
			border:1px solid $themeBlue2Color;
		}
	}
	.profile_input {
		padding: 5px 0;
		position: relative;
		font-size: .8rem;
		input {
			width: 83%;
			@include custom-placeholder($themeLightBlueColor, '', italic);
		}
		button {
			position: absolute;
			right: 0;
			color: $LightGreen;
		}
	}
	.profiles {
		padding: 10px 20px;
		border: 1px solid $themeGreyDarkColor;
		border-radius: 5px;
		color: $themeBlue2Color;
	}
	.profile {
		padding: 5px 0;
		cursor: pointer;
		.name {
			@include flex-shrink(0);
			font-size: .8rem;
		}
		em {
			font-size: .7rem;
		}
		&.active {
			color: $DarkGreen;
			&:hover {
				color: $DarkGreen;
			}
		}
		&:hover {
			color: $LightGreen;
		}
	}
}

#accept_multi_app_modal {
	label {
		font-weight: normal;
		font-size: .9rem;
	}
	.input_handler {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	input {
		@include flex-grow(1);
		padding: 16px;
		font-size: .8rem;
		border: 1px solid $themeGreyDarkColor;
		&:hover {
			border:1px solid $themeBlue2Color;
		}
		&:focus {
			border:1px solid $themeBlue2Color;
		}
	}
}
