#SmallNotificationPopup {
  display: block;
  position: fixed;
  padding: 1%;
  right: 1%;
  top: 4%;
  height: 15%;
  width: 12%;
  border-radius: 10px;
  opacity: 0;
  background-color: rgba(201, 201, 201, 0.7);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  #SmallNotificationPopup .notification-icon, #SmallNotificationPopup .notification-content {
    position: relative; }
  #SmallNotificationPopup .notification-icon {
    font-size: 1.2em;
    margin-right: 8%; }
  #SmallNotificationPopup .notification-content {
    position: absolute;
    vertical-align: middle;
    margin-left: 5%;
    top: 2%;
    font-size: 0.9em; }
  #SmallNotificationPopup .notification-separator {
    height: 70%;
    position: absolute;
    top: 13%;
    border-left: 2px solid rgba(163, 163, 163, 0.89); }

#SmallNotificationPopup.show {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.md-overlay {
  background-color: rgba(56, 55, 98, 0.8) !important; }

.popup .alertDiv.show {
  display: block;
  width: 50%;
  margin: 3px auto;
  color: red;
  padding: 0px; }
  .popup .alertDiv.show p {
    font-size: 13px;
    margin: 0px;
    padding: 0px; }

.popup .popupForm {
  width: 80%;
  margin: auto; }
  .popup .popupForm .input {
    width: 100%;
    margin: 0px;
    max-width: inherit;
    position: relative;
    display: block; }
    .popup .popupForm .input input {
      width: 100% !important; }
.popup .buttonSet button {
  display: inline-block;
  width: 49%;
  padding: 3px;
  font-size: 14px; }
.popup button#accept {
  transition: background-color .3s;
  background-color: #CCCCCC;
  border: 1px solid #d0d1d5;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
  font-weight: normal; }
.popup button#accept.Active {
  background-color: #20895e;
  border: 1px solid #20895e; }
  .popup button#accept.Active:hover {
    background-color: #2AB27B;
    border-color: #2AB27B; }
.popup button#close {
  background-color: #808080;
  color: white;
  border-color: #808080;
  letter-spacing: 1px;
  font-weight: normal; }
  .popup button#close:hover {
    background-color: #787878; }

.popup .md-content {
  background-color: #373b60 !important;
  padding: 5px; }
  .popup .md-content .form {
    border-radius: 0px !important;
    width: 100%; }
    .popup .md-content .form form button {
      margin-top: 35px; }
    .popup .md-content .form form .colorChoose {
      margin-top: 20px; }
      .popup .md-content .form form .colorChoose .cs-select .cs-placeholder {
        width: 100%;
        font-size: 19px; }

#AddUpdatePopup {
  min-width: 200px;
  max-width: 100%;
  width: 400px;
  font-family: "Raleway", "Source Sans Pro", sans-serif; }
  #AddUpdatePopup .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif; }
    #AddUpdatePopup .md-content p.title {
      text-align: center;
      font-size: 20px; }
    #AddUpdatePopup .md-content p.text {
      text-align: center;
      margin-top: 5%;
      margin-bottom: 5%; }
    #AddUpdatePopup .md-content p.error {
      margin-top: 5%;
      margin-bottom: 5%;
      color: #FF0000; }
    #AddUpdatePopup .md-content .app {
      margin: auto; }
      #AddUpdatePopup .md-content .app img {
        height: 10%;
        width: 10%; }
      #AddUpdatePopup .md-content .app p {
        display: inline-block;
        margin: 0 5px; }
      #AddUpdatePopup .md-content .app input {
        display: inline-block;
        color: #000000; }
    #AddUpdatePopup .md-content .error {
      margin-bottom: 10px; }
    #AddUpdatePopup .md-content .buttonSet {
      text-align: center;
      padding-bottom: 20px; }
      #AddUpdatePopup .md-content .buttonSet button {
        display: inline-block;
        width: 49%;
        padding: 7px; }
      #AddUpdatePopup .md-content .buttonSet #accept {
        background-color: #ec555b;
        border-color: #ec555b; }
        #AddUpdatePopup .md-content .buttonSet #accept:hover {
          background-color: #ee6368; }
      #AddUpdatePopup .md-content .buttonSet #close {
        background-color: white;
        color: black;
        border-color: white; }
        #AddUpdatePopup .md-content .buttonSet #close:hover {
          background-color: #f7f7f7; }

#PopupDeleteApp {
  min-width: 200px;
  max-width: 100%;
  width: 400px; }
  #PopupDeleteApp .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif; }
    #PopupDeleteApp .md-content p {
      text-align: center; }
    #PopupDeleteApp .md-content .title {
      font-size: 17px; }
    #PopupDeleteApp .md-content .desc {
      font-size: 11px; }
    #PopupDeleteApp .md-content .buttonSet {
      text-align: center; }
      #PopupDeleteApp .md-content .buttonSet button {
        display: inline-block;
        width: 49%;
        padding: 3px;
        font-size: 14px; }

#PopupAddApp {
  min-width: 200px;
  max-width: 100%;
  width: 400px; }
  #PopupAddApp .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif; }
    #PopupAddApp .md-content .popupHeader {
      overflow: hidden;
      padding: 0px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-bottom: 5px; }
      #PopupAddApp .md-content .popupHeader .logoApp {
        width: 20%;
        float: left;
        height: auto;
        top: 10%;
        left: 3%;
        border-radius: 3px; }
      #PopupAddApp .md-content .popupHeader .textContent {
        width: 80%;
        float: left; }
        #PopupAddApp .md-content .popupHeader .textContent p {
          font-size: 1.15em;
          padding: 0px;
          padding-left: 2px;
          text-align: center; }
        #PopupAddApp .md-content .popupHeader .textContent .title {
          font-size: 17px; }
        #PopupAddApp .md-content .popupHeader .textContent .desc {
          font-size: 11px; }
    #PopupAddApp .md-content #name {
      font-size: 1.15em;
      font-weight: 300;
      height: 29px;
      margin: 5px auto;
      color: black;
      padding-left: 3px;
      border-radius: 5px;
      border: 1px hidden; }
    #PopupAddApp .md-content .loginWithChooser.hidden {
      display: none; }
    #PopupAddApp .md-content .loginWithChooser p {
      margin: 0px;
      padding: 0px; }
    #PopupAddApp .md-content .loginWithChooser .loginWithButton.hidden {
      display: none; }
    #PopupAddApp .md-content .loginWithChooser .loginWithButton {
      padding: 5px;
      display: inline-block;
      max-width: 32%;
      width: 31%;
      margin-bottom: 5px;
      border-radius: 5px; }
      #PopupAddApp .md-content .loginWithChooser .loginWithButton p {
        padding: 0px; }
      #PopupAddApp .md-content .loginWithChooser .loginWithButton:hover {
        cursor: pointer; }
    #PopupAddApp .md-content .loginAppChooser .buttonBack {
      font-size: 25px;
      position: absolute;
      right: 0;
      top: 0;
      color: white; }
      #PopupAddApp .md-content .loginAppChooser .buttonBack:hover {
        color: #e6e6e6;
        cursor: pointer; }
    #PopupAddApp .md-content .loginAppChooser p {
      text-align: center; }
    #PopupAddApp .md-content .loginAppChooser .AccountApp.selected {
      border: 1px solid white; }
    #PopupAddApp .md-content .loginAppChooser .ChooserContent {
      max-height: 100px;
      overflow: auto; }
      #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp {
        max-height: 30px;
        height: 30px;
        cursor: pointer;
        padding: 2px;
        margin-bottom: 4px; }
        #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp p, #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler {
          display: inline-block; }
        #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp p {
          text-align: left;
          margin: 0px;
          margin-left: 5px;
          padding: 0px; }
        #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler {
          height: 100%; }
          #PopupAddApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler img {
            height: 100%; }
    #PopupAddApp .md-content .loginSsoChooser {
      padding: 0px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      text-align: center;
      display: block; }
      #PopupAddApp .md-content .loginSsoChooser p {
        margin: 0px;
        padding: 0px;
        text-align: center; }
      #PopupAddApp .md-content .loginSsoChooser .AccountApp.selected {
        border: 1px solid white; }
      #PopupAddApp .md-content .loginSsoChooser .ChooserContent {
        max-height: 70px;
        overflow: auto;
        text-align: left; }
        #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp {
          max-height: 30px;
          height: 30px;
          cursor: pointer;
          padding: 2px;
          margin-bottom: 4px; }
          #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp p, #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler {
            display: inline-block; }
          #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp p {
            text-align: left;
            margin: 0px;
            margin-left: 5px;
            padding: 0px; }
          #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler {
            height: 100%; }
            #PopupAddApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler img {
              height: 100%; }
    #PopupAddApp .md-content #AddAppForm {
      width: 80%;
      margin: 5px auto;
      padding: 0px; }
    #PopupAddApp .md-content .input {
      margin: 2px 0px; }
      #PopupAddApp .md-content .input input {
        margin: 0px 0px 0px 0px; }
    #PopupAddApp .md-content .buttonSet {
      text-align: center; }

#PopupDeleteProfile {
  min-width: 200px;
  max-width: 100%;
  width: 400px; }
  #PopupDeleteProfile .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif;
    text-align: center; }
    #PopupDeleteProfile .md-content .popupForm {
      width: 80%;
      margin: auto; }
      #PopupDeleteProfile .md-content .popupForm p {
        text-align: center; }
      #PopupDeleteProfile .md-content .popupForm .title {
        font-size: 17px;
        margin-bottom: 10px; }
      #PopupDeleteProfile .md-content .popupForm .desc {
        font-size: 11px; }
      #PopupDeleteProfile .md-content .popupForm input {
        width: 80%;
        border-radius: 5px;
        border: 1px hidden;
        height: 29px;
        color: #373b60;
        padding-left: 3px;
        background-color: #efefef;
        border: none;
        text-align: center; }
      #PopupDeleteProfile .md-content .popupForm .buttonSet {
        text-align: center; }

#PopupModifyApp {
  min-width: 200px;
  max-width: 100%;
  width: 400px; }
  #PopupModifyApp .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif; }
    #PopupModifyApp .md-content .popupHeader {
      overflow: hidden;
      padding: 0px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-bottom: 5px; }
      #PopupModifyApp .md-content .popupHeader .logoApp {
        width: 20%;
        float: left;
        height: auto;
        top: 10%;
        left: 3%;
        border-radius: 3px; }
      #PopupModifyApp .md-content .popupHeader .textContent {
        width: 80%;
        float: left; }
        #PopupModifyApp .md-content .popupHeader .textContent p {
          padding: 0px;
          padding-left: 2px;
          text-align: center; }
          #PopupModifyApp .md-content .popupHeader .textContent p span {
            font-weight: 600; }
        #PopupModifyApp .md-content .popupHeader .textContent .title {
          font-size: 17px; }
        #PopupModifyApp .md-content .popupHeader .textContent .desc {
          font-size: 11px; }
    #PopupModifyApp .md-content .loginWithChooser.hidden {
      display: none; }
    #PopupModifyApp .md-content #name {
      font-size: 1.15em;
      font-weight: 300;
      height: 29px;
      margin: 5px auto;
      color: black;
      padding-left: 3px;
      border-radius: 5px;
      border: 1px hidden; }
    #PopupModifyApp .md-content .loginWithChooser p {
      margin: 0px;
      padding: 0px; }
    #PopupModifyApp .md-content .loginWithChooser .loginWithButton.hidden {
      display: none; }
    #PopupModifyApp .md-content .loginWithChooser .loginWithButton {
      padding: 5px;
      display: inline-block;
      max-width: 32%;
      width: 31%;
      margin-bottom: 5px;
      border-radius: 5px; }
      #PopupModifyApp .md-content .loginWithChooser .loginWithButton p {
        padding: 0px; }
      #PopupModifyApp .md-content .loginWithChooser .loginWithButton:hover {
        cursor: pointer; }
    #PopupModifyApp .md-content .loginAppChooser .buttonBack {
      font-size: 25px;
      position: absolute;
      right: 0;
      top: 0;
      color: white; }
      #PopupModifyApp .md-content .loginAppChooser .buttonBack:hover {
        color: #e6e6e6;
        cursor: pointer; }
    #PopupModifyApp .md-content .loginAppChooser p {
      text-align: center; }
    #PopupModifyApp .md-content .loginAppChooser .AccountApp.selected {
      border: 1px solid white; }
    #PopupModifyApp .md-content .loginAppChooser .ChooserContent {
      max-height: 100px;
      overflow: auto; }
      #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp {
        max-height: 30px;
        height: 30px;
        cursor: pointer;
        padding: 2px;
        margin-bottom: 4px; }
        #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp p, #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler {
          display: inline-block; }
        #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp p {
          text-align: left;
          margin: 0px;
          margin-left: 5px;
          padding: 0px; }
        #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler {
          height: 100%; }
          #PopupModifyApp .md-content .loginAppChooser .ChooserContent .AccountApp .imageHandler img {
            height: 100%; }
    #PopupModifyApp .md-content .loginSsoChooser {
      max-height: 100px;
      padding: 0px;
      margin: 0px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      position: relative; }
      #PopupModifyApp .md-content .loginSsoChooser .buttonBack {
        font-size: 25px;
        position: absolute;
        right: 0;
        top: 0;
        color: white; }
        #PopupModifyApp .md-content .loginSsoChooser .buttonBack:hover {
          color: #e6e6e6;
          cursor: pointer; }
      #PopupModifyApp .md-content .loginSsoChooser p {
        text-align: center; }
      #PopupModifyApp .md-content .loginSsoChooser .AccountApp.selected {
        border: 1px solid white; }
      #PopupModifyApp .md-content .loginSsoChooser .ChooserContent {
        max-height: 70px;
        overflow: auto; }
        #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp {
          max-height: 30px;
          height: 30px;
          cursor: pointer;
          padding: 2px;
          margin-bottom: 4px; }
          #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp p, #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler {
            display: inline-block; }
          #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp p {
            text-align: left;
            margin: 0px;
            margin-left: 5px;
            padding: 0px; }
          #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler {
            height: 100%; }
            #PopupModifyApp .md-content .loginSsoChooser .ChooserContent .AccountApp .imageHandler img {
              height: 100%; }

#PopupSendEmailWebsite {
  min-width: 200px;
  max-width: 100%;
  width: 400px; }
  #PopupSendEmailWebsite .md-content {
    border-radius: 15px;
    padding-top: 20px;
    font-family: "Raleway", "Source Sans Pro", sans-serif; }
    #PopupSendEmailWebsite .md-content p {
      text-align: center; }
    #PopupSendEmailWebsite .md-content .title {
      font-size: 17px; }
    #PopupSendEmailWebsite .md-content input {
      display: block;
      margin-top: 3px;
      margin-bottom: 3px;
      color: black;
      width: 99%;
      border-radius: 5px; }
    #PopupSendEmailWebsite .md-content .desc {
      font-size: 11px;
      color: black;
      min-width: 300px;
      min-height: 200px;
      max-width: 300px;
      max-height: 200px; }
    #PopupSendEmailWebsite .md-content .buttonSet {
      text-align: center; }
      #PopupSendEmailWebsite .md-content .buttonSet button {
        display: inline-block;
        width: 49%;
        padding: 3px;
        font-size: 14px; }

.md-show ~ .md-overlay {
  opacity: 0.3 !important; }

.popup .lineInput {
  width: 80%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px; }
  .popup .lineInput .inputTitle {
    display: inline-block;
    width: 35%;
    float: left; }
  .popup .lineInput input {
    display: inline-block;
    width: 60%;
    float: right; }

.linedSeparator {
  position: relative; }
  .linedSeparator .backgroundLine {
    width: 100%;
    position: absolute;
    border: 1px solid white;
    z-index: -1;
    top: 50%; }
  .linedSeparator p {
    background-color: #373b60;
    padding: 2px;
    display: inline-block; }

.loginWithButton.facebook {
  background-color: #999999; }
  .loginWithButton.facebook:hover {
    background-color: #4c70ba; }

.loginWithButton.facebook.locked {
  background-color: #5f7ec1;
  border: 1px solid white; }

.loginWithButton.linkedin {
  background-color: #999999; }
  .loginWithButton.linkedin:hover {
    background-color: #009de9; }

.loginWithButton.linkedin.locked {
  background-color: #04adff;
  border: 1px solid white; }

.disabledInput {
  position: relative;
  overflow: hidden; }
  .disabledInput .activateInput {
    color: #373b60;
    padding: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translate3d(-50%, -50%, 0); }
    .disabledInput .activateInput:hover {
      color: #4a4f80;
      cursor: pointer; }

.popupHandler {
  font-family: "Raleway", "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  transition: background-color .3s, z-index 0s .3s, visibility 0s .3s;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: auto; }
  .popupHandler.myshow {
    z-index: 10000;
    transition: background-color .3s, z-index 0s 0s, visibility 0s 0s;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    pointer-events: auto; }
    .popupHandler.myshow .easePopup {
      transition: opacity .3s, overflow 0s .3s, visibility 0s .3s, position 0s .3s;
      margin: auto;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: -1;
      height: auto;
      position: absolute;
      overflow: hidden; }
      .popupHandler.myshow .easePopup.show {
        transition: opacity .3s, overflow 0s 0s, visibility 0s 0s, position 0s 0s;
        height: auto;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 1;
        position: relative;
        overflow: visible; }

.easePopup {
  transition: opacity .3s, overflow 0s .3s, visibility 0s .3s;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
  height: auto;
  position: absolute;
  overflow: hidden; }

.easePopup {
  display: block;
  width: 40vw;
  margin: 0px auto;
  color: #373b60; }
  .easePopup input::selection {
    background: #373b60;
    color: white;
    text-shadow: none; }
  .easePopup input::-moz-selection {
    background: #373b60;
    color: white;
    text-shadow: none; }
  .easePopup p {
    margin-bottom: 0px; }
  .easePopup .title {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #efefef;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.6vw 20px;
    border-bottom: 1px solid #d0d1d5; }
    .easePopup .title p {
      font-size: 2.3vw;
      display: inline-block; }
    .easePopup .title img {
      display: inline-block;
      width: 3vw; }
    .easePopup .title .sub-title {
      color: #666666;
      font-size: 1.2vw; }
  .easePopup .bodysHandler {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .easePopup .bodysHandler .popupBody.show {
      opacity: 1;
      z-index: 1;
      position: relative; }
      .easePopup .bodysHandler .popupBody.show .handler {
        transition: visibility .5s, opacity .5s;
        visibility: visible;
        opacity: 1;
        pointer-events: auto; }
    .easePopup .bodysHandler .popupBody {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: white;
      padding: 1.5vw 8%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0;
      z-index: -1; }
      .easePopup .bodysHandler .popupBody .handler {
        transition: visibility .5s, opacity .5s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none; }
        .easePopup .bodysHandler .popupBody .handler .terms {
          text-align: center; }
          .easePopup .bodysHandler .popupBody .handler .terms p {
            font-size: 1.1vw;
            display: inline-block; }
          .easePopup .bodysHandler .popupBody .handler .terms input[type="checkbox"] {
            display: inline-block;
            position: relative;
            width: auto;
            vertical-align: middle;
            margin-top: 0px;
            margin-left: 0.5vw;
            transform: scale(1.9); }
        .easePopup .bodysHandler .popupBody .handler .row.lineBehind:before {
          border-top: 2px solid #373b60;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: -1; }
        .easePopup .bodysHandler .popupBody .handler .errorText {
          display: none; }
          .easePopup .bodysHandler .popupBody .handler .errorText.show {
            display: block; }
          .easePopup .bodysHandler .popupBody .handler .errorText p {
            color: #ec555b;
            font-size: 1vw; }
        .easePopup .bodysHandler .popupBody .handler .row {
          position: relative;
          margin-left: 0px;
          margin-right: 0px;
          margin-bottom: 1.2vw; }
          .easePopup .bodysHandler .popupBody .handler .row.hide {
            display: none; }
          .easePopup .bodysHandler .popupBody .handler .row .infoText {
            padding: 1vw;
            border: 1px solid #373b60;
            border-radius: 3px; }
            .easePopup .bodysHandler .popupBody .handler .row .infoText p {
              font-size: 0.9vw; }
          .easePopup .bodysHandler .popupBody .handler .row:last-child {
            margin-bottom: 0px; }
          .easePopup .bodysHandler .popupBody .handler .row .liteTextButton {
            cursor: pointer;
            font-size: 0.85vw;
            text-decoration: underline;
            color: #808080;
            font-weight: bold; }
          .easePopup .bodysHandler .popupBody .handler .row .simpleText {
            font-family: "Raleway", "Source Sans Pro", sans-serif;
            font-size: 1vw; }
            .easePopup .bodysHandler .popupBody .handler .row .simpleText span {
              font-weight: bold; }
          .easePopup .bodysHandler .popupBody .handler .row .post-title {
            font-size: 1.3vw;
            font-weight: 600;
            background-color: white;
            width: 80%;
            margin: auto; }
          .easePopup .bodysHandler .popupBody .handler .row .row-heading {
            font-size: 1.4vw; }
          .easePopup .bodysHandler .popupBody .handler .row input, .easePopup .bodysHandler .popupBody .handler .row .input {
            margin-bottom: 0.6vw; }
            .easePopup .bodysHandler .popupBody .handler .row input:last-child, .easePopup .bodysHandler .popupBody .handler .row .input:last-child {
              margin-bottom: 0; }
          .easePopup .bodysHandler .popupBody .handler .row .input {
            font-weight: normal;
            display: block;
            position: relative;
            width: 100%; }
            .easePopup .bodysHandler .popupBody .handler .row .input .showPassDiv {
              width: 2vw;
              right: 2px;
              font-size: 1.3vw; }
          .easePopup .bodysHandler .popupBody .handler .row input[type='checkbox'] {
            padding: 0;
            margin: 0;
            width: auto;
            vertical-align: middle;
            width: 1vw;
            height: 1vw; }
          .easePopup .bodysHandler .popupBody .handler .row .input.password > .fa {
            position: absolute;
            left: 4%;
            top: 50%;
            font-size: 1vw;
            transform: translateY(-50%);
            color: #777; }
          .easePopup .bodysHandler .popupBody .handler .row .input.password input {
            padding-left: 1.8vw; }
          .easePopup .bodysHandler .popupBody .handler .row input {
            width: 100%;
            font-size: 1.35vw;
            border-radius: 8px;
            border: 1px solid #aaa;
            padding-left: 5px;
            padding: 7px 5px; }
          .easePopup .bodysHandler .popupBody .handler .row button {
            transition: opacity .1s, background-color .1s, width .1s, height .1s;
            position: relative; }
            .easePopup .bodysHandler .popupBody .handler .row button:after {
              content: "";
              transition: .1s;
              border-top-color: transparent; }
          .easePopup .bodysHandler .popupBody .handler .row button.loading {
            pointer-events: none;
            width: 3vw;
            height: 3vw;
            border-radius: 100%;
            font-size: 0;
            background-color: white;
            border: 6px solid rgba(69, 201, 151, 0.4);
            position: relative; }
            .easePopup .bodysHandler .popupBody .handler .row button.loading:after {
              content: '';
              transition: .1s .1s;
              position: absolute;
              top: -6px;
              right: -6px;
              bottom: -6px;
              left: -6px;
              border-radius: 50px;
              border: 6px solid transparent;
              border-top-color: #45C997;
              -o-animation: spin 1s linear infinite;
              -moz-animation: spin 1s linear infinite;
              -webkit-animation: spin 1s linear infinite;
              animation: spin 1s linear infinite; }
          .easePopup .bodysHandler .popupBody .handler .row .btn {
            color: white;
            width: 80%;
            font-size: 1.5vw;
            margin: 0px auto;
            background-color: #45C997;
            outline: none;
            opacity: 1;
            white-space: normal;
            border-radius: 8px; }
            .easePopup .bodysHandler .popupBody .handler .row .btn.locked {
              background-color: #808080;
              pointer-events: none; }
              .easePopup .bodysHandler .popupBody .handler .row .btn.locked:hover {
                opacity: 1; }
            .easePopup .bodysHandler .popupBody .handler .row .btn:hover {
              opacity: 0.7; }

/*# sourceMappingURL=PopupWindow.css.map */
