.CatalogViewTab + #tipsHandler{
	.tip.catalogNeed.show {
		transition: opacity .3s, visibility .3s, transform .3s cubic-bezier(.62,-0.66,.27,1.63);
		width: 15vw;
		overflow: hidden;
		opacity: 0;	
		visibility: hidden;
		pointer-events: none;
		z-index: -1;
		position: absolute;
		background-color: #efefef;
		border-radius: 5px;
		border: 1px solid #ccc;
		transform: scale(0.2);
	}
}
.CatalogViewTab.show + #tipsHandler {
	.tip.catalogNeed.show {
		transition: opacity .3s, visibility .3s, transform .3s cubic-bezier(.62,-0.66,.27,1.63);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		z-index: 1;
		transform: translateX(-50%) scale(1);
	}
}

#tipsHandler {
	font-family: $defaultFont;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	.tip[step='1'] {
		width :530px;
		left: 50%;
		top:50%;
		transform: translateX(-50%) translateY(-50%) scale(0.2);
		&.show {
			transform: translateX(-50%) translateY(-50%) scale(1);
		}
	}
	.tip[step='2'], .tip[step='3'] {
		right: 1%;
	}
	.tip {
		h3 {
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.content {
			font-size: 1rem;
			margin-bottom: 20px;
		}
		.buttonHandler {
			margin-top: 20px;
			text-align: right;
			.btn {
				width: 150px;
				height: 50px;
				background-color: #4990e2;
				border-radius: 8px;
				color: white;
				font-size: 24px;
			}
		}
	}
	.tip {
		transition: opacity .3s, visibility .3s, transform .3s cubic-bezier(.62,-0.66,.27,1.63);
		overflow: hidden;
		opacity: 0;	
		visibility: hidden;
		pointer-events: none;
		z-index: -1;
		position: absolute;
		background-color: #efefef;
		border-radius: 5px;
		padding: 25px 20px;
		border: 1px solid #ccc;
		transform: scale(0.2);
		box-shadow: -2px 2px 15px #b3b3b3;
		&.show {
			transition: opacity .3s, visibility .3s, transform .3s cubic-bezier(.62,-0.66,.27,1.63);
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			z-index: 1;
			transform: scale(1);
		}
	}

}