<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ease</string>
	<key>Builder Version</key>
	<string>12603.2.4</string>
	<key>CFBundleDisplayName</key>
	<string>EaseExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.ease.easeextension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.3</string>
	<key>CFBundleVersion</key>
	<string>223</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>safari-2/background/background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>safari-2/overlay/injectOverlay.js</string>
				<string>safari-2/checkConnections/connectionListener.js</string>
				<string>safari-2/contentScripts/actions.js</string>
				<string>safari-2/contentScripts/connect.js</string>
				<string>safari-2/contentScripts/logout.js</string>
				<string>safari-2/easeActions/updatesSender.js</string>
				<string>safari-2/tools/extension.js</string>
				<string>safari-2/tools/extensionLight.js</string>
				<string>safari-2/easeActions/easeListener.js</string>
				<string>safari-2/facebookCo/checkFacebookConnection.js</string>
				<string>safari-2/overlay/injectOverlayScrap.js</string>
				<string>safari-2/scrappingTuto/scrapLinkedin.js</string>
				<string>safari-2/scrappingTuto/scrapFacebook.js</string>
				<string>safari-2/scrappingTuto/scrapChrome.js</string>
				<string>safari-2/easeActions/scrapping.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>safari-2/jquery-3.1.0.js</string>
				<string>safari-2/tools/extensionLight.js</string>
				<string>safari-2/tools/extension.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>safari-2/overlay/overlay.css</string>
			<string>safari-2/overlay/overlayScrap.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Awesome tool to log you on your favorite websites ;)</string>
	<key>DeveloperIdentifier</key>
	<string>45P859NKD6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://ease.space/safariExtension/Update.plist</string>
	<key>Website</key>
	<string>https://ease.space</string>
</dict>
</plist>
