<div id="buttonShow" style="background-color: rgba(0,0,0,0);">
		<i></i>
</div>
<div class="footer" style="display: none">

	<div class="mediaTab">
		<div class="link">
		<a href="https://www.facebook.com/YourEaseSpace/"  target="_blank"><i class="fa fa-facebook"></i></a>
		</div>
		<div class="link">
		<a href="https://twitter.com/ease_space"  target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="link">
		<a href="https://www.linkedin.com/company/ease.space"  target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="link">
		<a href="https://www.instagram.com/ease.space/"  target="_blank"><i class="fa fa-instagram"></i></a>
		</div>
		<div class="link">
		<a href="/discover"  target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
		</div>
		<div class="link">
		<a href="/secure.jsp"  target="_blank"><i class="fa fa-lock" aria-hidden="true"></i></a>
		</div>
	</div>
	<div class="credits">
		<p>Background picture : <a target="_blank" href="https://unsplash.com">unsplash.com</a></p>
		<p>Icons : <a target="_blank" href="http://fontawesome.io/">fontawesome.io</a></p>
	</div>
</div>
