
<form action="Connection" method="POST" class="center-block">
				<span class="input input--akira">
					<input class="input__field input__field--akira" type="email" name="userid" id="input-23" />
					<label class="input__label input__label--akira" for="input-23">
						<span class="input__label-content input__label-content--akira">Email</span>
					</label>
				</span>
				<span class="input input--akira">
					<input class="input__field input__field--akira" type="password" name="password" id="input-23" />
					<label class="input__label input__label--akira" for="input-23">
						<span class="input__label-content input__label-content--akira">Password</span>
					</label>
				</span>
    <button class="btn btn-default btn-primary btn-group btn-lg" type="submit" id="helloButton">Login</button>
</form>