<div id="mobileBody">
	<div class='logo'>
		<img src="resources/images/Ease_Logo.svg"/>
	</div>
	<div class='mobile-overlay'>
		<h3>Ease is not alvailable on mobile yet !</h3>
		<h3>Try it on your computer ;)</h3>
	</div>
	<div class="mobile-footer">
		<div>
		<a href="https://www.facebook.com/YourEaseSpace/"  target="_blank"><i class="fa fa-facebook"></i></a>
		</div>
		<div><br>
		<a href="https://twitter.com/ease_space"  target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<div><br>
		<a href="https://www.linkedin.com/company/ease.space"  target="_blank"><i class="fa fa-linkedin"></i></a>
		</div>
		<div>
		<a href="https://www.instagram.com/ease_app/"  target="_blank"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</div>