@import 'variables';
@import 'mixins';

#logged-body {
	top: 0;
}

.admin-menu {
	position: absolute;
	top: 0;
	left: 1%;
	margin-bottom: 75px;

	div {
		width: fit-content;
		height: 75px;
		position: relative;
		margin-top: 10px;

		.adminButton {
			max-width: 75px;
			min-width: 0;
			width: 75px;
			height: 75px;
			background-color: #373b60;
			border-radius: 10px;
			padding: 7px;
			margin: 0;
			transition: background-color 0.3s;

			&:hover {
				cursor: pointer;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		.adminButton.on {
			background-color: #42b72a;
		}
	}
}

.RightSideViewTab.show {
	transition: opacity 0.6s ease;
	height: auto;
	opacity: 1;
	padding: 5px;
}

.RightSideViewTab {
	user-select: initial;
	height: 0;
	opacity: 0;
	top: 0;
	transition: opacity 0.6s ease;
	width: 90%;
	float: left;
	left: 10%;
	overflow: hidden;
	position: relative;
	background-color: white;

	#quit {
		position: fixed;
		top: 1%;
		right: 1%;
		background-color: $themeRedColor;
		color: white;
		border: none;
		border-radius: 5px;
		width: 25px;
		height: 25px;
		padding: 0;
		outline: none;
	}

	.presentation {
		text-align: center;
		margin-bottom: 30px;
	}

	.flex-row {
		display: flex;
	}

	.centered-row {
		margin-left: auto;
		margin-right: auto;
	}
}

.addUsersView {
	width: 100%;
	font-family: $defaultFont;

	.addUsersProgress.hidden {
		display: none;
	}

	.addUsersProgress {
		padding: 20px 10px 10px;
		text-align: center;
		width: 90%;
		margin: 0 auto;

		.DivHeader {
			font-size: 12px;
		}

		#progressStatus {
			i {
				font-size: 25px;
				vertical-align: center;
				color: $themeColor;
			}

			.progress {
				width: 80%;
				height: 100%;
				margin-left: 10%;
				vertical-align: middle;
				font-size: 12px;
				line-height: 100%;

				p {
					background-color: #ececec;
				}
			}

			.buttonSet {
				display: inline-block;

				i {
					display: inline-block;
					color: #32c75a;
					padding: 1px 6px;
				}

				i.hidden {
					display: none;
				}

				button.hidden {
					display: none;
				}

				button {
					outline: none;
					border: none;
					background-color: white;

					i {
						padding: 0;
						color: black;
					}

					&:hover {
						i {
							padding: 0;
							color: $themeColor;
						}
					}
				}
			}
		}
	}

	.addUsers.hidden {
		display: none;
	}

	.addUsers {
		padding: 20px 10px 10px;
		text-align: center;
		width: 90%;
		margin: 0 auto;

		.DivHeader {
			font-size: 12px;
		}

		#addUsersForm {
			i {
				font-size: 25px;
				vertical-align: middle;
				color: $themeColor;
			}

			.inputs {
				width: 100%;
				position: relative;
				font-size: 12px;

				textarea.hidden {
					display: none;
				}

				textarea {
					vertical-align: middle;
					padding-left: 3px;
					border-radius: 3px;
					border: none;
					background-color: #ececec;
				}

				p.hidden {
					display: none;
				}

				p {
					border-radius: 3px;
					background-color: #ececec;
				}
			}

			.buttonSet {
				display: inline-block;

				i {
					display: inline-block;
					color: #32c75a;
					padding: 1px 6px;
				}

				i.hidden {
					display: none;
				}

				button.hidden {
					display: none;
				}

				button {
					outline: none;
					border: none;
					background-color: white;

					i {
						padding: 0;
						color: black;
					}

					&:hover {
						i {
							padding: 0;
							color: $themeColor;
						}
					}
				}
			}
		}
	}

	.addUsersHeader {
		padding: 5px;
		width: 60%;
		text-align: center;
		color: $themeColor;
		margin: 2% auto 0;
		border-bottom: 1px solid $themeColor;
		padding-bottom: 2%;

		p {
			font-weight: 600;
			color: $themeColor;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 15px;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			line-height: 30px;
			border-radius: 10px;
		}
	}
}

.requestedWebsitesView {
	width: 100%;
	font-family: $defaultFont;
	line-height: 100%;

	.requests {
		max-height: 75vh;
		overflow: auto;
		width: fit-content;
		margin: auto;
		border: 1px solid $themeColor;
		border-radius: 5px;
		padding: 0;
		margin-top: 10px;

		.requestedWebsite.selected {
			background-color: $themeGreyColor;
			transition: background-color 0.3s ease;
			-webkit-transition: background-color 0.3s ease;
		}

		.requestedWebsite {
			padding: 10px;
			text-align: left;
			margin: 0;
			transition: background-color 0.3s ease;
			-webkit-transition: background-color 0.3s ease;

			a {
				text-decoration: none;
				margin: 2px;
				padding: 3px;
				border: 1px solid;
				user-select: none;
				outline: none;
				border-radius: 5px;
				color: white;
				display: inline-block;
				transition: background-color 0.3s ease;
				-webkit-transition: background-color 0.3s ease;

				&:hover {
					transition: background-color 0.3s ease;
					-webkit-transition: background-color 0.3s ease;
					background-color: white !important;
				}
			}

			a.done {
				background-color: $themeButtonGreenColor;
				border-color: $themeButtonGreenColor;

				&:hover {
					color: $themeButtonGreenColor;
				}
			}

			a.fail {
				background-color: $themeRedColor;
				border-color: $themeRedColor;

				&:hover {
					color: $themeRedColor;
				}
			}

			p {
				margin: 0;
			}

			.quit {
				background-color: $themeRedColor;
				color: white;
				border-radius: 100%;
				padding: 1px 5px;
				margin-right: 15px;
				outline: none;
				user-select: none;
				cursor: pointer;
			}
		}
	}

	.requestedWebsitesHeader {
		padding: 5px;
		width: 60%;
		text-align: center;
		color: $themeColor;
		margin: 2% auto 0;
		border-bottom: 1px solid $themeColor;
		padding-bottom: 2%;

		#sendAllMails {
			display: inline;
			float: left;
			border-radius: 5px;
		}

		p {
			display: inline;
			font-weight: 600;
			color: $themeColor;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 15px;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			line-height: 30px;
			border-radius: 10px;
		}
	}
}

.movable-websites {
	i.down,
	i.goDown,
	i.goTop,
	i.top {
		font-weight: bold;
		font-size: 1.3em;
		background-color: $themeColor;
		color: white;
		border-radius: 1.3em;
		margin: 0 1px;
		padding: 3px 6px;
		cursor: pointer;
	}
}

#EditGroupsTab {
	.infraList {
		display: flex;
		align-items: flex-start;

		.infraButton {
			margin-right: 1vw;
			padding: 2px 9px;
			border-radius: 10px;
			border: none;
			min-width: 6vw;
			width: fit-content;
			background-color: lightgray;
			color: black;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			outline: none;

			&:hover {
				background-color: black;
				color: lightgray;
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
			}
		}

		.infraButton.infraSelected {
			background-color: black;
			color: lightgray;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
		}

		.addNewInfra {
			display: inline-block;

			button#showNewInfraForm,
			form#addNewInfraForm {
				visibility: hidden;
				overflow: hidden;
				height: 0;
				opacity: 0;
				transition: visibility 0.3s ease, opacity 0.3s ease;
				-webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
			}

			button#showNewInfraForm.show,
			form#addNewInfraForm.show {
				visibility: visible;
				height: auto;
				opacity: 1;
				transition: visibility 0.3s ease, opacity 0.3s ease;
				-webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
			}

			button#showNewInfraForm {
				padding: 0;
				border: 0;
			}

			button#showNewInfraForm.show {
				padding: 2px 9px;
				border-radius: 10px;
				border: none;
				min-width: 6vw;
				width: fit-content;
				background-color: $themeColor;
				color: white;
			}
		}
	}

	.results {
		display: flex;
		align-items: flex-start;
		margin-top: 10vh;

		.groupApps,
		.groupList,
		.groupProfiles,
		.userList {
			padding: 1vw;
		}

		.groupList {
			.group {
				.groupName {
					font-weight: bold;

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}

				.groupChildren {
					margin-left: 3vw;
				}
			}
		}
	}
}

#UnregisteredUsersTab {
	#results {
		height: 60vh;
		border: 1px solid;
		border-radius: 5px;
		overflow: scroll;
		padding: 10px;

		.delete-unregistered-email {
			color: white;
			background-color: red;
			margin-right: 1vw;
			padding: 1px;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

#WebsitesVisitedTab {
	#blacklist,
	#results,
	#websitesBroken,
	#websitesDone {
		max-height: 70vh;
		border: 1px solid;
		border-radius: 5px;
		overflow: scroll;
		padding: 10px;

		div {
			padding: 3px;

			button {
				color: white;
				background-color: $themeColor;
				border: 1px solid $themeColor;
				padding: 2px;
				margin-right: 1vw;
				margin-left: 1vw;
				outline: none;
				border-radius: 5px;
				transition: all 0.3s ease;
				-webkit-transiton: all 0.3s ease;

				&:hover {
					transition: all 0.3s ease;
					-webkit-transiton: all 0.3s ease;
					background-color: white;
					color: $themeColor;
				}
			}
		}
	}
}

#TagsManagerTab {
	#tags {
		.tag {
			margin: 5px;
			border-radius: 5px;
			color: white;
			user-select: none;

			span {
				padding: 4px 6px;

				&:last-child {
					border-left: 1px solid;
				}
			}
		}
	}

	.tag-websites {
		width: 75%;

		#catalogWebsites,
		#tag-websiteList {
			opacity: 1;
			overflow: auto;
			transition: opacity 0.3s ease;
			-webkit-transition: opacity 0.3s ease;

			.website {
				width: 7%;
				border-radius: 5px;
				margin: 1%;
				display: inline-block;
				position: relative;
				vertical-align: top;

				.logo {
					position: relative;

					img {
						width: 100%;
						border-radius: 5px;
						cursor: pointer;
					}

					.tick {
						visibility: hidden;
						position: absolute;
						right: 0;
						top: 0;
						opacity: 0;
						background-color: rgba(0, 0, 0, 0.3);
						transition: visibility 0.3s ease, opacity 0.3s ease;
						-webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
					}
				}

				p {
					font-size: smaller;
					overflow: hidden;
					text-overflow: ellipsis;
					letter-spacing: 0.5px;
					white-space: nowrap;

					&:hover {
						white-space: pre-line;
					}
				}
			}

			.website.selected {
				.tick {
					visibility: visible;
					opacity: 1;
					transition: visibility 0.3s ease, opacity 0.3s ease;
					-webkit-transition: visibility 0.3s ease, opacity 0.3s ease;
				}
			}

			.website.untagged {
				.untagged {
					position: absolute;
					right: 0;
					width: 25%;
					background-color: $themeRedColor;
					height: 25%;
					border-radius: 100%;
					box-shadow: 0 0 0 3px #656565;
				}
			}
		}

		#tag-websiteList {
			#addTagWebsite {
				background-color: $themeColor;
				cursor: pointer;
			}
		}

		#catalogWebsites.hidden,
		#tag-websiteList.hidden {
			display: block !important;
			opacity: 0;
			transition: opacity 0.3s ease;
			-webkit-transition: opacity 0.3s ease;
			overflow: hidden;
		}
	}

	#tag-settings {
		position: relative;

		.tag-settings-color,
		.tag-settings-color-selected {
			color: white;
			text-align: center;
			cursor: pointer;
		}

		#AddTagMode {
			display: block;
			margin-bottom: 1vh;
		}

		.tag-settings-color-selected {
			margin: 2vh 0;
		}

		.tag-settings-colors {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease;
			-webkit-transition: max-height 0.3s ease;
		}

		.tag-settings-colors.show {
			max-height: 40vh;
			overflow: auto;
			margin-bottom: 2vh;
			transition: max-height 0.3s ease;
			-webkit-transition: max-height 0.3s ease;
		}

		.settings-button {
			position: relative;
			outline: none;
			border: 1px solid $themeColor;
			color: white;
			border-radius: 5px;
			background-color: $themeColor;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;

			&:hover {
				background-color: white;
				color: $themeColor;
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
			}
		}

		.settings-button.active {
			background-color: white;
			color: $themeColor;
		}

		#tag-delete.settings-button {
			position: absolute;
			right: 0;
			overflow: auto;
			visibility: visible;
			opacity: 1;
			transition: opacity 0.3s ease;
		}

		#tag-delete.settings-button.hide {
			position: absolute;
			border: none;
			visibility: hidden;
			opacity: 0;
			overflow: hidden;
		}
	}
}
