#dashboard {
  margin-top: -60px;
  padding-top: 60px;
  height: 100%;
  @include display-flex();
  @include flex-direction(column);
  .ui.container {
    padding: 10px;
    overflow: auto;
    @include justify-content(center);
  }
}

.app_group {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #e1e1e1;
  padding: 25px 40px 50px 40px;
  .app_group_name {
    margin-bottom: 5px;
    .input.ui {
      width: 100%;
      input {
        border-radius: 0;
        text-align: center;
        padding: 0;
        border:none;
        box-shadow: none;
        &:focus {
          background-color: $themeLightGreyColor;
        }
      }
    }
  }
  .apps_container {
    @include display-inline-flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    width: 100%;
    .app {
      width: 60px;
      margin-top: 20px;
      .app_notification {
        position: absolute;
        z-index: 1;
        transform: translate3d(-35%, -35%, 0);
      }
      .logo_area {
        position: relative;
      }
      .logo_handler {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: -5px 5px 10px 0 rgba(black,.15);
        img {
          border-radius: 5px;
          width: 100%;
        }
        &:hover {
          cursor: pointer;
          .settings_button {
            transition: all .3s ease;
            transform: translateY(0);
            &:hover {
              font-size: 9px;
            }
          }
        }
        .settings_button {
          position: absolute;
          bottom:0;
          left:0;
          transition: all .3s ease;
          transform: translateY(100%);
          text-transform: uppercase;
          font-weight: bold;
          right: 0;
          border:none;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 4px;
          color:white;
          font-size: 8px;
          background-color: #424242;
          text-align: center;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
      .app_name {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-size: .7rem;
        color: $themeBlue2Color;
      }
    }
  }
}

.rounded_label {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 100%;
  font-size: 12px;
  left: 0;
  top: 0;
  i {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.app_settings_modal {
  .menu.ui {
    margin-left: -30px;
    margin-right: -30px;
    padding: 0 30px;
  }
}