@import 'variables';
@import 'animation';
@import 'Profiles';
@import 'MenuButtonSet';
@import 'DropDownUserMenu';
@import 'UIElements/textInputLogin';
@import 'UIElements/PopupWindow';
@import 'UIElements/SimpleAlertPopup';
@import 'UIElements/downloadExtension';
@import 'settingsView';
@import 'catalogView';
@import 'Footer';
@import 'Header';
@import 'InvitationPage';
@import 'letsgocss';
@import 'AdminMenu';
@import 'csshake/csshake';
@import 'Mobile';
@import 'Statistics';
@import 'LostPassword';
@import 'Forms';
@import 'Logout';
@import 'hiddenProfile';
@import 'page500';
@import 'buttons';
@import 'Extension';
@import 'dashboard';
@import 'UIElements/Tips';
@import 'UIElements/EasePopups';
@import 'LanguageChooser';
@import 'mixins';

/*  hover  */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.basic_scrollbar {
  ::-webkit-scrollbar {
    position: absolute !important;
    -webkit-appearance: none !important;
    width: 8px !important;
  }
  ::-webkit-scrollbar-corner {
    background: #fff !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #d9d9de !important;
    box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px !important;
    min-height: 36px !important;
    background-clip: padding-box!important;
    border-radius: 3px !important;
    color: #fff !important;
  }
  ::-webkit-scrollbar-track {
    background: #f3f3f3 !important;
    box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0 !important;
    background-clip: padding-box!important;
    border-radius: 3px !important;
    color: #fff !important;
  }
}

.lite_scrollbar {
  ::-webkit-scrollbar {
    position: absolute !important;
    -webkit-appearance: none !important;
    width: 12px !important;
  }
  ::-webkit-scrollbar-corner {
    background: #fff !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #d9d9de !important;
    box-shadow: none !important;
    min-height: 36px !important;
    background-clip: padding-box!important;
    color: #fff !important;
    border:3px solid transparent !important;
    border-radius: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: #f3f3f3 !important;
    box-shadow: none !important;
    background-clip: padding-box!important;
    color: #fff !important;
    border:3px solid transparent !important;
    border-radius: 6px !important;
  }
}

.bordered_scrollbar {
  ::-webkit-scrollbar {
    position: absolute !important;
    -webkit-appearance: none !important;
    width: 12px !important;
  }
  ::-webkit-scrollbar-corner {
    background: #fff !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #d9d9de !important;
    box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px !important;
    min-height: 36px !important;
    background-clip: padding-box!important;
    color: #fff !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-radius: 6px/4px !important;
  }
  ::-webkit-scrollbar-track {
    background: #f3f3f3 !important;
    box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0 !important;
    background-clip: padding-box!important;
    color: #fff !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-radius: 6px/4px !important;
  }
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ease-background {
  &:before {
    content: '';
    z-index: -1;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    position: fixed;
    background-image: url(../resources/backgrounds/background.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    -webkit-transition: opacity 1000ms linear;
    -moz-transition: opacity 1000ms linear;
    -o-transition: opacity 1000ms linear;
    -ms-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
  }
}

#dashboard + #ease_header {
  border-bottom: none;
  &:before {
    content: '';
    transition: height .3s ease;
    top:0;
    background-color: white;
    height: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}

#dashboard.scrolling + #ease_header {
  &:before {
    transition: height .3s ease;
    height: 100%;
    border-bottom: 1px solid #E1E1E1;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#app {
  @include display-flex();
  width: 100%;
  height:100%;
}
.shake-ease {
  @include do-shake('shake-ease', 2px, 1px, 3, 1700ms, .05, $opacity: false);
}

.ui.menu {
  min-width: inherit;
  overflow: inherit;
  position: inherit;
}

.ui.disabled.input, .ui.input:not(.disabled) input[disabled] {
  opacity: inherit;
}

.max-border-radius {
  border-radius: 100%;
}

.fw-normal {
  font-weight: normal !important;
}

.full_screen_view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10vh 2rem 2rem;
  color: $themeDarkGrayTextColor;
}

.ui.search.inverted {
  .ui.icon.input > input {
    padding: .67857143em 1em !important;
    padding-left: 2.67142857em!important;
  }
  .ui.icon.input>i.icon {
    left: 0;
    right: inherit;
  }
}

.ui.container {
  padding-left: 0;
  padding-right: 0;
}

i.icon.hide {
  display: inherit !important;
}

.ui.grid > .row {
  display: inline-block;
  float: left;
  & > .column {
    display: inline-block;
    float: left;
  }
}

.ui.input.max-border-radius input {
  border-radius: 500px;
}

.ui.fluid.search > .input {
  width: 100%;
}

.ui.checkbox.mini {
  font-size: inherit;
}

[type="submit"]{
  -webkit-appearance: inherit;
}

.inline-text-button, button.inline-text-button, button.button-unstyle.inline-text-button {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

button.inline-text-button {
  font-weight: bold;
  &.primary {
    color: #2185d0;
    &:hover {
      color: #1678c2;
    }
  }
}

a:hover {
  cursor: pointer;
}

.scaleinAnimation {
 @include scalein-anim('scale-09', 0.9);
}
.scaleOut12 {
  @include scalein-anim('scale-09', 1.2);
}

.infiniteScaleAnimation {
  @include animation(singleScaleOut .5s linear infinite alternate);
}

html {
  font-size: 18px !important;
}

#single_ease_logo_handler {
  position: fixed;
  top:0;
  left: 0;
  height: 75px;
  z-index: 1;
}

#main_navbar {
  min-width: inherit;
  position: relative;
  overflow: inherit;
}

.inline-tooltipped {
  display: inline-block;
  position: relative;
}

.tooltipped {
  position: relative;
}

.marginAuto {
  margin: auto;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

button, input, optgroup, select, textarea {
  font-family: $defaultFont;
}

.label {
  white-space: inherit;
  text-align: inherit;
}

.ui.celled.grid > .row{
  box-shadow: none;
  border-top:1px solid #e8e8e8;
  &:first-child {
    border-top: none;
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.ui.dropdown .menu {
  z-index: 100;
}

.ui.form:last-child {
  margin-bottom: 0;
}

//checkbox semantic style change
.ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
  width: 18px;
  height: 18px;
}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
  min-height: 1rem;
}

.ui.toggle.checkbox {
  min-height: 1rem;
}

.ui.fitted.toggle.checkbox {
  width:2rem;
}

.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before {
  background-color: #aeafaf;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #45C997 !important;
}
.ui.toggle.checkbox input~.box:after, .ui.toggle.checkbox input~label:after {
  left:2px;
  top:2px;
}

.ui.toggle.checkbox input:checked~.box:after, .ui.toggle.checkbox input:checked~label:after {
  top: 2px;
  left:15px;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  width:35px;
  height: 22px;
}
//checkbox semantic style change end

#app-root {
  @include display-flex();
  @include flex-direction(column);
  @include flex-grow(1);
  font-family: $defaultFont;
  font-size:1rem;
}

.waiting-load {
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    border: 5px solid #6A6A6A;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    @include animation(spin-centered 650ms infinite cubic-bezier(.17,.67,.83,.67));
  }
}

.teams_tutorial_tooltip {
  font-size: 20px !important;
  z-index: 11 !important;
  opacity: 1 !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}

.ease_tooltip {
  z-index: 10 !important;
  opacity: 1 !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}

.custom-overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  z-index: 10;
}

/* crisp chat button color */
body .crisp-client .crisp-1 .crisp-11 {
  background-color: $themeColor !important;
}

/* hide connexion popup when plugin log out from apps */
.logout-overlay:not(.hide) + .popupHandler {
  display: none;
}

.text-underlined {
  text-decoration: underline;
}

.text_strong {
  font-weight: bold;
}

a.link-unstyle {
  text-decoration: none;
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.divider.hidden {
  display: inherit !important;
}

.row {
  margin-right: inherit;
  margin-left: inherit;
}

.ui.header .ui.label {
  margin-left: 0;
}

.ui.dropdown.mini {
  .menu {
    .item {
      font-size: .78571429rem;
    }
  }
}

.ui.label {
  i.icon:last-child {
    margin-right: 0;
  }
  i.icon:first-child {
    margin-right: inherit;
  }
}

button.button-unstyle {
  background: inherit;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
}

.icon_left {
  margin-right:5px;
}

.squared_image_handler {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    border-radius: 5px;
    height: 100%;
  }
}
.modal_input_wrapper {
  @include display-flex();
  @include align-items(center);
  border: 1px solid $themeGreyDarkColor;
  position: relative;
  border-radius: 5px;
  &:hover {
    border:1px solid $themeBlue2Color;
    .input_icon {
      color: $themeBlue2Color;
    }
  }
  .input_icon {
    position: relative;
    margin-left:10px;
    color: $themeGreyDarkColor;
  }
  input {
    @include flex(1);
    padding: 10px;
    color: $themeBlue2Color;
    &::placeholder {
      color: $themeGreyDarkColor;
    }
  }
}
input.modal_input, select.modal_input {
  border-radius: 5px;
  padding: 10px;
  color: $themeBlue2Color;
  border: 1px solid $themeGreyDarkColor;
  &:hover {
    border:1px solid $themeBlue2Color;
  }
  &:focus {
    border:1px solid $themeBlue2Color;
  }
  &::placeholder {
    color: $themeGreyDarkColor;
  }
}

.credit-card-preview {
  width: 350px;
  font-size: 1rem;
  height: 75px;
  background-color: white;
  border-radius: 4px;
  border: solid 1px #dededf;
  .icon {
    margin:0;
    @include flex-shrink(0);
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-basis(75px);
    flex-basis: 75px;
    font-size: 40px;
  }
  .info {
    @include flex-grow(1);
    padding: 10px;
    overflow: hidden;
  }
  .name {
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .number {
    font-size: .9rem;
    color: $themeBlue2Color;
  }
}

.underlineOnHover{
  &:hover {
    text-decoration: underline;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.mrgn0 {
  margin: 0 !important;
}

.mrgnBottom5 {
  margin-bottom: 5px !important;
}
.mrgnTop5 {
  margin-top: 5px !important;
}
.mrgnLeft5 {
  margin-left: 5px !important;
}
i.icon.mrgnLeft5 {
  margin-left: 5px !important;
}
.mrgnRight5 {
  margin-right: 5px !important;
}

.text-muted {
  color: $themeGreyDarkColor !important;
}
.width50{
  width: 50%;
}
.width100 {
  width: 100%;
}

.blue_text_button {
  color: $themeBlueColor;
  &:hover {
    text-decoration: underline;
  }
}

.popover_mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.input_unstyle {
  outline: none;
  background: none;
  border: none;
  padding: 0;
}

input.checkbox_unstyle[type=checkbox] {
  margin: 0 0 0 0;
}

.select_unstyle {
  background: none;
  outline: none;
  border-radius:5px;
}

.capitalize {
  text-transform: capitalize !important;
}

.first_word_capitalize {
  &:first-letter {
    text-transform: capitalize;
  }
}
.block {
  display: block !important;
}
.display-inline-block {
  display: inline-block;
}

.full_height {
  height: 100%
}

.full_width {
  width: 100%;
}
.overflow-ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.display-flex {
  @include display-flex();
}

.display-inline-flex {
  @include display-inline-flex();
}

.justify_content_center {
  @include justify-content(center);
}

.justify_content_space {
  @include justify-content(space-between);
}

.flex_column {
  @include flex-direction(column);
}

.min_flex_shrink {
  @include flex-shrink(0);
}

.align_items_center {
  @include align-items(center);
}

.input {
  .showPassDiv {
    position: absolute;
    width: 23px;
    right: 1px;
    cursor: pointer;
    border-radius: 5px;
    height: 90%;
    top: 5%;
    color: $themeColor;
    .fa-eye {
      display: none;
    }
    .fa-eye-slash {
      display: block;
    }
    &.show {
      .fa-eye {
        display: block;
      }
      .fa-eye-slash {
        display: none;
      }
    }
  }
}

/* fa-stack for font awesome */
.fa-stack {
  .fa-stack-1x {
    color: white;
  }
}

/* general input styles */
input[type]:not([readonly]), textarea:not([readonly]) {
  outline: none;
  transition: box-shadow .3s;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  &:focus {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  }
}

body {
  font-family: $defaultFont;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;

  ::-webkit-scrollbar {
   width: 7px;
   position: absolute;
 }
 ::-webkit-scrollbar:horizontal {
  height: 7px;
  position: absolute;
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
 -webkit-border-radius: 10px;
 border-radius: 10px;
}
::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
 border-radius: 10px;
 background: rgba(#afb0bf,0.8);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(#afb0bf,0.4);
}
}

#chatButton {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 1%;
  bottom: 2%;
  cursor: pointer;
  background-color: $themeColor;
  border: 1px hidden $themeGreyColor;
  border-radius: 5px;
  text-align: center;
  i.fa-comments-o {
    transition: transform .3s;
    line-height: 50px;
    font-size: 35px;
    color: white;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .chat-popover {
    transition: opacity .3s;
    position: absolute;
    min-width: 200px;
    max-width: 300px;
    pointer-events: none;
    right: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.2);
    .bubbleInfo {
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      display: inline-block;
      width: 90%;
      text-align: center;
      float: left;
      p {
        margin-bottom: 0px;
      }
    }
    .caret-helper {
      float: left;
      display: inline-block;
      margin-left: -2px;
      color: white;
      font-size: 30px;
      i {
        line-height: 50px;
      }
    }
  }
  &:hover {
    .chat-popover {
      transition: opacity .3s, transform .5s cubic-bezier(.62,-0.66,.27,1.63);
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
    i.fa-comments-o {
      transition: transform .3s;
      transform: scale(0.7);
    }
  }
}

.logoBckgrnd::before{
 opacity:0.1;
}

#mainBackgroundImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -100000;
  top: 0;
  left: 0;
}
.picBckgrnd::before {
 background-image:url(../resources/backgrounds/background.jpeg);
 background-position: 50% 50%;
 background-size: cover;
 -webkit-transition: opacity 1000ms linear;
 -moz-transition: opacity 1000ms linear;
 -o-transition: opacity 1000ms linear;
 -ms-transition: opacity 1000ms linear;
 transition: opacity 1000ms linear;
}

.ease_tipped {
  position: relative;
  &:hover {
    .ease_tip {
      transition: all 0s .3s;
      opacity: 1;
    }
  }
  .ease_tip {
    max-width: 250px;
    opacity: 0;
    color: white;
    position: absolute;
    z-index: 100;
    top:100%;
    text-align: center;
    background: black;
    margin: 8px 0;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: .7rem;
    font-weight:700;
    line-height: 1.3;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    &:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 0;
      height: 0;
      top: -6px;
      margin: -6px;
      border: 7px solid transparent;
      border-bottom-color: black;
    }
  }
}

.display_flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.full_flex {
  @include flex(1);
}

.min_flex {
  @include flex-shrink(0);
  @include flex-grow(0);
}

.flex_direction_column {
  @include flex-direction(column);
}

.mainBody {
  padding-top: 0px;
  background-color: white;
  overflow: hidden;
  &:before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:absolute;
  }
}
#loginBody {
  position: absolute;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  font-family: $defaultFont;
  .controls.show {
    display: block;
  }
  .ease-logo {
    width: 12vw;
    img {
      width: 100%;
    }
  }
}
#loggedBody {
  height: 100%;
  top: 60px;
  position: fixed;
  width: 100%;
  transform: translateX(0);
  .col-left {
    position: absolute;
    overflow-y: overlay;
    overflow-x: hidden;
    height: 100%;
    margin-left: 0px;
    transition: margin .3s;
    -webkit-animation: fadeIn 0.8s 1;
    animation: fadeIn 0.8s 1;
    display: none;
  }
  .col-left.show {
    display: block;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleIt {
  0% {
   transform: perspective(1000px) translateZ(0px) rotateX(0deg);
 }
 30% {
   transform: perspective(1000px)translateZ(-300px) rotateX(0deg);
 }
 50% {
   transform: perspective(1000px)translateZ(-300px) rotateX(180deg);
 }
 70% {
   transform: perspective(1000px)translateZ(-300px) rotateX(360deg);
 }
 100% {
   transform: perspective(1000px) scaleX(1) translateZ(0px) rotateX(360deg);
 }
}
@-webkit-keyframes moveUp {
  0% {
   transform: translateY(0);
 }
 100% {
   transform: translateY(-0.5vw);
 }
}
#loading {
  position: relative;
  display: none;
  width: 10vw;
  height: 10vw;
  &.show {
    display: block;
  }
  .sk-circle{
    &:before {
      background-color: #45c997;
    }
  }
}

/* loading circle */
.loader {
  display: inline-block;
  position: relative;
  @include size(50px);
  vertical-align: middle;
}
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba($themeColor,0.4);
  &:after {
    content: '';
    @include absPosition(-6px, -6px, -6px, -6px);
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: $themeColor;
    @include animation(spin 1s linear infinite);
  }
}
@-webkit-keyframes spin {
  0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

@keyframes spin {
  0%{ -webkit-transform: rotate(0deg); tranform: rotate(0deg);}
  100%{ -webkit-transform: rotate(360deg); tranform: rotate(360deg);}
}

@-webkit-keyframes spin-centered {
  0%{ -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg); tranform:translate3d(-50%, -50%, 0) rotate(0deg);}
  100%{ -webkit-transform:translate3d(-50%, -50%, 0) rotate(360deg); tranform:translate3d(-50%, -50%, 0) rotate(360deg);}
}

@keyframes spin-centered {
  0%{ -webkit-transform:translate3d(-50%, -50%, 0) rotate(0deg); tranform:translate3d(-50%, -50%, 0) rotate(0deg);}
  100%{ -webkit-transform:translate3d(-50%, -50%, 0) rotate(360deg); tranform:translate3d(-50%, -50%, 0) rotate(360deg);}
}
/* loading circle end */

.FormsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  transition: background-color .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: auto;

  button {
    width: 65%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 7px;
    border-radius: 7px;
    font-size: 1.35vw;
    background-color: #6aa84f;
    border: none;
    color: white;
    outline: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1vw;
    &:hover {
      opacity: 0.7;
    }
  }
}

.floatRight {
  float:right;
}

.floatLeft {
  float: left;
}

#loginBody {
  .popupHandler{
    background-color: white;
    .landingPopup {
      border-radius: 20px;
      border: hidden;
      width: 20vw;
      color: black;
      &.show {
        border:1px solid #aaa;
      }
      .title {
        margin:1vw 0;
        font-family: $defaultFont;
        background-color: white;
        line-height: 3vw;
        border: none;
        padding: 0;
        p {
          font-size: 2.2vw;
        }
      }
      .bodysHandler .popupBody{
        padding-bottom: 0.5vw;
        border-radius: 20px;
        background-color: white;
        .handler {
          .alertDiv {
            display: none;
            &.show {
              display: block;
            }
          }
          .alertDiv {
            p {
              font-size: 1vw;
            }
          }
          .row {
            input, .input {
              margin-bottom: 1.2vw;
              font-size: 1vw;
              border-radius: 10px;
              padding: 0.4vw 5px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            button {
              width: auto;
              border-radius: 10px;
              font-size: 1.3vw;
              padding: 0.2vw 2vw;
              background-color: #45c997;
              &:hover {
                opacity: 0.7;
              }
            }
            .buttonLink {
              text-decoration: underline;
              font-size: 0.8vw;
              color: black;
              &:hover {
                cursor:pointer;
              }
            }
            .popupText {
              font-size: 1.1vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 771px) {
  #loginBody {
    .logo {
     width: 100%;
     margin-top: 0px;
   }
 }

 #loggedBody {
   .col-left {
    .ProfilesView {
     width: 100%;
     .item {
      .ProfileBox {
       width: 90%;
     }
   }
 }
}
}
}

.loginButton {
	margin-left: auto;
  margin-right: auto;
}


.logoImg{
	height: 125%;
	width: auto;
	margin: 0px;
	margin-top: -4px;
	float: left;
}

.alertDiv {
	display: none;
  color: $themeRedColor;
  font-size: 14px;
}

.userInfo {
	height: 100%;
	float: right;
}
.userInfo p {
	display: inline-block;
}

.logoutButton img {
	height: 100%;
	color: red;
}

.la-animate {
	z-index: 10000;
}

.cookiesInfo {
  text-align: center;
  padding: 5px;
  background-color: #B4E8C0;
  p, button {
    display: inline-block;
  }
  p {
    margin: 0px;
  }
  button {
    border: none;
    background-color: rgba(0,0,0,0);
  }
}

html {
  height: 100%;
  #errorPage {
    position: absolute;
    top: 0;
    background-color: $themeColor;
    background-image: url('../resources/backgrounds/astronaut.jpg');
    background-position: 50% 50%;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    .logo {
     width: 20%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     img {
      width: 100%;
    }
  }
  .holder {
    color: white;
    text-align: center;
    h2 {
      font-size: 50px;
    }
    a {
      font-size: 30px;
      color: white;
    }
  }
}

.ease-button {
  &:hover {
   cursor: pointer;
   transition: all 0.3s;
 }
}
}

.shadowHelper {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  @include box-shadow(inset 0px 5px 10px 0px white, inset 0px -5px 10px 0px white);
}

.no-pointer-events {
  pointer-events: none;
}

.homepageOnoffContainer{
  background-color : rgba(239, 239, 239, 0.89);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  position: absolute;
  vertical-align: middle;
  bottom : 2%;
  left : 1%;
  z-index: 100000;
  text-align: left;
  border-radius: 4px;
  margin : 0;
  span{
    font-size: 18px;
  }
  .onoffswitch {
    position: relative;
    display: inline-block;
    float: right;
    margin-left: 10px;
    width: 35px;
    margin-top: 3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .onoffswitch-checkbox {
   display: none;
 }
 .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block;
  width: 20px;
  height: 20px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #373B60;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #373B60;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px;
}
}

input {
  &:hover {
    cursor: text;
  }
}

input[type=checkbox]:hover{
	cursor:pointer !important;
}

.displayedByPlugin {
  display: none;
}

button[disabled] {
  cursor: not-allowed !important;
}

.sk-fading-circle {
  .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: black;
      border-radius: 100%;
      -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
      animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
  }
  .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    &:before {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
  }
  .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    &:before {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
  }
  .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    &:before {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
  .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    &:before {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
  .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
    &:before {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
  }
  .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    &:before {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
  }
  .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
    &:before {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
  }
  .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    &:before {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
  }
  .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    &:before {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    &:before {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
  }
  .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
    &:before {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
    }
  }
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.shake-anim {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.info-msg {
 position : fixed;
 left : 10px;
 top : 50px;
 margin: 10px 0;
 padding: 6px 0px 6px 9px;
 border-radius: 100%;
 color: #059;
 background-color: #BEF;
 opacity: 0.89;
 overflow:hidden;
 -webkit-transition: max-width 0.5s;
 transition: max-width 0.5s;
 -webkit-transition: border-radius 0.1s;
 transition: border-radius 0.1s;
 max-width: 50px;
 i {
  margin-right: 6px;
}
p {
  max-width: 0px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
  display: inline-block;
}
&:hover{
  border-radius: 5px;
  padding-right: 9px;
  max-width: 1000px;
  p {
   max-width: 1000px;
 }
}
}

.color-shadow {
  text-shadow: 0 0 30px #373B60, 0 0 20px #373B60, 0 0 10px #373B60
}

.black-shadow {
  text-shadow: 0 0 30px #000, 0 0 20px #000, 0 0 10px #000
}

/* password validation indicator */

.passwordValidator {
  font-size: 1.5vw;
  &.valid {
    .success {
      display: block;
    }
    .error {
      display: none;
    }
  }
  .success {
    display: none;
  }
  .error {
    display: block;
  }
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
}

//spinner loading
.sk-folding-loading {
  @include display-flex();
  @include align-items(center);
  position: absolute;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  background-color: white;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $themeColor;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}
//spinner loading end

//form inputs generic
.input_field {
  @include display-flex();
  @include flex-direction(column);
  input {
    width:100%;
  }
  .outcome {
    font-size: inherit;
    color: $themeRedLightColor;
    font-style: italic;
  }
}
//form inputs generic end

//Stripe csss
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
//Stripe csss end

//Semantic overrides
.ui.basic.button.textlike {
  padding: 5px;
  border: none;
  box-shadow: none;
}