@import 'variables';
@import 'mixins';

body {
	background-color: #efefef;
	h1, h2, h3 {
		font-family: $defaultFont;		
		font-weight: bold;
	}
}
section {
	padding-bottom: 0;	
}
section#first {
	h1 {
		margin: 30px 0;
		font-size: 50px;
		color:#4a4a4a;
	}
}
#formContainer {
	background-color: white;
	padding: 40px 80px;
	.row {
		h4 {
			color:#5c5c5c;
			margin-top: 10px;
			margin-bottom: 50px;
		}
		form#enterpriseContactForm{
			font-size: 14px;
			font-weight: bold;
			input, textarea {
				width: 100%;
				padding: 10px 10px;
				border: 1px solid black;
				border-radius: 5px;
				margin-bottom: 15px;
			}
			textarea {
				resize: vertical;
				overflow: auto;
			}
			button.btn {
				font-size: inherit;
				font-weight: inherit;
				padding: 15px 15px;
				margin-top: 15px;
				background-color: $themeButtonGreenColor;
				border: 1px transparent;
				&:hover {
					background-color: darken($themeButtonGreenColor, 10%);
				}
			}
		}
	}
}
#helps {
	font-size: 16px;
	line-height: 1.3;
	p {
		font-size: inherit;
		line-height: inherit;
	}
	& > div:first-child {
		border-right: 2px solid #aaa;
	}
}

@media screen and (max-width: 1200px) {
	#helps {
		& > div:first-child {
			border-right: none;
		}
	}
}