@import 'variables';

#buttonShow {
	height: 12px;
	background-color: rgba(0,0,0,0);
	width: 100%;
	line-height: 12px;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	bottom: 1%;
	i {
		display: inline-block;
		width: 2%;
		height: 8px;
		border-radius: 200px;
        border : 1px solid rgba(255,255,255,0.3);
		background-color: $themeColor;
	}
}

.footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	background-color: rgba(0,0,0,0);
	.mediaTab {
	background-color: $themeColor;
	padding: 5px 0px;
		.link {
			display: inline-block;
			background-color: $themeColor;
			width: 30px;
			height: 30px;
			border-radius: 30px;
			position: relative;
			&:hover {
				background-color: white;
				transition: .3s linear;
				a {
					color: $themeColor;
				}
			}
			a {
				width: 100%;
				height: 100%;
				color: white;
				font-size: 22px;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
	}
	.credits {
		position: absolute;
		bottom: 0px;
		margin-left: 5px;
		text-align: left;
		p {	
			left: 0px;
			color:white;
			font-size: 12px;
			a {	
				color: white;
				text-decoration: underline;
				&:hover{
					color:white;
					cursor: pointer;
				}
			}
		}
	}
}

#loginBody .phrase{
    position: absolute;
    bottom: 20px;
    left:calc(50% - 300px);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    p {
        text-shadow: 0 0 30px #373B60, 0 0 20px #373B60, 0 0 10px #373B60;
        color: white;
        font-size:18px;
        font-weight:600;
        a {
			color: white;
			text-decoration: underline;
            &:visited {
                color: white;
            }
            &:hover {
                color: lightgrey;
            }
            &:active {
                color: darkgrey;
            }
        }
    }
}
