@import 'variables';

.footer {
	height: 20px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	text-align: center;
	transition: .3s linear;
	background-color: rgba(0,0,0,0);
	&:hover {
		height: 60px;
		#buttonShow i {
			color: rgba(0,0,0,0);
		}
	}
	#buttonShow {
		background-color: rgba(0,0,0,0);
		width: 100%;
		height: 20px;
		i {
			font-size: 15px;
    		line-height: 10px;
    		color: $themeColor;
		}
	}
	.mediaTab {
	background-color: $themeColor;
	padding: 5px 0px;
		.link {
			display: inline-block;
			background-color: $themeColor;
			width: 30px;
			height: 30px;
			border-radius: 30px;
			position: relative;
			&:hover {
				background-color: white;
				transition: .3s linear;
				a {
					color: $themeColor;
				}			
			}				
			a {
				width: 100%;
				height: 100%;
				color: white;
				font-size: 22px;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);	
				}
			}
		}
	}
}