@import 'variables';

form.settingsForm {
  width: 50%;
  margin: auto;
  text-align: center;
  input {
    outline: none;
    margin-top: 3%;
    border-radius: 2px;
    border: 1px hidden;
    padding-left: 3px;
    width: 85%;
  }
}

#PopupAddApp form, #PopupModifyApp form {
  width: 80%;
  margin: auto;
  .lineInput {
    width: 100%;
    margin: 0;
    position: relative;
    line-height: 29px;
  }
  .loginWithChooser {
    padding: 0;
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    .linedSeparator {
      position: relative;
      p {
        padding: 5px;
      }
    }
  }
  .loginAppChooser {
    max-height: 500px;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    position: relative;
  }
  div.classicLogin {
    display: none;
  }
  div.classicLogin.show {
    display: block;
  }
  input {
    height: 29px;
    border-radius: 5px;
    border: 1px hidden;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    color: black;
    padding-left: 3px;
  }

  input[name='name'] {
    display: inline-block;
    margin-left: 14%;
    width: 60% !important;
  }
}

#AddAppForm, #modifyAppForm {
  div.login-group-input {
    margin: 2px auto;
  }
  input[name='login'] {
    margin: 0;
    width: 96%;
    border-radius: 5px 0 0 5px;
    &:focus {
      outline:0px !important;
      -webkit-appearance:none;
    }
  }
  i.fa-caret-down.email-suggestions {
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    line-height: 29px;
    width: 4%;
    padding-right: 1%;
    background-color: white;
    color: black;
  }
  .suggested-emails {
    max-height: 0;
    background-color: white;
    border-radius: 5px;
    transition: max-height 0.3s ease;
    position: relative;
    overflow: hidden;
    p.email-suggestion {
      color: black;
      padding: 2px;
      margin: 2px;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: $themeColor;
        color: white;
      }
    }
  }
  .suggested-emails.show {
    max-height: 100px;
    margin: 1px auto;
    transition: max-height 0.3s ease;
    overflow-y: auto;
  }
}

form {
  	.buttonSet {
    	text-align: center;
    	margin: 3% auto;
    	button {
      		border: 1px solid transparent;
      		background-color: #CCCCCC;
      		vertical-align: middle;
      		position: relative;
      		z-index: 1;
      		margin: 0px;
      		padding: 7px;
      		float: none;
      		min-width: 0px;
      		max-width: 100%;
      		width: 49%;
      		display: inline-block;
      		color: white;
      		border-radius: 3px;
    	}
    	button.Active {
      		border-color: $themeColor;
      		background-color: $themeColor;
      		@include scalein-anim('validateButton-anim', 1.05);
      		transition: all 0.3s ease;
      		&:hover {
        		transition: all 0.3s ease;
        		background-color: white;
        		color: $themeColor;
   			 }
   		}
    	button[oclass="CloseButton"] {
      		background-color: $themeDarkGreyColor;
      		color: white;
      		border-color: $themeDarkGreyColor;
      		&:hover {
        		background-color: darken($themeDarkGreyColor, 3%);
      		}
		}
	}
}
