@import 'variables';

.header {
	#logoutButton {
		position: relative;
		float: right;
		margin-right: 160px;
		background-color: $themeColor;
		color: white;
		border-radius: 3px;
		text-decoration: none;
		transition: all 0.3s;
		width: 100px;
		height: 70%;
		text-align: center;
		margin-top: 6px;
		padding: 4px;
		&:hover {
			cursor: pointer;
			transition: all 0.3s;
			background-color: rgba(0,0,0,0);
			color: $themeColor;
			border: 1px solid $themeColor;
		}
	}
}

#searchBar {
	width: 40%;
	height: 30px;
	font-size: 14px;
	background-color: rgba(239, 239, 239, 0.7);
	border-radius: 5px;
	input {
		width: 100%;
		position: relative;
		height: 100%;
		border: none;
		background: transparent;
		font-size: 17px;
		padding-right: 45px;
		padding-left: 8px;
		outline: none;
	}
	/*#loginBody input::-webkit-input-placeholder {
  	color: #F7F7F7;
	}
	#loginBody input::-moz-placeholder {
  	color: #F7F7F7;
	}
	#loginBody input:-ms-input-placeholder {
  	color: #F7F7F7;
	}
	#loginBody input:-moz-placeholder { 
  	color: #F7F7F7;
	}*/
	#searchBarButton {
		transition: all .5s;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 40px;
		text-align: center;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $themeColor;
		img {
			position: relative;
			height: 80%;
			top: 10%;
		}
		i {
			font-size: 25px;
			vertical-align: middle;
			line-height: 30px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	#searchBarButton.active {
		transition: all .5s;
		background-color: #C1C1C1;
		color: white;
	}
}
