@import 'variables';
@import 'mixins';

#main_header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-right: 5px;
	height: 60px;
	z-index: 1;
}

#ease_main_navbar {
	#notification_button {
		.menu {
			padding: 1px;
			width: 370px;
			max-height: 346px;
			right: -59px;
			overflow: auto;
			border: 2px solid transparent;
			&:before {
				right: 66px;
			}
			.menu_row {
				overflow: hidden;
				border-bottom: 1px solid white;
				padding: 0 0 0 0;
				&:last-child {
					border: none;
				}
			}
		}
	}
}

.notification-card {
	text-align: left;
	font-weight: normal;
	padding: 10px 20px;
	position: relative;
	&:hover {
		background-color: $themeGreyDarkColor;
	}
	&.new {
		background-color: $themeGreyLightColor;
		&:hover {
			background-color: $themeGreyDarkColor;
		}
		&:before {
			content: "\f111";
			left: 6px;
			font-size: 8px;
			color:$themeRedColor;
			top: 35%;
			position: absolute;
			font-family: FontAwesome;
		}
	}
	.date {
		color: $themeMediumDarkGreyColor;
	}
	.icon {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		@include flex-shrink(0);
	}
}

#ease_header {
	@include display-flex();
	@include align-items(center);
	@include flex-basis(60px);
	@include flex-shrink(0);
	position: relative;
	padding-right: 14px;
	height: 60px;
    border-bottom: 1px solid $themeGreyDarkColor;
	.logo_container {
		height: 100%;
		img {
			height: 100%;
		}
	}
}

#ease_main_navbar {
	position: relative;
	float: right;
	border: 1px solid $themeGreyDarkColor;
	border-radius: 5px;
	z-index: 3;
	height: 36px;
	background-color: white;
	button {
		border-right: 1px solid $themeGreyDarkColor;
		position: relative;
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:last-child {
			border-right: none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:hover {
			background-color: $themeGreyLightColor;
		}
		&.active {
			background-color: $themeGreyLightColor;
			.menu {
				display: block;
			}
		}
		.menu {
			display: none;
			width: 170px;
			min-width: 170px;
			overflow: inherit;
			background-color: white;
			top:100%;
			font-size: .7rem;
			font-weight: bold;
			right: 0;
			margin-top: 10px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			border:none;
			.menu_row {
				padding: 5px 10px;
				border-bottom: 1px solid $themeGreyDarkColor;
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	#catalog_button, #notification_button, #logout_button, #teams_button {
		width: 36px;
	}
	#catalog_button {
		background-color: $LightGreen;
		border: 1px solid $DarkGreen;
		&:hover {
			background-color: $DarkGreen;
		}
	}
	#settings_button {
		padding: 0 10px;
	}
}

#main_header {
	.logoImg {
		height: 100%;
		margin: 0;
	}
}

#ease_main_navbar {
	.team_select {
		a {
			text-align: left;
			width: 100%;
			text-decoration: none;
			color: $themeDarkGrayTextColor;
			&.active {
				color: $themeBlueColor;
			}
		}
	}
}

#team_adder {
	a {
		text-decoration: none;
		color: $themeDarkGrayTextColor;
		&.active {
			color: $themeBlueColor;
		}
	}
}
#teams_button {
	.icon {
		margin-right: 5px;
	}
	.team_select {
		border-bottom: none;
		@include display-flex();
	}
	.team_select, #team_adder {
		&:hover {
			background-color: $themeGreyLightColor;
		}
	}
}
#logout_button, #notification_button, #teams_button {
	.menu_arrow:before {
		right: 12px;
	}
	&:focus {
		background-color: $themeGreyLightColor;
		.menu {
			display: block;
		}
	}
}
.menu_arrow {
	&:before {
		content: "";
		position: absolute;
		top:-9px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid white;
	}
}
#logout_button {
	.menu_row {
		text-align: right;
		color: $themeRedLightColor;
		&:hover {
			cursor: pointer;
			background-color: $themeGreyLightColor;
		}
	}
}
#notification_button {
	&.notify {
		&:before {
			content: "\f111";
			font-family: FontAwesome;
			position: absolute;
			color: $themeRedLightColor;
			font-size: 11px;
			top:12px;
			left:15px;
			pointer-events: none;
		}
	}
}
.header {
	&:before {
		content: "";
		position:absolute;
		width: 100%;
		height: 100%;
		background-color: white;
		top: -100%;
		z-index: -1;
		transition: top .1s;
		border-bottom: 1px solid $borderFbColor;
	}
}

.header.scrolling {
	&:before {
		content: "";
		top: 0;
		transition: top .1s;
	}
}

.header#app {
	height: auto;
	#ease-header {
		border-bottom: none;
	}
}

.header{
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0px;
	#breakButton {
		&:hover {
			color: black;
		}
		span {
			text-transform: none;
			vertical-align: initial;
		}
		font-size: 12px;
		float: right;
		margin-right: 160px;
		height: 39px;
		color: white;
		background-color: rgba(0, 0, 0, 0);
		margin-top: 2px;
		margin-bottom: 0px;
	}
}

.header {
	.searchInput {
		display: none;
	}
}

.header {
	.userSettingsContainer, .logoutContainer {
		position: relative;
		overflow: hidden;
		float: right;
		margin-top: 6px;
		max-height: 30px;
		margin-right: 12px;
		text-decoration: none;
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}
	.userSettingsContainer {
		width: 190px;
		overflow: visible;
		font-family: $defaultFont;
		#userSettingsButton {
			padding: 5px;
			text-align: center;
			width: 100%;
			position: relative;
			float: right;
			background-color: #efefef;
			color: $themeColor;
			text-decoration: none;
			border-radius: 4px;
			cursor: pointer;
			font-family: $defaultFont;
			font-weight: bold;
			letter-spacing: 1px;
			span {
				text-decoration: none;
				display: inline-block;
				border-bottom: 1px solid transparent;
				width: fit-content;
				-webkit-transition: border 0.5s ease-in-out;
				transition: border 0.5s ease-in-out;
			}
			span:hover {
				-webkit-transition: border 0.5s ease-in-out;
				transition: border 0.5s ease-in-out;
				border-bottom: 1px solid $themeColor;
			}
		}
		.userSettings {
			visibility: hidden;
			opacity: 0;
			position: relative;
			margin-top: 42px;
			transition: opacity 0.3s ease, visibility 0.3s ease;
			text-align: center;
			.dropDownButton {
				position: relative;
				display: block;
				background-color: #efefef;
				border-radius: 4px;
				text-decoration: none;
				text-align: left;
				cursor: pointer;
				padding: 5px;
				width: 100%;
				color: $themeColor;
				margin-top: 12px;
				letter-spacing: 1px;
				.icon {
					font-size: 14px;
					.fa-stack-1x {
						color: white;
						font-size: 1.5em;
					}
					.fa-stack-2x {
						color:$themeColor;
					}
				}
			}
			.directSettings {
				background-color: #efefef;
				border-radius: 4px;
				position: relative;
				color: $themeColor;
				padding : 4px;
				.settingsHeader {
					border-bottom: 1px solid $themeColor;
					margin-bottom: 10px;
					text-align: left;
					letter-spacing: 1px;
				}
				.settingsRaw {
					margin : 0;
					margin-bottom: 5px;
					padding: 3px;
					position: relative;
					width: 100%;
					text-align: left;
					span.sliderContainer {
						margin-left: 26px;
					}
					span {
						letter-spacing: 1px;
					}
					.infoCircle {
						margin-left: 5px;
						position: relative;
						display: inline-block;
						i {
							transition: color .3s;
							color: #cccccc;						
						}
						.infoBubble {
							position: absolute;
							display: none;
							background-color: #ccc;
							bottom: calc(100% + 6px);
							right: -12px;
							z-index: 1;
							padding: 5px;
							width: 150px;
							border-radius: 10px;
							font-size: 13px;
							color:black;
							.caretHelper {
								background-color: #ccc;
								width: 10px;
								height: 10px;
								position: absolute;
								right: 12px;
								bottom: 0;
								transform: translateY(50%) rotateZ(45deg);
							}
						}
						&:hover {
							i {
								color: $themeColor;								
							}
							.infoBubble {
								display: block;
							}
						}
					}
				}
			}

		}
		.onoffswitch {
			position: relative;
			display: inline-block;
			float: right;
			width: 35px;
			-webkit-user-select:none;
			-moz-user-select:none;
			-ms-user-select: none;
		}
		.onoffswitch-checkbox {
			display: none;
		}
		.onoffswitch-label {
			display: block;
			overflow: hidden;
			cursor: pointer;
			height: 20px;
			padding: 0;
			line-height: 20px;
			border: 1px solid #CCCCCC;
			border-radius: 20px;
			background-color: #CCCCCC;
			transition: background-color 0.15s ease-in;
		}
		.onoffswitch-label:before {
			content: "";
			transition: background-color 0.15s ease-in;
			display: block;
			width: 20px;
			height: 20px;
			margin: 0px;
			background: $themeColor;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 15px;
			border: 1px solid #CCCCCC;
			border-radius: 20px;
			transition: all 0.15s cubic-bezier(0.33, 1.6, 0.66, 1) 0s;
		}
		.onoffswitch-checkbox:checked + .onoffswitch-label:before {
			right: 0px;
			background: #45c997;
		}
		.userSettings.show {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.15s ease, visibility 0.3s ease;
		}
	}
	.logoutContainer{
		width: 102px;
		#logoutButton {
			position: relative;
			float: right;
			background-color: #373b60;
			color: white;
			text-decoration: none;
			transition: all 0.3s;
			text-align: center;
			padding: 8px;
			border-radius: 4px;
			cursor: pointer;
		}
		.logoutOptions {
			position: fixed;
			display: block;
			width: 180px;
			margin-top: 35px;
			right: 87px;
			padding: 5px;
			opacity: 0;
			transition: opacity 0.3s ease, visibility 0.3s ease;
			visibility: hidden;
			overflow: hidden;
			#allLogoutButton, #easeLogoutButton {
				position: relative;
				display: block;
				float: right;
				background-color: #373b60;
				color: white;
				text-decoration: none;
				width: 150px;
				margin: 2px auto;
				border-radius: 3px;
				padding: 4px;
				height: 31px;
				overflow: hidden;
				border: 1px solid $themeColor;
				text-align: center;
				&:hover {
					cursor: pointer;
					transition: all 0.3s;
					background-color: white;
					color: $themeColor;
				}
			}
		}
		.logoutOptions.show {
			opacity: 1;
			visibility: visible;
			transition: opacity 0.3s ease, visibility 0.3s ease;
		}
	}
}


.header.scrolling {
	#searchBar {
		background-color: $themeLightGreyColor;
	}
	#userSettingsButton {
		background-color: $themeLightGreyColor;
	}
}
#searchBar {
	width: 40%;
	height: 30px;
	font-size: 14px;
	background-color: rgba(white, 0.89);
	border-radius: 5px;
	input {
		width: 100%;
		position: relative;
		height: 100%;
		border: none;
		background: transparent;
		font-size: 17px;
		padding-right: 45px;
		padding-left: 8px;
		outline: none;
	}
	#searchBarButton {
		transition: all .5s;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 40px;
		text-align: center;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $themeColor;
		img {
			position: relative;
			height: 80%;
			top: 10%;
		}
		i {
			font-size: 25px;
			vertical-align: middle;
			line-height: 30px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	#searchBarButton.active {
		transition: all .5s;
		background-color: #E1E1E1;
		color: white;
	}
}