#main_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 5px;
  height: 43px;
  z-index: 1; }
  #main_header nav {
    position: relative;
    float: right;
    margin-top: 4.5px;
    border: 1px solid #E1E1E1;
    border-radius: 5px; }
    #main_header nav button {
      border-right: 1px solid #E1E1E1;
      position: relative; }
      #main_header nav button:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      #main_header nav button:last-child {
        border-right: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      #main_header nav button:hover {
        background-color: #f8f8f8; }
      #main_header nav button.active {
        background-color: #f8f8f8; }
        #main_header nav button.active .menu {
          display: block; }
      #main_header nav button .menu {
        display: none;
        width: 170px;
        min-width: 170px;
        overflow: inherit;
        background-color: white;
        top: 100%;
        font-size: .7rem;
        font-weight: bold;
        right: 0;
        margin-top: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border: none; }
        #main_header nav button .menu .menu_row {
          padding: 5px 10px;
          border-bottom: 1px solid #E1E1E1; }
          #main_header nav button .menu .menu_row:last-child {
            border-bottom: none; }
    #main_header nav #catalog_button {
      background-color: #4FCB6C; }
      #main_header nav #catalog_button:hover {
        background-color: #3FA056; }
    #main_header nav #settings_button {
      padding: 0 10px; }

#main_header .logoImg {
  height: 100%;
  margin: 0; }

#team_button .icon {
  margin-right: 5px; }
#team_button .menu_row.teams_container {
  padding: 0 !important; }
#team_button .team_select {
  border-bottom: none; }
#team_button .team_select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  align-items: center; }
#team_button .team_select:hover, #team_button #team_adder:hover {
  background-color: #f8f8f8; }

#logout_button .menu_arrow:before, #notification_button .menu_arrow:before, #team_button .menu_arrow:before {
  right: 12px; }
#logout_button:focus, #notification_button:focus, #team_button:focus {
  background-color: #f8f8f8; }
  #logout_button:focus .menu, #notification_button:focus .menu, #team_button:focus .menu {
    display: block; }

.menu_arrow:before {
  content: "";
  position: absolute;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white; }

#logout_button .menu_row {
  text-align: right;
  color: #DF5454; }
  #logout_button .menu_row:hover {
    cursor: pointer;
    background-color: #f8f8f8; }

#notification_button.notify:before {
  content: "\f111";
  font-family: FontAwesome;
  position: absolute;
  color: #DF5454;
  font-size: 11px;
  top: 12px;
  left: 15px; }

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: -100%;
  z-index: -1;
  transition: top .1s;
  border-bottom: 1px solid #d0d1d5; }

.header.scrolling:before {
  content: "";
  top: 0;
  transition: top .1s; }

.header {
  height: 43px;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0px; }
  .header #breakButton {
    font-size: 12px;
    float: right;
    margin-right: 160px;
    height: 39px;
    color: white;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 0px; }
    .header #breakButton:hover {
      color: black; }
    .header #breakButton span {
      text-transform: none;
      vertical-align: initial; }

.header .searchInput {
  display: none; }

.header .userSettingsContainer, .header .logoutContainer {
  position: relative;
  overflow: hidden;
  float: right;
  margin-top: 6px;
  max-height: 30px;
  margin-right: 12px;
  text-decoration: none;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s; }
.header .userSettingsContainer {
  width: 190px;
  overflow: visible;
  font-family: "Museo", "Raleway", "Source Sans Pro", sans-serif; }
  .header .userSettingsContainer #userSettingsButton {
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    float: right;
    background-color: #efefef;
    color: #373b60;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Museo", "Raleway", "Source Sans Pro", sans-serif;
    font-weight: bold;
    letter-spacing: 1px; }
    .header .userSettingsContainer #userSettingsButton span {
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px solid transparent;
      width: fit-content;
      -webkit-transition: border 0.5s ease-in-out;
      transition: border 0.5s ease-in-out; }
    .header .userSettingsContainer #userSettingsButton span:hover {
      -webkit-transition: border 0.5s ease-in-out;
      transition: border 0.5s ease-in-out;
      border-bottom: 1px solid #373b60; }
  .header .userSettingsContainer .userSettings {
    visibility: hidden;
    opacity: 0;
    position: relative;
    margin-top: 42px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-align: center; }
    .header .userSettingsContainer .userSettings .dropDownButton {
      position: relative;
      display: block;
      background-color: #efefef;
      border-radius: 4px;
      text-decoration: none;
      text-align: left;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      color: #373b60;
      margin-top: 12px;
      letter-spacing: 1px; }
      .header .userSettingsContainer .userSettings .dropDownButton .icon {
        font-size: 14px; }
        .header .userSettingsContainer .userSettings .dropDownButton .icon .fa-stack-1x {
          color: white;
          font-size: 1.5em; }
        .header .userSettingsContainer .userSettings .dropDownButton .icon .fa-stack-2x {
          color: #373b60; }
    .header .userSettingsContainer .userSettings .directSettings {
      background-color: #efefef;
      border-radius: 4px;
      position: relative;
      color: #373b60;
      padding: 4px; }
      .header .userSettingsContainer .userSettings .directSettings .settingsHeader {
        border-bottom: 1px solid #373b60;
        margin-bottom: 10px;
        text-align: left;
        letter-spacing: 1px; }
      .header .userSettingsContainer .userSettings .directSettings .settingsRaw {
        margin: 0;
        margin-bottom: 5px;
        padding: 3px;
        position: relative;
        width: 100%;
        text-align: left; }
        .header .userSettingsContainer .userSettings .directSettings .settingsRaw span.sliderContainer {
          margin-left: 26px; }
        .header .userSettingsContainer .userSettings .directSettings .settingsRaw span {
          letter-spacing: 1px; }
        .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle {
          margin-left: 5px;
          position: relative;
          display: inline-block; }
          .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle i {
            transition: color .3s;
            color: #cccccc; }
          .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle .infoBubble {
            position: absolute;
            display: none;
            background-color: #ccc;
            bottom: calc(100% + 6px);
            right: -12px;
            z-index: 1;
            padding: 5px;
            width: 150px;
            border-radius: 10px;
            font-size: 13px;
            color: black; }
            .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle .infoBubble .caretHelper {
              background-color: #ccc;
              width: 10px;
              height: 10px;
              position: absolute;
              right: 12px;
              bottom: 0;
              transform: translateY(50%) rotateZ(45deg); }
          .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle:hover i {
            color: #373b60; }
          .header .userSettingsContainer .userSettings .directSettings .settingsRaw .infoCircle:hover .infoBubble {
            display: block; }
  .header .userSettingsContainer .onoffswitch {
    position: relative;
    display: inline-block;
    float: right;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
  .header .userSettingsContainer .onoffswitch-checkbox {
    display: none; }
  .header .userSettingsContainer .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    background-color: #CCCCCC;
    transition: background-color 0.15s ease-in; }
  .header .userSettingsContainer .onoffswitch-label:before {
    content: "";
    transition: background-color 0.15s ease-in;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    background: #373b60;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    transition: all 0.15s cubic-bezier(0.33, 1.6, 0.66, 1) 0s; }
  .header .userSettingsContainer .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background: #45c997; }
  .header .userSettingsContainer .userSettings.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s ease, visibility 0.3s ease; }
.header .logoutContainer {
  width: 102px; }
  .header .logoutContainer #logoutButton {
    position: relative;
    float: right;
    background-color: #373b60;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer; }
  .header .logoutContainer .logoutOptions {
    position: fixed;
    display: block;
    width: 180px;
    margin-top: 35px;
    right: 87px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    overflow: hidden; }
    .header .logoutContainer .logoutOptions #allLogoutButton, .header .logoutContainer .logoutOptions #easeLogoutButton {
      position: relative;
      display: block;
      float: right;
      background-color: #373b60;
      color: white;
      text-decoration: none;
      width: 150px;
      margin: 2px auto;
      border-radius: 3px;
      padding: 4px;
      height: 31px;
      overflow: hidden;
      border: 1px solid #373b60;
      text-align: center; }
      .header .logoutContainer .logoutOptions #allLogoutButton:hover, .header .logoutContainer .logoutOptions #easeLogoutButton:hover {
        cursor: pointer;
        transition: all 0.3s;
        background-color: white;
        color: #373b60; }
  .header .logoutContainer .logoutOptions.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease; }

.header.scrolling #searchBar {
  background-color: rgba(239, 239, 239, 0.89); }
.header.scrolling #userSettingsButton {
  background-color: rgba(239, 239, 239, 0.89); }

#searchBar {
  width: 40%;
  height: 30px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 5px; }
  #searchBar input {
    width: 100%;
    position: relative;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 17px;
    padding-right: 45px;
    padding-left: 8px;
    outline: none; }
  #searchBar #searchBarButton {
    transition: all .5s;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #373b60; }
    #searchBar #searchBarButton img {
      position: relative;
      height: 80%;
      top: 10%; }
    #searchBar #searchBarButton i {
      font-size: 25px;
      vertical-align: middle;
      line-height: 30px; }
    #searchBar #searchBarButton:hover {
      cursor: pointer; }
  #searchBar #searchBarButton.active {
    transition: all .5s;
    background-color: #E1E1E1;
    color: white; }

/*# sourceMappingURL=Header.css.map */
