@import 'variables';

#registrationBody {
	background: url(https://d7zgbk06ve7c.cloudfront.net/assets/63939/cuf4uxd6krflz4sctrn1/7a1f1c2c3b97461eae39f9a4e889b25c_24_1600.jpg) no-repeat center top;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	.invitation-header {
		position: absolute;
		height: 45%;
		width: 100%;
		.image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 1.125rem;
			opacity: 0.6;
			background-color: #4a4b66;
		}
		img {
			position: absolute;
			width: 10%;
			left: 0;
			top: 0;
		}
		.header-links {
			position: absolute;
			width: fit-content;
			right: 1%;
			top: 4%;
		}
		.header-content {
			position: absolute;
			width: 60%;
			text-align: center;
			left: 20%;
			color: $themeWhiteColor;
			bottom: 10%;
			h2 {
				font-size: 2.2em;
				margin-bottom: 30px;
			}
			p {
				width: 49%;
				margin: 10px auto;
			}
			#registrationForm {
				width: 70%;
				margin: auto;
				input {
					border: none;
					width: 35%;
					height: 32px;
					border-radius: 5px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					padding-left: 3px;
					color: black;
				}
				button {
					border-radius: 5px;
					height: 32px;
					line-height: 29px;
					vertical-align: bottom;
					background-color: $themeColor;
					color: $themeWhiteColor;
					border: 0px solid;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
	.invitation-content {
		position: absolute;
		width: 100%;
		top: 45%;
		background-color: $themeWhiteColor;
		div {
			position: relative;
			width: 90%;
			margin: auto;
			img {
				width: 50%;
				padding: 3% 6%;
			}
			div {
				display: inline-block;
				position: relative;
				width: 45%;
				p {
					width: 70%;
					text-align: center;
					margin: auto;
					font-size: 1.25em;
				}
			}
		}
	}
	.logo {
		width: 20%;
		img {
			width: 100%;
		}
	}
	h1 {
		color: white;
		margin: 0px auto 30px auto;
		text-align: center;
		font-size: 50px;
	}
	p {
		margin-bottom: 3px;
	}
	.registrationBlock#checkInvitation {
		padding-bottom: 50px;
		padding-top: 40px;
		.confirmBox {
			text-align: center;
			max-width: 60%;
			margin: 0px auto;
			margin-top: 20px;
			border: 2px solid #a1c986;
			color: #a1c986;
			padding: 2px;
			border-radius: 5px;
		}
		.custom-info{
			text-align: center;
		}
	}
	.title {
		min-width: 250px;
		max-width: 30%;
		margin: 10px auto;
		font-size: 50px;
		color: #FFFFFF;
		text-align: center;
	}
	.registrationBlock {
		padding: 5px;
		border-radius: 5px;
		border: 1px hidden;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		min-width: 250px;
		max-width: 400px;
		background-color: rgba(white, 0.9);
		.advice {
			width: 100%;
			border: 2px solid $themeColor;
			border-radius: 5px;
			margin-bottom: 10px;
		}
		.term {
			.check {
				display: inline-block;
				height: 20px;
				width: 20px;
				margin: 5px 5px;
				vertical-align: bottom;
				&:hover{
					cursor:pointer;
				}
			}
			p {
				display: inline-block;
			}
		}
		
		.alertDiv {
			width: 90%;
			text-align: center;
			margin:0px auto;
		}

		#registrationForm {
			width: 90%;
			margin: 0px auto;
			.doubleInput {
				width: 100;
				.input {
					width: 48%;
					&:nth-child(1) {
						float: left;
					}
					&:nth-child(2){
						float: right;
					}
				}
			}
			.input {
				margin: 0px;
				margin-bottom: 10px;
				width: 100%;
				max-width: 100%;
				input {
					color: $themeColor;
					background-color: $themeGreyColor;
					border-radius: 5px;
					border: 1px hidden;
					width: 100%;
					padding: 2px;
					line-height: 1.5;
				}
			}
		}
		.custom-button {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25px;
			text-align: center;
			position: relative;
			button {
				width: 100%;
				height: 100%;
				border: 1px solid $themeColor;
				padding-bottom: 5px;
				padding-top: 7px;
				border-radius: 7px;
				font-size: 14px;
				background-color: $themeColor;
				transition: all .3s;
				color: white;
				outline: none;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				overflow: hidden;
				white-space: nowrap;
				&:hover {
					transition: all .3s;
					border: 1px solid $themeColor;
					background-color: white;
					color: $themeColor;
				}
			}
			.loadHelper {
				transition: all .3s;
				width: 100%;
				height: 100%;
				visibility: hidden;
				opacity: 0;
				border-radius: 7px;
				position: absolute;
				border: 3px solid $themeColor;
			}
			.successHelper {
				width: 100%;
				height: auto;
				border: 3px solid green;
				padding-bottom: 5px;
				padding-top: 7px;
				border-radius: 7px;
				font-size: 14px;
				background-color: white;
				transition: all .3s;
				color: green;
				opacity: 0;
				visibility: hidden;
				outline: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.custom-button.loading {
			button {
				transition: all .3s;
				border-radius: 100px;
				width: 35px;
				//visibility: hidden;
				opacity: 0;
				span {
					opacity: 0;
				}
			}
			.loadHelper {
				transition: all .3s;
				width: 35px;
				height: 100%;
				border-radius: 100px;
				border: none;
				opacity: 1;
				visibility: visible;
			}
		}
		.custom-button.success {
			.loadHelper {
				visibility: hidden;
				opacity: 0;
			}
			.successHelper {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.sk-fading-circle {
		width: 100%;
		height: 100%;
		position: relative;
		.sk-circle:before {
			background-color: $themeColor;
		}
	}
}
