div.logout-overlay {
  &.hide {
    opacity: 0;
  }
	z-index: 100000;
    position: absolute;
    top: calc(50% - 130px);
    left:calc(50% - 150px);
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 260px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgba(239, 239, 239, 0.89);
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    .logos-logout-container{
    	max-witdh: 200px;
    	overflow: hidden;
    	display: block;
    	height: 50px;
    	img {
    		width: 40px;
    		height: 40px;
    		margin: 5px;
    		border : 1px solid #cccccc;
    		border-radius : 3px;
    		opacity: 0.89;
    		-webkit-transition: opacity 0.5s;
			-moz-transition: opacity 0.5s;
			transition: opacity 0.5s;
    	}
    }
    .sk-fading-circle {
      margin: auto;
      margin-top: 8%;
      margin-bottom: 8%;
      width: 100px;
      height: 100px;
      position: relative;
      .sk-fading-circle:before {
        background-color: $themeColor;
      }
    }
}

div.logout-overlay h3 {
  font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 200;
  margin: 0;
}
