@import 'variables';

#lostPasswordBody {
	background: url(../resources/backgrounds/background.jpeg);
	background-size: cover;
	background-position: 50% 50%;
	.logo {
		width: 20%;
		img {
			width: 100%;
		}
	}
	h1 {
		color: white;
		margin: 0px auto 30px auto;
		text-align: center;
		font-size: 50px;
	}
	p {
		margin-bottom: 3px;
		font-size: 1em;
	}
	.lostPasswordBlock#lostPassword {
		padding-bottom: 30px;
		padding-top: 40px;
		.confirmBox {
			text-align: center;
			max-width: 60%;
			margin: 0px auto;
			margin-top: 20px;
			border: 2px solid #a1c986;
			color: #a1c986;
			padding: 2px;
			border-radius: 5px;
		}
	}
	.lostPasswordBlock {
		position: relative;
		padding: 5px;
		border-radius: 5px;
		border: 1px hidden;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		width: 19%;
		min-width: 250px;
		max-width: 250px;
		background-color: rgba(white, 0.9);

		.alertDiv {
			width: 90%;
			text-align: center;
			margin:0px auto;
		}
		.title {
			width: 90%;
			margin: 10px auto;
			font-size: 17px;
			text-align: center;
		}
		.registrationTips {
			width: 90%;
			margin: 0px auto;
			margin-top: 10px;
			text-align: center;
			span {
				font-weight: 600;
			}
		}
		#goBack {
			position: absolute;
    	top: 0;
    	cursor: pointer;
			color: $themeColor;
		}
		#lostPasswordForm {
			width: 90%;
			margin: 0px auto;
			.doubleInput {
				width: 100;
				.input {
					width: 48%;
					&:nth-child(1) {
						float: left;
					}
					&:nth-child(2){
						float: right;
					}
				}
			}
			#enterEmail, #security, .input {
				opacity: 0;
				height: 0;
				overflow: hidden;
				transition: opacity 1s ease-out;
			}

			#enterEmail.show, #security.show, .input.show {
				opacity: 1;
				height: auto;
			}
			#enterEmail.show, #security.show {
				margin-bottom: 20px;
				font-size: 17px;
			}

			.input.show {
				display: block;
				margin-bottom: 10px;
				overflow: visible;
			}

			.input.confirm-password input {
				margin-top: 15px;
				margin-bottom: 15px;
			}

			.input {
				margin: 0px;
				width: 100%;
				max-width: 100%;
				input {
					color: $themeColor;
					background-color: $themeGreyColor;
					border-radius: 5px;
					border: 1px hidden;
					width: 100%;
					padding: 2px;
					line-height: 1.5;
				}
			}
		}
		#custom-confirm, .custom-button {
			opacity: 0;
			height: 0;
			overflow: hidden;
			margin: 0;
			transition: opacity 1s ease-out;
			text-align: center;
			position: relative;
			button {
				width: 100%;
				height: 100%;
				border: 1px solid $themeColor;
				padding-bottom: 5px;
				padding-top: 7px;
				border-radius: 7px;
				font-size: 14px;
				background-color: $themeColor;
				transition: all .3s;
				color: white;
				outline: none;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				overflow: hidden;
				white-space: nowrap;
				&:hover {
					transition: all .3s;
					border: 1px solid $themeColor;
					background-color: white;
					color: $themeColor;
				}
			}
		}
		#custom-confirm.show, .custom-button.show {
			opacity: 1;
			height: auto;
			overflow: visible;
			margin-left: auto;
			margin-right: auto;
		}
		#custom-confirm {
			width: fit-content;
		}
		.custom-button.show {
			margin-top: 25px;
		}
		.custom-button {
			width: 50%;
			.loadHelper {
				transition: all .3s;
				width: 100%;
				height: 100%;
				visibility: hidden;
				opacity: 0;
				border-radius: 7px;
				position: absolute;
				border: 3px solid $themeColor;
			}
			.successHelper {
				width: 100%;
				height: auto;
				border: 3px solid green;
				padding-bottom: 5px;
				padding-top: 7px;
				border-radius: 7px;
				font-size: 14px;
				background-color: white;
				transition: all .3s;
				color: green;
				opacity: 0;
				visibility: hidden;
				outline: none;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.custom-button.loading {
			button {
				transition: all .3s;
				border-radius: 100px;
				width: 35px;
				//visibility: hidden;
				opacity: 0;
				span {
					opacity: 0;
				}
			}
			.loadHelper {
				transition: all .3s;
				width: 35px;
				height: 100%;
				border-radius: 100px;
				border: none;
				opacity: 1;
				visibility: visible;
			}
		}
		.custom-button.success {
			.loadHelper {
				visibility: hidden;
				opacity: 0;
			}
			.successHelper {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.sk-fading-circle {
	  width: 100%;
	  height: 100%;
	  position: relative;
		.sk-circle {
			&:before {
				background-color: $themeColor;
			}
		}
	}
}
