@import 'variables';

.MenuButtonSet.show {
	display: block;
}

.MenuButtonSet.topLeft {
    width: fit-content;
    top: 20%;
    left: 2%
}

.MenuButtonSet.topRight {
    width: fit-content;
    top: 20%;
    left: 11%
}

.MenuButtonSet.middleTopLeft {
    width: fit-content;
    top: 40%;
    left: 2%
}

.MenuButtonSet.bottomLeft {
	width: fit-content;
	top: 60%;
	left: 2%;
}

.MenuButtonSet.superBottomLeft {
	width: fit-content;
	top: 80%;
	left: 2%;
}

.MenuButtonSet {
	display: none;
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
	#enterEditMode {
		max-width: 100px;
		min-width: 0px;
		width: 50px;
		height: 50px;
		background-color: #ec555b;
		border-radius: 10px;
		padding: 7px;
		margin: 0px;
		transition: background-color 0.3s;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	#enterEditMode.on {
		background-color: #42b72a;
	}

    #enterAddUsersMode {
		max-width: 100px;
		min-width: 0px;
		width: 100px;
		height: 100px;
		background-color: #555ceb;
		border-radius: 10px;
		padding: 7px;
		margin: 0px;
		transition: background-color 0.3s;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	#enterAddUsersMode.on {
		background-color: #42b72a;
	}

    #enterRequestedWebsitesMode {
		max-width: 100px;
		min-width: 0px;
		width: 100px;
		height: 100px;
		background-color: #42b72a;
		border-radius: 10px;
		padding: 7px;
		margin: 0px;
		transition: background-color 0.3s;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	#enterAddUsersMode.on {
		background-color: #42b72a;
	}
    
    
    #enterTagsManagerMode {
		max-width: 100px;
		min-width: 0px;
		width: 100px;
		height: 100px;
		background-color: #ffaabb;
		border-radius: 10px;
		padding: 7px;
		margin: 0px;
		transition: background-color 0.3s;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	#enterAddSiteMode {
	max-width: 100px;
	min-width: 0px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 0px;
	padding: 0px;
	&:hover {
		cursor: pointer;
	}
	img {
		width: 100%;
		height: 100%;
	}
}
}

#addSiteForm {
	input {
		margin-top: 10px;
		width: 50%;
		margin-left: 25%;
	}
}

#addTagForm {
	input {
        position:relative;
		margin-top: 1%;
		width: 50%;
		margin-left: 25%;
	}
}

