@mixin box-shadow($param1, $param2) {
  -webkit-box-shadow: $param1, $param2;
     -moz-box-shadow: $param1, $param2;
     -o-box-shadow: $param1, $param2;
          box-shadow: $param1, $param2;
}

@mixin simple-box-shadow($param1) {
  -webkit-box-shadow: $param1;
     -moz-box-shadow: $param1;
     -o-box-shadow: $param1;
          box-shadow: $param1;
}

@mixin size($width , $height: $width ) {
  width: $width;
  height: $height;
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
     position: absolute;
     top: $top;
     right: $right;
     bottom: $bottom;
     left: $left;
}

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}