@import 'variables';

 #reloadPage {
    position: absolute;
    top: 0;
    background-color: $themeColor;
    background-image: url('../resources/backgrounds/launch.jpg');
    background-position: 50% 50%;
  	background-size: cover;
    min-width: 100%;
    min-height: 100%;
    .logo {
     width: 20%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     img {
      width: 100%;
        }
    }
  .holder {
      margin-top: 50px;
    color: white;
    text-align: center;
    h2 {
      font-size: 20px;
        margin-bottom: 20px;
    }
    a {
        margin-top: 10px;
      font-size: 40px;
      color: white;
    }
  }
}