@import 'variables';

body {
	background-color: #efefef;
	h1, h2, h3 {
		font-family: $defaultFont;		
		font-weight: bold;
	}
}
section#pricing {
	padding-bottom: 0;
	h1 {
		margin: 30px 0;
		font-size: 50px;
		color:#4a4a4a;
	}
	#prices {
		background-color: white;
		padding: 40px 80px;
		line-height: 1.3;
		#free {
			.offerType, .priceRow, .offerTip {
				border-right: 1px solid #ccc;
			}
			.cta {
				.floatingTip {
					color: inherit;
					font-weight: normal;
					font-size: 14px;
				}
			}
		}
		.row {
			h4 {
				color:#5c5c5c;
				margin-top: 10px;
				margin-bottom: 50px;
			}
			.offerType {
				font-size: 35px;
			}
			.priceRow {
				font-size: 100px;
				.price {
					padding: 20px 0px;
					.priceImage {
						height: 100px;
						width: auto;
					}
				}
			}
			.offerTip {
				p {
					line-height: inherit;
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
			.cta {
				margin-top: 60px;
				font-weight: bold;
				.floatingTip {
					position: absolute;
					bottom: 112%;
					left: 50%;
					transform: translateX(-50%);
					line-height: inherit;
					color: $themeRedColor;
					width: 100%;
					font-size: 16px;
				}
			}
			.features {
				margin-top: 20px;
				font-size: 16px; 
				.featureTitle {
					line-height: inherit;
					padding-bottom: 10px;
					border-bottom: 1px solid #ccc;
					font-size: 16px;
					margin-bottom: 15px;
				}
				ul {
					-webkit-padding-start: 20px;
					li {
						margin-top: 15px;
						.commingSoon {
							font-style: italic;
							color: #9a9a9a;
							white-space: nowrap;
							span {
								font-size: 0.75em;
								i {
									color: inherit;
								}
							}
						}
						p {
							font-size: 16px;
							margin-bottom: 0px;
							line-height: inherit;
						}
					}
				}
			}
			.row {
				.btn {
					font-size: 16px;
					font-weight: bold;
					padding: 15px 16px;
					background-color: $themeButtonGreenColor;
					border: 1px transparent;
					&:hover {
						background-color: darken($themeButtonGreenColor, 10%);
					}
				}
				.featureList {
					width: 55%;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	section#pricing{
		#prices {
			.row {
				.row .center-block {
					width: 90%;
				}
			}
			#pro {
				margin-top: 15px;
			}
			#free {
				margin-bottom: 15px;
				border-bottom: 1px solid #ccc;
				.offerType, .priceRow, .offerTip {
					border-right: none;
				}
			}

		}		
	}
}
