@import 'variables';

body {
  background-color: #efefef;
  h1, h2, h3 {
    font-family: $defaultFont;
    font-weight: bold;
  }
  p {
    line-height: 1.3;
    font-size: 16px;
  }
  u {
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 0.85;
  }
}

header {
  height: 350px;
  background: #4990e2;
}

.button-product {
  position: absolute;
  margin-top: 175px !important;
  z-index: 2;
  background-color: #4FCB6C !important;
  color: white !important;
  font-size: 25px !important;
  font-weight: 300 !important;
  border-radius: 5px !important;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.15) !important;
  &:hover {
    background-color: #3fa056 !important;
  }
}

.intro-text {
  padding-top: 125px !important;
}
.intro-product {
  padding-left: 98px;
  justify-content: space-between;
  width: 100%;
}
.goodbye {
  display: inline-block;
  width: 436px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: right;
  color: #949eb7;
}
.hello {
  position: absolute;
  width: 436px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  display: inline-block;
  color: #949eb7;
  h2 {
    font-size: 40px;
    color: #373b60;
    margin-bottom: 20px;
  }
}
.product-tab {
  margin-top: 30px;
  width: 100.36%;
  height: 700px;
  display: flex;
  justify-content: space-between;
}
  .table {
    width: 600px;
    height: 660px;
    transition-property: transform;
    transition-duration: 1s;
    background-image: url(../resources/images/tableau.png);
    background-position: left 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: right;
  }
  .tab-nav {
    width: 600px;
    height: 700px;
    transition-property: transform;
    transition-duration: 1s;
    background-image: url(../resources/images/personalSpace.png);
    background-position: right 200px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

.discoverSpace {
  margin: 100px 80px !important;
  font-size: 20px;
  text-align: center;
  color: #949eb7;
  line-height: 1.4;
  h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.83;
    color: #4f5267;
  }
  h3 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
  }
}

.textDistrib {
  margin: 100px 80px !important;
  height:550px;
  h2 {
    font-size: 36px;
    font-weight: 300;
    color: #4f5267;
  }
  p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.43;
    text-align: left;
    color: #949eb7;
  }
  img {
    margin-left:35px;
  }
}

.textOrg {
  margin: 100px 80px !important;
  h2 {
    margin-left: 100px;
    font-size: 40px;
    font-weight: 300;
    color: #4f5267;
  }
  p {
    margin-left: 100px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: #949eb7;
  }
  img {
    width:300px !important;
    height:260px !important;
    margin-top:40px !important;
  }
}

.textControl {
  margin: 100px 80px !important;
  border:none !important;
  box-shadow:none !important;
  h2 {
    margin-right: 470px;
    font-size: 40px;
    font-weight: 300;
    color: #4f5267;
  }
  p {
    margin-right: 70px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: #949eb7;
  }
  img {
    width: 332px !important;
    height: 140px !important;
    margin-top: 70px;
  }
}

.textShare {
  margin: 100px 80px !important;
  border:none !important;
  box-shadow:none !important;
  h2 {
    margin-top: 25px !important;
    margin-left: 50px;
    font-size: 40px;
    font-weight: 300;
    color: #4f5267;
  }
  p {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: #949eb7;
  }
  img {
    width: 350px !important;
    height: 270px !important;
    margin-top: 30px !important;
  }
}


.comparativeTable {
  margin: 100px 200px !important;
  border:none !important;
  box-shadow:none !important;
  h2 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: #4f5267;
  }
}


.textPlace {
  margin: 100px 80px !important;
  border:none !important;
  box-shadow:none !important;
  h2 {
    font-size: 40px;
    font-weight: 300;
    color: #4f5267;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: #949eb7;
  }
}


.docs-content {
  margin-left: 520px;
  margin-right: 130px;
  .signUpButton {
    margin: auto;
  }
}
.doc_section {
  margin-bottom: 40px;
  .doc_header {
    max-width: 600px;
    font-family: MuseoSans, sans-serif !important;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 34px;
    color: $themeColor;
  }
  p {
    margin-bottom: 20px;
    color: #949eb7;
    &.sub_header {
      font-weight: bold;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.docs-nav {
  list-style: none;
  margin: 0 0 0 120px;
  padding: 20px 25px;
  position: absolute;
  background-color: #ededed;
  border-radius: 8px;
  top: 0;
  width: 315px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.17);
  transition: top linear 50ms;
  &.fixed {
    position: fixed;
  }
  li {
    margin-bottom: 18px;
    padding-left: 20px;
    a {
      font-family: MuseoSans, sans-serif !important;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $themeColor;
      text-decoration: none;
      position: relative;
      &.active {
        font-weight: bold;
        &:before {
          content: "\f105";
          font: normal normal normal 14px/1 FontAwesome;
          position: absolute;
          left: -24px;
          top: -7px;
          font-size: 30px;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

section#security {
  padding-bottom: 0;
  h1 {
    margin: 30px 0;
    font-size: 50px;
    color: #4a4a4a;
  }
  h2 {
    color: #4a4a4a;
  }
  #securityBody {
    background-color: white;
    padding: 40px 120px;
    line-height: 1.3;
    .row {
      position: relative;
      h4 {
        color: #5c5c5c;
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }
    #masterKey {
      h2 {
        margin: 0 0 40px 0;
      }
      .imageHandler {
        width: 72%;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
    }
    #funcs {
      margin-top: 40px;
      .row {
        margin-top: 30px;
        white-space: nowrap;
        & > div {
          float: none;
          white-space: normal;
          vertical-align: middle;
          display: inline-block;
        }
        .imageHandler {
          width: 50%;
          img {
            width: 100%;
          }
        }
        h4 {
          color: $themeColor;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
      }
    }
    #anonymity {
      margin-top: 40px;
      padding: 40px 0;
      &:before {
        content: "";
        position: absolute;
        left: 25%;
        top: 0;
        width: 50%;
        height: 1px;
        border-bottom: 2px solid #bbb;
      }
      &:after {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        width: 50%;
        height: 1px;
        border-bottom: 2px solid #bbb;
      }
      h2 {
        margin: 0 0 40px 0;
      }
      & > .row {
        white-space: nowrap;
        margin-bottom: 20px;
        & > div {
          display: inline-block;
          vertical-align: middle;
          float: none;
          white-space: initial;
        }
      }
      img {
        width: 100%;
      }
      p {
        line-height: 1.3;
      }
    }
    #faq {
      margin-top: 40px;
      h2 {
        margin-bottom: 40px;
      }
      .row {
        margin-top: 20px;
        h4 {
          color: $themeColor;
          font-weight: bold;
          margin: 0 0 10px 0;
        }
      }
    }
    #contact {
      div {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  section#security {
    padding-top: 50px;
    #securityBody {
      padding: 40px 20px;
      .row {
        .row {
          margin-left: 0;
          margin-right: 0;
        }
      }
      #masterKey {
        .imageHandler {
          width: 90%;
        }
      }
      #funcs {
        margin-top: 0;
        p {
          text-align: justify;
        }
        .row {
          white-space: normal;
          .image {
            display: none;
          }
        }
      }
      #anonymity {
        p {
          text-align: justify;
        }
        & > .row {
          margin-bottom: 30px;
          & > div {
            display: block;
            img {
              width: 20%;
              margin-bottom: 10px;
            }
          }
        }
      }
      #faq {
        p {
          text-align: justify;
        }
        .row {
          margin-top: 30px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      #contact {
        .row div {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .intro-text {
    padding-top: 75px !important;
  }
  .discoverSpace {
    margin: 0 !important;
  }
  .tab-nav {
    width: 101%;
    height: 700px;
    background-image: url(../resources/images/personalSpace.png);
    background-position: right 200px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .goodbye {
    display: inline-block;
    width: 90%;
    margin: 0 15px;
    height: 60px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #949eb7;
  }
  .hello {
    position: absolute;
    margin: 0 15px;
    width: 90%;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    display: inline-block;
    color: #949eb7;
    h2 {
      font-size: 40px;
      color: #373b60;
      margin-bottom: 20px;
    }
  }
  .textDistrib img {
    margin: 0;
  }

  .textOrg h2 {
    margin: 0;
  }
  .textOrg p {
    margin-left: 0;
  }
  .textOrg img {
    width: 300px !important;
    height: 260px;
    margin-top: 50px;
  }

  .textControl h2, .textControl p {
    margin: 0;
  }

  .textShare {
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  .comparativeTable {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    h2 {
      margin: 0;
    }
    table {
      word-break: break-all;
    }
  }
}