@import 'variables';
@import 'mixins';


.ProfileBox {
	width: 90%;
	overflow: hidden;
	display: inline-block;
	height: auto;
	.ProfileName {
		text-align: left;
		background-color: #FFD00C;
		padding: 0px 0px 0px 5px;
		//		padding-left: 5px;
		border-radius: 5px 5px 5px 5px;
		position: relative;
		p {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			display: inline-block;
			font-family: $defaultFont;
			color: $profilesNameFontColor;
			font-size: 1vw;
			margin-bottom: 0px;
			line-height: 2.1vw;
			vertical-align: middle;
			height: 100%;
			max-width: 80%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.ProfileSettingsButton {
			position: absolute;
			overflow: hidden;
			display: inline-block;
			float: right;
			font-size: 1vw;
			vertical-align: middle;
			color: white;
			right: 0;
			cursor: pointer;
			transition: transform 0.3s;
			i {
				transition: transform 0.3s, font-size .3s, line-height .3s;
				line-height: 2.1vw;
				&:hover {
					transition: transform 0.3s;
					transform: rotateZ(-90deg);
				}
			}
		}
	}
	.ProfileContent {
		position: relative;
		margin-top: 5px;
		border-radius: 5px;
		.content {
			position: relative;
			top: 0;
			width: 100%;
			min-height: 125%;
			max-height: 300%;
			border-radius: 5px;
			background-color: rgba(white, 0.7);
			.ProfileControlPanel {
				transition: max-height .3s;
				width: 100%;
				max-height: 0;
				font-family: $defaultFont;
				overflow: hidden;
				white-space: nowrap;
				border-radius: 5px 5px 0 0;
				.profileSettingsTab {
					padding: 10px 10%;
					position: relative;
					top:0;
					left: 0;
					width: 100%;
					z-index: 2;
					transition: all .3s;
					overflow: hidden;
					border-bottom: 2px solid $themeColor;
					#contentColor {
						border-bottom: 2px solid $themeColor;
						padding-bottom: 5px;
						padding-top: 5px;
						margin-bottom: 10px;
					}
					.sectionContent {
						display: block;
						margin-bottom: 5px;
						&:last-child {
							margin-bottom: 0;
						}
						i, p , div, input {
							font-size: 1vw;
						}
						#modifyNameForm {
							input {
								display: inline-block;
								border:none;
								background-color: #eee;
								border-radius: 5px;
								padding:0px 5px 0px 5px;
								width: 75%;
							}
							#validate {
								display: inline-block;
								background-color: $themeColor;
								border-radius: 5px;
								padding: 2px 4px;
								i {
									transition: transform .3s;
									color: white;
									transform: rotateZ(0deg);
								}
								&:hover {
									cursor: pointer;
									i {
										transform: rotateZ(90deg);
									}
								}
							}
						}
						#modifyColorForm {
							white-space: normal;
							font-size: 10px;
							.color {
								width: 11%;
								padding-top: 11%;
								cursor: pointer;
								display: inline-block;
								border-radius: 100%;
							}
							.color.choosen {
								//border: 2px solid white;
							}
						}
						#deleteProfileForm {
							#validate {
								transition: all .3s;
								display: inline-block;
								cursor: pointer;
								background-color: $themeColor;
								color: white;
								border: 1px solid $themeColor;
								padding: 1px 3px 1px 3px;
								border-radius: 3px;
								&:hover {
									background-color: white;
									color: $themeColor;
									border: 1px solid $themeColor;
								}
							}
						}
					}
				}
			}
			.SitesContainer {
				transition: min-height .3s;
				position: relative;
				height: 100%;
				width: 100%;
				min-height: 13.6vw;
				overflow-y: overlay;
				overflow-x: hidden;
				padding-top: 0.5vw;
				border-radius: 5px;
				padding-bottom: 17%;
				.siteLinkBox {
					border-radius: 5px;
					width: (100% / 3);
					border: 1px hidden #EFECEA;
					float: left;
					padding-top: 5px;
					position: relative;
					.siteName {
						font-size: 10px;
						line-height: 9px;
						p {
							margin: 0px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							line-height: 1.5;
							font-family: $defaultFont;
							letter-spacing: 0.5px;
						}
					}
					.linkImage.settingsShow {
						&:before {
							box-shadow: inset 0px 0px 0px 5px $themeColor;
                          z-index: 1;
						}
					}
					.linkImage {
						&:before {
							transition: box-shadow .3s;
							content: "";
							border-radius: 5px;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							box-shadow: inset 0px 0px 0px 0px $themeColor;
							pointer-events: none;
						}
						.appTypeIndicator {
							position: absolute;
							color: $themeColor;
							font-size: 0.8vw;
							left: 7%;
							bottom: 7%;
							text-shadow: 1px 1px 0px #fff,1px -1px 0px #fff,-1px 1px 0px #fff,-1px -1px 0px #fff,-1px 0px 0px #fff,0px -1px 0px #fff,1px 0px 0px #fff,0px 1px 0px #fff;
						}
						&:hover {
							opacity: 1;
						}
						.showAppActionsButton{
							visibility: hidden;
						}
						position: relative;
						width: 65%;
                      padding-bottom: 65%;
						cursor: pointer;
						opacity: 0.8;
						margin-left: auto;
						margin-right: auto;
						.logo {
                          position: absolute;
                          left: 0;
                          top: 0;
							border: 1px solid #efefef;
							border-radius: 5px;
							width: 100%;
							background-color: white;
							height: 100%;
							box-shadow: inset 0px 0px 5px rgba(0,0,0,0);
							&:before {
								content: "";
							}
						}
                      .app_disabled {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(#373B60, 0.8);
                      }
					}
					.linkImage.waitingLinkImage {
						opacity: 0.5;
					}
				}
			}
		}
	}
}


.ProfilesView {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.CatalogViewTab{

	}
	.ProfilesHandler.editMode {
		width: 50%;
		margin-left:0px;
		#profileAdder {
			display: block;
		}
		.profileAdder {
			transition: opacity .3s;
			opacity: 1;
			visibility: visible;
		}
		.item {
			.ProfileBox {
				.ProfileName {
					p {
						font-size: 0.8em;
						line-height: 20px;
					}
					.ProfileSettingsButton {
						i {
							font-size: 0.8em;
							line-height: 20px;
						}
					}
				}
				.ProfileContent {
					.content {
						.SitesContainer {
							min-height: 9.2vw;
						}
					}
				}
			}
		}
	}
	.ProfilesHandler {
		width: 80%;
		margin-bottom: 2vh;
		padding-top: 25px;
		white-space: nowrap;
		margin-left: 10%;
		position: relative;
		text-align: center;
		#profileAdder {
			display: none;
		}
		#profileAdder {
			width: 60%;
			margin: auto;
			margin-top: 15px;
			font-family: $defaultFont;
			position: relative;
			.opener {
				transition: opacity .3s;
				opacity: 1;
				z-index: 1;
				pointer-events: auto;
				cursor: pointer;
				&.hide {
					opacity: 0;
					z-index: -1;
					pointer-events: none;
				}
				font-size: 5vw;
				width: 1em;
				height: 1em;
				line-height: 1em;
				position: absolute;
				z-index: 1;
				top: 40%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				i:nth-child(2) {
					color: $themeButtonGreenColor;
				}
			}
			.row {
				margin: auto;
			}
			.adder {
				text-align: left;
				transition: opacity .3s;
				pointer-events: none;
				opacity: 0;
				z-index: -1;
				&.show {
					opacity: 1;
					z-index: 1;
					pointer-events: auto;
				}
				.inputRow {
					text-align: center;
					.input {
						position: relative;
						vertical-align: middle;
						display: inline-block;
						.closer {
							position: absolute;
							font-size: 1.5vw;
							width: 1em;
							height: 1em;
							line-height: 1em;
							position: absolute;
							z-index: 1;
							top: 0;
							left: 0;
							transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
							cursor: pointer;
							i:nth-child(2) {
								color: $themeRedColor;
							}
						}
						input {
							font-size: 1vw;
							font-weight: bold;
							padding: 0.25vw;
							padding-left: 0.8vw;
							background: #373B60;
							color: white;
							border-radius: 5px;
							border: none;
							margin-right: 1vw;
							@include placeholder-color(#eee);
						}
					}
					button {
						font-size: 1vw;
						font-weight: bold;
						line-height: 1.3vw;
						padding: 0.25vw;
						color: white;
						background-color: $themeColor;
						border-radius: 5px;
						outline: none;
					}
				}
				.handler {
					padding: 0.9vw 1vw 1vw 1vw;
					background-color: rgba(white, 0.7);
					border-radius: 10px;
					margin-top:0.5vw;
					.suggestionsRow {
						.sectionName{
							font-style: italic;
							font-size: 0.8vw;
							line-height: 1vw;
							margin-bottom: 0.2vw;
						}
						.suggestions {
							.suggestion {
								width: 22.75%;
								float: left;
								margin-right: 3%;
								margin-bottom: 10px;
								transition: transform .3s;
								transform: scale(1);
								&:nth-child(4n){
									margin-right: 0;
								}
								&:hover {
									transform:scale(1.1);
								}
								.name {
									width: 100%;
									background-color: $themeColor;
									border-radius: 5px;
									color: white;
									cursor: pointer;
									padding: 0.25vw;
									font-size: 1vw;
									font-weight: bold;
								}
							}
						}
					}
					.colorChooseRow {
						text-align: left;
						.sectionName, .colors {
							display: inline-block;
							vertical-align: middle;
						}
						.sectionName {
							margin-right: 1vw;
							font-size: 1vw;

							font-weight: bold;
						}
						.colors {
							.colorHolder {
								transition: transform .3s;
								transform: scale(1);
								&:hover {
									transform:scale(1.1);
								}
								&:last-child {
									margin-right:0;
								}
								display: inline-block;
								float: left;
								margin-right: 0.75vw;
								.color {
									height: 1.5vw;
									width: 1.5vw;
									border-radius: 5px;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
		.dashboardColumn {
			transition: width .3s;
			width: 24.8%;
			vertical-align: top;
			display: inline-block;
			min-height: 100px;
			position: relative;
			.item {
				float: left;
				position: relative;
				transition: transform .3s;
				text-align: center;
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}

.windowAddApp {
	width: 200px;
	position: absolute;
	margin-top: 10px;
	display: none;
	.md-overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.arrow-top {
		margin-left: 10px;
		z-index: 2000;
		position: relative;
		i {
			font-size: 28px;
			line-height: 10px;
			color: #d9d9d9;
		}
	}
	.content {
		z-index: 2000;
		position: absolute;
		border-radius: 3px;
		background-color: #d9d9d9;
		.blockHeader {
			font-size: 12px;
			text-align: center;
			padding-left: 2%;
			padding-right: 2%;
			margin-top: 5px;
		}
		.classicInput {
			padding-left: 20%;
			padding-right: 20%;
			margin-top: 5px;
			margin-bottom: 5px;
			input {
				margin-top: 3px;
				width: 100%;
				height: 20px;
				font-size: 11px;
			}
			.button {
				min-width: 0px;
				max-width: 500px;
				padding: 0px;
				margin: 0px;
				width: 22px;
				height: 22px;
				color: #42b7cb;
				font-size: 22px;
				position: absolute;
				right: 0;
				margin-right: 7px;
				bottom: 0%;
				margin-bottom: 5px;
				&:hover {
					transition: color 0.3s;
					cursor: pointer;
					color: $themeColor;
				}
			}
		}
	}

	.md-overlay.overlay-display {
		opacity: 0.3;
		visibility: visible;
	}
}

.windowAddApp.displayAbs {
	display: block;
}

.ProfilesHandler {
	#dragAndDropHelper {
		display: none;
	}
	.item {
		.addProfileView {
			display: none;
		}
	}
}
.ProfilesHandler.editMode{
	.ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage {
		opacity: 1;
	}
	padding-top: 40px;
	#dragAndDropHelper {
		display: block;
	}
	.item .addProfileView {
		display: block;
	}
}
.ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox.emptyApp {
	.linkImage {
		.showAppActionsButton {
			display: none;
		}
	}
}
.ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox {
	.linkImage {
		.emptyAppIndicator {
          z-index: 1;
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 1;
			border-radius: 5px;
			padding: 2px;
			img {
				padding: 2px;
				border-radius: 100%;
				background-color: $themeColor;
				width: 35%;
				height: 35%;
				left:45%;
				bottom: 12%;
				line-height: 90%;
				color: white;
				font-size: 1vw;
				position: relative;
				border: none;
              display: none;
			}
          span {
            background-color: #DF5454;
            border-radius: 100%;
            display: inline-block;
            width: 35%;
            height: 35%;
            left: 45%;
            bottom: 12%;
            line-height: 90%;
            font-size: 1vw;
            position: relative;
            border: none;

          }
			&:hover {
				background-color: $themeColor;
				border: 1px solid #efefef;
				opacity:0.8;
			}
			&:hover > img {
				width:80%;
				height:80%;
				left:0%;
				top:15%;
				border-radius: 5px;
              display: inline-block;
			}
          &:hover > span {
            display: none;
          }
		}
		.showAppActionsButton {
			position: absolute;
			z-index: 1;
			width: 35%;
			top: 78%;
			left: 81%;
			visibility: hidden;
			opacity: 0;

			&:hover {
				cursor: pointer;
			}
			&:hover > .appActionsPopup {
				display: block;
				visibility: visible;
			}
			img {
				border: none;
			}
			i.fa-cog {
				background-color: white;
				padding: 3px;
				border-radius: 100%;
				line-height: 90%;
				color: $themeColor;
				font-size: 1vw;
				position: relative;
			}
		}
		&:hover {
			.showAppActionsButton {
				transition: all .1s;
				transition-delay: .4s;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.ProfilesHandler.editMode {
	.ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox {
		.linkImage{
			width: 80%;
			.showAppActionsButton {
				transition-delay: 0s;
				top: 72%;
				left: 68%;
			}
		}
		.siteName {
			display: none;
		}
	}
}

.appActionsPopup {
	display: none;
	visibility: hidden;
	position: fixed;
	i {
		color: $themeColor;
		position: relative;
	}
	.buttonsContainer {
		background-color: $themeColor;
		border: 1px solid $themeColor;
		border-radius: 5px;
		color: white;
		min-width: 100px;
		text-align: center;
		.menu-item {
			transition: all 0.3s;
			padding: 2px;
			position: relative;
			overflow: hidden;
			p {
				transition: all 0.3s;
				margin: 0px;
			}
			&:hover {
				transition: all 0.3s;
				&:before {
					left: -5px;
					line-height: 1.7;
				}
			}
		}
		.modifyAppButton::before {
			content: '\f085';
		}
		.deleteAppButton::before {
			content: '\f014';
		}
		.menu-item::before {
			transition: all 0.3s;
			z-index: 1;
			width: 100%;
			height: 100%;
			left: 100%;
			top: 0;
			text-align: right;
			position: absolute;
			display: inline-block;
			line-height: 1.6;
			font-size: 180%;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.menu-item:first-child {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.menu-item:last-child {
			border-top: 1px solid white;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		.menu-item:only-child {
			border:none;
		}
	}
}

.caretHelper {
	font-size: 27px;
	position: relative;
	overflow: hidden;
	i {
		line-height: 40%;
		float: left;
		margin-left: 15%;
	}
}
#dragAndDropHelper {
	top: 4%;
	width: 8%;
	z-index: 1;
}

.centered {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.ProfilesHandler .item.sortable-ghost {
	pointer-events: none;
	.ProfileBox {
		border: 1px solid $themeColor !important;
		border-bottom: 1px solid $themeColor !important;
		background-color: rgba(white, 0);
		border-radius: 5px;
		.ProfileName, .ProfileContent {
			opacity: 0;
		}
	}
}
.siteLinkBox.sortable-fallback {
	.linkImage {
		opacity: 1 !important;
		.showAppActionsButton, .emptyAppIndicator {
			display: none;
		}
		.appTypeIndicator {
			position: absolute;
			color: $themeColor;
			font-size: 0.8vw;
			left: 7%;
			bottom: 4%;
			text-shadow: 1px 1px 0px #fff,1px -1px 0px #fff,-1px 1px 0px #fff,-1px -1px 0px #fff,-1px 0px 0px #fff,0px -1px 0px #fff,1px 0px 0px #fff,0px 1px 0px #fff;
		}
	}
	.siteName {
		display: none;
	}
}
.siteLinkBox.gu-mirror {
	width: 50px !important;
	height: 50px !important;
	border-radius: 5px;
	border: 1px transparent;
	opacity: 1;
	.deleteAppButton, .modifyAppButton, .showAppActionsButton, .siteName, .emptyAppIndicator {
		display: none;
	}
	img {
		opacity: 1;
		border-radius: 5px;
		width: 100%;
		height: 100%;
	}
}

.siteLinkBox.gu-transit {
	opacity: 0;
}

.ProfilesView .owl-carousel  .owl-wrapper, .ProfilesView .owl-carousel  .owl-item {
	-webkit-backface-visibility: inherit;
	-moz-backface-visibility: inherit;
	-ms-backface-visibility: inherit;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
}
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media screen and (min-width: 1500px) {
	.showAppActionsButton {
		.appActionsPopup {
			.buttonsContainer {
				min-width: 150px;
				.menu-item {
					&:before {
						font-size: 1.4em;
					}
					p {
						width: 150px;
						font-size: 1.4em;
					}
				}
			}
		}
	}
	.ProfileBox {
		.ProfileContent {
			.content {
				.ProfileControlPanel {
					.profileSettingsTab {
						input, div, p, i {
							//							font-size: 1.4em;
						}
					}
				}
			}
		}
	}
}

body > .siteLinkBox {
	.linkImage {
		border-radius: 5px;
		opacity: 1 !important;
		width: 65%;
		margin: auto;
		transform: translateY(100%);
		img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
		.showAppActionsButton, .emptyAppIndicator {
			display: none;
		}
	}
	.siteName {
		display: none;
	}
}
