.ProfilesView.show .MenuButtonSet {
  display: block; }

.ProfileBox {
  width: 90%;
  border: 1px hidden white;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  height: auto; }
  .ProfileBox .ProfileName {
    text-align: left;
    background-color: #FFD00C;
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px 5px 0px 0px; }
    .ProfileBox .ProfileName p {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      display: inline-block;
      font-family: "Raleway", "Source Sans Pro", sans-serif;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;
      margin-bottom: 0px;
      line-height: 25px;
      vertical-align: middle;
      height: 100%; }
    .ProfileBox .ProfileName .ProfileSettingsButton {
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: right;
      font-size: 20px;
      vertical-align: middle;
      color: white;
      margin-top: 3px;
      cursor: pointer; }
  .ProfileBox .ProfileContent {
    position: relative; }
    .ProfileBox .ProfileContent .content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto; }
      .ProfileBox .ProfileContent .content .ProfileControlPanel {
        display: none;
        width: 100%;
        font-family: "Raleway", "Source Sans Pro", sans-serif; }
        .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab {
          padding: 2px 5%; }
          .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionHeader {
            cursor: pointer;
            text-align: left;
            outline: none;
            padding: 6px 0px;
            border-bottom: 1px solid #373b60; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionHeader .title {
              width: 60%;
              font-weight: 600;
              color: #373b60; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionHeader p {
              margin-bottom: 2px; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionHeader p, .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionHeader div {
              display: inline-block;
              vertical-align: middle; }
          .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab #ColorSection .directInfo {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: #373b60; }
          .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent {
            margin-top: 3px; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent #modifyColorForm .colorChooser {
              width: 80%;
              margin: 0px auto; }
              .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent #modifyColorForm .colorChooser .color {
                cursor: pointer;
                display: inline-block;
                background-color: black;
                width: 20px;
                height: 20px;
                border-radius: 20px; }
                .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent #modifyColorForm .colorChooser .color.selected {
                  border: 2px solid #373b60; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent input {
              outline: none;
              margin-top: 3%;
              border-radius: 2px;
              border: 1px hidden;
              padding-left: 3px;
              width: 80%;
              background-color: #efefef; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet {
              text-align: center;
              margin-top: 3%;
              margin-bottom: 3%; }
              .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet button {
                margin: 0px;
                padding: 2px;
                float: none;
                min-width: 0px;
                max-width: 100%;
                width: 40%;
                display: inline-block;
                color: white;
                border-radius: 3px; }
              .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet #validate {
                background-color: #373b60; }
                .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet #validate:hover {
                  background-color: #33375a; }
              .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet #cancel {
                background-color: #888888; }
                .ProfileBox .ProfileContent .content .ProfileControlPanel .profileSettingsTab .sectionContent .buttonSet #cancel:hover {
                  background-color: #838383; }
        .ProfileBox .ProfileContent .content .ProfileControlPanel ul {
          padding-left: 0px; }
          .ProfileBox .ProfileContent .content .ProfileControlPanel ul li {
            list-style-type: none;
            cursor: pointer;
            line-height: 50px;
            font-size: 20px;
            border-bottom: 1px solid #AAAAAA; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel ul li i {
              float: left;
              font-size: 40px;
              margin-top: 5px;
              margin-left: 10px; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel ul li p {
              margin-bottom: 0px;
              font-family: "Raleway", "Source Sans Pro", sans-serif; }
            .ProfileBox .ProfileContent .content .ProfileControlPanel ul li:hover {
              background-color: white;
              color: black; }
      .ProfileBox .ProfileContent .content .SitesContainer {
        position: relative;
        height: 100%;
        width: 100%; }
        .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox {
          overflow: hidden;
          border-radius: 5px;
          width: 33.33333%;
          border: 1px hidden #EFECEA;
          float: left;
          height: 16.66667%;
          padding-top: 5px;
          position: relative; }
          .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .siteName {
            font-size: 10px;
            line-height: 9px; }
            .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .siteName p {
              margin: 0px; }
          .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage {
            position: relative;
            width: 65%;
            cursor: pointer;
            opacity: 0.8;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2px; }
            .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage:hover {
              opacity: 1; }
            .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .deleteAppButton {
              visibility: hidden;
              display: none; }
            .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .modifyAppButton {
              visibility: hidden;
              display: none; }
            .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage img {
              border: 1px solid #efefef;
              border-radius: 5px;
              width: 100%;
              height: 100%; }
          .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage.waitingLinkImage {
            opacity: 0.5; }

.ProfilesView.show {
  -webkit-animation: slideLeft 0.8s 1;
  animation: slideLeft 0.8s 1;
  display: block; }

.ProfilesView {
  display: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%; }
  .ProfilesView .ProfilesHandler.editMode {
    width: 50%;
    margin-left: 0px;
    margin-right: 0px; }
  .ProfilesView .ProfilesHandler {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px; }
    .ProfilesView .ProfilesHandler .owl-carousel {
      width: 100%; }
      .ProfilesView .ProfilesHandler .owl-carousel .owl-wrapper {
        padding-bottom: 15px; }
        .ProfilesView .ProfilesHandler .owl-carousel .owl-wrapper .owl-item .item {
          text-align: center; }

.windowAddApp {
  width: 200px;
  position: absolute;
  margin-top: 10px;
  display: none; }
  .windowAddApp .md-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .windowAddApp .arrow-top {
    margin-left: 10px;
    z-index: 2000;
    position: relative; }
    .windowAddApp .arrow-top i {
      font-size: 28px;
      line-height: 10px;
      color: #d9d9d9; }
  .windowAddApp .content {
    z-index: 2000;
    position: absolute;
    border-radius: 3px;
    background-color: #d9d9d9; }
    .windowAddApp .content .blockHeader {
      font-size: 12px;
      text-align: center;
      padding-left: 2%;
      padding-right: 2%;
      margin-top: 5px; }
    .windowAddApp .content .classicInput {
      padding-left: 20%;
      padding-right: 20%;
      margin-top: 5px;
      margin-bottom: 5px; }
      .windowAddApp .content .classicInput input {
        margin-top: 3px;
        width: 100%;
        height: 20px;
        font-size: 11px; }
      .windowAddApp .content .classicInput .button {
        min-width: 0px;
        max-width: 500px;
        padding: 0px;
        margin: 0px;
        width: 22px;
        height: 22px;
        color: #42b7cb;
        font-size: 22px;
        position: absolute;
        right: 0;
        margin-right: 7px;
        bottom: 0%;
        margin-bottom: 5px; }
        .windowAddApp .content .classicInput .button:hover {
          transition: color 0.3s;
          cursor: pointer;
          color: #373b60; }
  .windowAddApp .md-overlay.overlay-display {
    opacity: 0.3;
    visibility: visible; }

.windowAddApp.displayAbs {
  display: block; }

.ProfilesHandler #dragAndDropHelper {
  display: none; }
.ProfilesHandler .item .addProfileView {
  display: none; }

.ProfilesHandler.editMode {
  padding-top: 40px; }
  .ProfilesHandler.editMode #dragAndDropHelper {
    display: block; }
  .ProfilesHandler.editMode .item .addProfileView {
    display: block; }
  .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage {
    opacity: 1; }
    .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .deleteAppButton {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: 35%;
      border-radius: 100%;
      background-color: white;
      top: 5%;
      left: 0;
      visibility: hidden;
      transform: translateX(-50%) translateY(-50%); }
      .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .deleteAppButton:hover {
        cursor: pointer; }
      .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .deleteAppButton i {
        color: black;
        font-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .modifyAppButton {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: 35%;
      border-radius: 100%;
      background-color: white;
      top: 5%;
      left: 100%;
      visibility: hidden;
      transform: translateX(-50%) translateY(-50%); }
      .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .modifyAppButton:hover {
        cursor: pointer; }
      .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage .modifyAppButton i {
        color: black;
        font-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
    .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage:hover .deleteAppButton {
      visibility: visible;
      display: block; }
    .ProfilesHandler.editMode .ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox .linkImage:hover .modifyAppButton {
      visibility: visible;
      display: block; }

#dragAndDropHelper {
  top: 4%;
  width: 8%;
  z-index: 1; }

/*# sourceMappingURL=Profiles.css.map */
