@import 'variables';
@import 'mixins';

.ProfilesView.show .MenuButtonSet {
	display: block;
}

    .ProfileBox {
    	width: 90%;
    	border: 1px hidden white;
	    border-radius: 5px;
	    background-color: white;
	    overflow: hidden;
	    display: inline-block;
	    height: auto;
    	.ProfileName {
    		text-align: left;
		    background-color: #FFD00C;
		    padding: 2px;
		    padding-left: 5px;
	        border-radius: 5px 5px 0px 0px;
		    p {
		    	text-transform: uppercase;
			    font-weight: 600;
    			letter-spacing: 1px;
		    	display: inline-block;
		    	font-family: $defaultFont;
		    	color: $profilesNameFontColor;
		    	font-family: 'Source Sans Pro', sans-serif;
		    	font-size: 15px;
		  	  	margin-bottom: 0px;
	    		line-height: 25px;
    			vertical-align: middle;
    			height: 100%;
		    }
		    .ProfileSettingsButton {
		    	position: relative;
			    overflow: hidden;
    			display: inline-block;
   				float: right;
    			font-size: 20px;
    			vertical-align: middle;
    			color: white;
    			margin-top: 3px;
    			cursor: pointer;
		    }
    	}
    	.ProfileContent {
    		position: relative;
    		.content {
    			position: absolute;
    			top: 0;
    			width: 100%;
    			height: 100%;
    			overflow-y: auto;
    	.ProfileControlPanel {
    		display: none;
    		width: 100%;
    		font-family: $defaultFont;
    		.profileSettingsTab {
    			padding: 2px 5%;
    			.sectionHeader {
    				cursor: pointer;
    				text-align: left;
    				outline: none;
    				padding: 6px 0px;
    				border-bottom: 1px solid $themeColor;
    				.title {
    					width: 60%;
    					font-weight: 600;
    					color: $themeColor;
    				}
    				p {
    					margin-bottom: 2px;
    				}
    				p, div {
    					display: inline-block;
    					vertical-align: middle;
    				}
    				.directInfo {
    					
    				}
    			}
    			#ColorSection .directInfo {
    				width: 20px;
    				height:20px;
    				border-radius: 20px;
    				background-color: $themeColor;
    			}
    			.sectionContent {
    				margin-top: 3px;
    				#modifyColorForm {
    					.colorChooser {
    						width: 80%;
    						margin: 0px auto;
    						.color {
    							cursor: pointer;
    							display: inline-block;
    							background-color: black;
    							width: 20px;
    							height: 20px;
    							border-radius: 20px;
    							&.selected {
    								border: 2px solid $themeColor;
    							}
    						}
    					}
    				}
    				input {
						outline: none;
						margin-top: 3%;
						border-radius: 2px;
						border: 1px hidden;
						padding-left: 3px;
						width: 80%;
						background-color: #efefef;
					}
					.buttonSet {
						text-align: center;
						margin-top: 3%;
						margin-bottom: 3%;	
						button {
							margin: 0px;
							padding: 2px;
							float: none;
							min-width: 0px;
							max-width: 100%;
							width: 40%;
							display: inline-block;	
							color: white;
							border-radius: 3px;
						}
						#validate {
							background-color: $themeColor;
							&:hover {
								background-color: darken($themeColor, 2%);
							}
						}
						#cancel {
							background-color: #888888;
							&:hover {
								background-color: darken(#888888, 2%);
							}
						}
					}
				}
    		}
    		ul { 
    			padding-left: 0px;
    			li {
    				list-style-type : none;
    				cursor: pointer;
    				line-height: 50px;
    				font-size: 20px;
    				border-bottom: 1px solid #AAAAAA;
    				i {
    					float: left;
    					font-size: 40px;
    					margin-top: 5px;
    					margin-left: 10px;
    				}
    				p {
    					margin-bottom: 0px;
    					font-family: $defaultFont;
    				}
    				&:hover {
    					background-color: white;
    					color: black;
    				}	
	    		}
    		}
    	}
    	.SitesContainer {
    		position: relative;
    		height: 100%;
    		width: 100%;
    		.siteLinkBox {
    			overflow:hidden;
			   	border-radius: 5px;
				width: (100% / 3);
		    	border: 1px hidden #EFECEA;
		    	float: left;
		    	height: (100% / 6);
		    	padding-top: 5px;
		    	position: relative;
		    	.siteName {
		    		font-size: 10px;
		    		line-height: 9px;
		    		p {
		    			margin: 0px;
		    		}
		    	}
		    	.linkImage {
		    		&:hover {
		    			opacity: 1;
		    		}
		    		.deleteAppButton{
		    			visibility: hidden;
		    			display: none;
		    		}
		    		.modifyAppButton{
		    			visibility: hidden;
		    			display: none;
		    		}
		    		position: relative;
	            	width: 65%;
	            	cursor: pointer;
	            	opacity: 0.8;
					margin-left: auto;
				    margin-right: auto;
				    margin-bottom: 2px;
			    	img {
				    	border: 1px solid #efefef;
		            	border-radius: 5px;			    
			    		width: 100%;
			    		height: 100%;
		    		}
		    	}
                .linkImage.waitingLinkImage {
                    opacity: 0.5;
                }
		    }
		    }
    	}
    	}
    }
    
.ProfilesView.show	{
	-webkit-animation: slideLeft 0.8s 1;
	animation: slideLeft 0.8s 1;
	display: block;
}

.ProfilesView {
	display: none;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100%;
    .CatalogViewTab{
    	
    }
    .ProfilesHandler.editMode {
    	width: 50%;
    	margin-left: 0px;
    	margin-right: 0px;
    }
    .ProfilesHandler {
    	width: 60%;
    	margin-left: auto;
   		margin-right: auto;
   		padding-top: 25px;
    	.owl-carousel {
    		width:100%;
    		.owl-wrapper {
    			padding-bottom: 15px;
    			.owl-item {
    				.item {
    					text-align: center;
    				}
    			}
    		}
    	}
    }
}

.windowAddApp {
	width: 200px;
	position: absolute;
	margin-top: 10px;
	display: none;
	.md-overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.arrow-top {
		margin-left: 10px;
   	 	z-index: 2000;
    	position: relative;
		i {
			font-size: 28px;
			line-height: 10px;
			color: #d9d9d9;
		}
	}
	.content {
		z-index: 2000;
		position: absolute;
		border-radius: 3px;
		background-color: #d9d9d9;
		.blockHeader {
			font-size: 12px;
		    text-align: center;
    		padding-left: 2%;
    		padding-right: 2%;
    		margin-top: 5px;
		}
		.classicInput {
			padding-left: 20%;
			padding-right: 20%;
			margin-top: 5px;
			margin-bottom: 5px;
			input {
				margin-top: 3px;
				width: 100%;
				height: 20px;
				font-size: 11px;
			}
			.button {
				min-width: 0px;
				max-width: 500px;
				padding: 0px;
				margin: 0px;
				width: 22px;
				height: 22px;
				color: #42b7cb;
				font-size: 22px;
				position: absolute;
			    right: 0;
    			margin-right: 7px;
    			bottom: 0%;
    			margin-bottom: 5px;
				&:hover {
					transition: color 0.3s;
					cursor: pointer;
					color: $themeColor;
				}
			}
		}
	}
	
	.md-overlay.overlay-display {
	opacity: 0.3;
	visibility: visible;
	}
}

.windowAddApp.displayAbs {
	display: block;
}

.ProfilesHandler {
	#dragAndDropHelper {
		display: none;
	}
	.item {
		.addProfileView {
			display: none;
		}
	}
}
.ProfilesHandler.editMode{
	padding-top: 40px;
	#dragAndDropHelper {
		display: block;
	}
	.item .addProfileView {
		display: block;
	}
	.ProfileBox .ProfileContent .content .SitesContainer .siteLinkBox {
		.linkImage {
			opacity: 1;
		.deleteAppButton {
			position: absolute;
    		z-index: 1;
    					width: 35%;
					    height: 35%;
					    border-radius: 100%;
    					background-color: white;
    					top: 5%;
    					left: 0;
    					visibility: hidden;
    					transform: translateX(-50%) translateY(-50%);
    					&:hover {
    						cursor: pointer;
    					}
    					i {
    						color: black;
    						font-size: 100%;
    						position: absolute;
    						top: 50%;
    						left: 50%;
    						transform: translateX(-50%) translateY(-50%);
    					}
					}
					.modifyAppButton {
						position: absolute;
					    z-index: 1;
    					width: 35%;
					    height: 35%;
					    border-radius: 100%;
    					background-color: white;
    					top: 5%;
    					left: 100%;
    					visibility: hidden;
    					transform: translateX(-50%) translateY(-50%);
    					&:hover {
    						cursor: pointer;
    					}
    					i {
    						color: black;
    						font-size: 100%;
    						position: absolute;
    						top: 50%;
    						left: 50%;
    						transform: translateX(-50%) translateY(-50%);
    					}		
					}
					&:hover {
						.deleteAppButton {
							visibility: visible;
							display: block;
						}
						.modifyAppButton {
							visibility:visible;
							display: block;
						}
					}

					}
					}
					}

#dragAndDropHelper {
	top: 4%;
	width: 8%;
	z-index: 1;
}

.siteLinkBox.gu-mirror {
	width: 50px !important;
	height: 50px !important;
	.deleteAppButton, .modifyAppButton, .siteName {
		display: none;
	}
	img {
		width: 100%;
		height: 100%;
	}
}