@import 'variables';
@import 'mixins';

.SettingsView.show {
	display: block;
	-webkit-animation: slideLeft 0.8s 1;
	animation: slideLeft 0.8s 1;
}

.SettingsView {
	width: 100%;
	float:left;
	display: none;
	min-height: 100%;
	overflow: auto;
    height: 100%;
    .alertDiv {
    	color: red;
    }
	.settingsWindow {
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		background-color: $themeGreyColor;
		padding: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
		border-radius: 5px;
		.quit {
			font-size: 20px;
			cursor: pointer;
			color: red;
			position: absolute;
			right: 2%;
			top: 2%;
		}
		.title {
			color: $themeColor;
			font-family: $defaultFont;
			font-weight: 600;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
			p, i {
				display: inline-block;
			}
		}
		#settingsTab {
			color: $themeColor;
			#SendVerificationEmail {
				display: none;
				button[type="submit"] {
					display: none;
				}
			}
			#AddEmailPopup, #DeleteAccountWait {
				.md-content {
					background-color: rgba(255, 255, 255, 0.8) !important;
					color: $themeColor;
					width: fit-content;
				}
				h2 {
					text-align: center;
				}
				.waiting.show, .email-sent.show, .error.show {
					height: auto;
					width: auto;
					margin: auto !important;
					padding: 10px;
					opacity: 1;
					visibility: visible;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
				}
				.email-sent, .error, .waiting {
					width: 0;
					padding: 0;
					height: 0;
					opacity: 0;
					visibility: hidden;
					overflow: hidden;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
	  			position: relative;
				}
				.email-sent {
					i {
						display: block;
						width: fit-content;
						padding: 5px;
						border-radius: 25px;
						background-color: $themeGreyLightColor;
						margin: auto;
						color: green;
						font-size: 25px;
					}
				}
				.sk-fading-circle {
					position: relative;
					width: 75px;
	  			height: 75px;
					margin: auto;
					.sk-circle {
						&:before {
						  background-color: $themeColor;
						}
					}

				}
			}
			#ModifyNameForm {
				p.errorMessage {
					margin-left: 10px;
					margin-top: 5px;
					display: none;
					color: $themeRedColor;
				}
				p.errorMessage.show {
					display: block;
				}
			}
			#ModifyPasswordForm {
				p.response {
					display: none;
				}
				p.success {
					display: block;
					color: green;
				}
				p.error {
					display: block;
					color: $themeRedColor;
				}
			}
			#DeleteEmailPopup {
				h2 {
					text-align: center;
					font-size: 20px;
				}
				button {
					width: 30%;
					height: 30px;
					border: 1px solid transparent;
					border-radius: 5px;
					color: white;
					display: inline-block;
					margin-top: 0;
				}
				button[type='submit'] {
					background-color: $themeRedColor;
					margin-left: 20%;
					&:hover {
						background-color: darken($themeRedColor, 3%);
					}
				}
			}
			.setting {
				#PopupDeleteAccount {
					width: 40%;
					.delete-advertising {
						display: none;
					}
					.delete-advertising.show {
						display: block;
						position: relative;
						text-align: center;
						p {
							width: 75%;
							margin: auto;
						}
						button {
							display: inline-block;
							border-radius: 5px;
							border: 1px solid transparent;
							padding: 5px 45px;
							font-size: 1em;
						}
						button#confirmDeleteAccount {
							color: white;
							background-color: $themeRedColor;
							&:hover {
								background-color: darken($themeRedColor, 3%);
							}
						}
						button[oClass="CloseButton"] {
							color: black;
							background-color: $themeGreyLightColor;
							&:hover {
								background-color: darken($themeGreyLightColor, 3%);
							}
						}
					}
					#DeleteAccountForm {
						display: none;
						p {
							text-align: center;
							padding: 20px;
						}
						.errorMessage {
							color: $themeRedColor;
							display: none;
							padding: 0;
						}
						.errorMessage.show {
							display: block;
						}
						input {
							display: block;
							margin: auto;
					    width: 40%;
					    color: $themeColor;
					    margin-bottom: 3%;
						}
						div {
							margin: auto;
							width: 77%;
							button {
								display: inline-block;
								width: 43%;
								font-size: 1em;
								border-radius: 4px;
								border: 1px solid transparent;
								line-height: 20px;
								vertical-align: middle;
								margin: 2%;
							}
							button[type='submit'] {
								background-color: $themeRedColor;
								color: white;
								opacity: 0.6;
							}
							button[type='submit'].Active {
								opacity: 1;
							}
							button[oClass="CloseButton"] {
								color: black;
							}
						}
					}
					#DeleteAccountForm.show {
						display: block;
					}
					.wait {
						display: none;
					}
					.wait.show {
						display: block;
					}
					.sk-fading-circle {
						width: 100px;
				    height: 100px;
				    position: relative;
						margin: 30px auto;
						&:before {
							background-color: white;
						}
						.sk-circle {
							margin: 0;
							&:before {
								background-color: white;
							}
						}
					}
				}
				#deleteAccountButton {
					border: 1px solid #373B60;
					background-color: #373B60;
			    color: white;
			    border-radius: 6px;
			    margin-left: 10px;
				}
			}
			.setting {
				transition: height 0.3s ease;
				-webkit-transition: height 0.3s ease;
				position: relative;
				height: 0;
				overflow: hidden;
				input {
					outline: none;
					border-radius: 2px;
					border: 1px hidden;
					height: 28px;
					line-height: 28px;
					vertical-align: middle;
					padding-left: 3px;
					width: 50%;
					margin-top: 4px;
					margin-left: 10px;
				}
				button[type='submit'], span.verifiedEmail {
					width: 80px;
					text-align: center;
					margin-top: 4px;
					padding: 3px;
					line-height: 20px;
					vertical-align: middle;
					border: 1px solid white;
					color: $themeColor;
					border-radius: 4px;
					background-color: white;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
				}
				button[type='submit'].Active {
					color: white;
					background-color: $themeColor;
					border-color: $themeColor;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					&:hover {
						background-color: white;
						color: $themeColor;
						transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
					}
				}
			 	.emailLine {
					input {
						cursor: default;
					}
					span.verifiedEmail, span.unverifiedEmail {
						display: inline-block;
						cursor: pointer;
						color: white;
					}
					span.verifiedEmail {
						background-color: green;
						border-color: green;
					}
					span.unverifiedEmail.wait {
						.verify, .sendVerificationEmail {
							width: 0;
							padding: 3px 0;
							transition: width 0.3s ease;
							-webkit-transition: width 0.3s ease;
							&:hover {
								width: 0;
								padding: 3px 0;
								transition: width 0.3s ease;
								-webkit-transition: width 0.3s ease;
							}
						}
					}
					span.unverifiedEmail {
						display: inline-block;
						vertical-align: middle;
    				border-radius: 4px;
    				text-align: center;
						color: white;
						border-color: orange;
						cursor: pointer;
						overflow: hidden;
						width: fit-content;
						margin-top: 4px;
						white-space: nowrap;
						.verify {
							display: inline-block;
							height: 28px;
							max-height: 28px;
							width: 80px;
							background-color: orange;
							padding: 3px;
							overflow: hidden;
							transition: width 0.3s ease;
						}
						.sendVerificationEmail {
							display: inline-block;
							height: 28px;
							max-height: 28px;
							background-color: $themeColor;
							padding: 3px 0;
							width: 0;
							overflow: hidden;
							transition: width 0.3s ease;
						}
						&:hover {
							.verify {
								width: 0;
								padding: 3px 0;
								transition: width 0.3s ease;
							}
							.sendVerificationEmail {
								width: 150px;
								padding: 3px;
								transition: width 0.3s ease;
							}
						}
					}
					.removeEmail, .emailInfo {
						margin-top: 4px;
						font-size: 18px;
						visibility: hidden;
						line-height: 20px;
						vertical-align: middle;
						opacity: 0;
						overflow: hidden;
						-webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
						transition: opacity 0.2s ease, visibility 0.2s ease;
						.info {
							opacity: 0;
							visibility: hidden;
							overflow: hidden;
							display: block;
							width: auto;
							max-width: 140px;
							height: auto;
							max-height: 70px;
							position: fixed;
							margin-top: -90px;
							margin-left: 10px;
							border-radius: 5px;
							transition: opacity 0.3s;
							transform: scale(0.2);
							font-family: $defaultFont;
							background-color: white;
							color: $themeColor;
							padding: 5px;
							font-size: 11px;
						}
						&:hover {
							cursor: pointer;
							.info {
								transition: opacity 0.3s, transform 0.5s cubic-bezier(0.62, -0.66, 0.27, 1.63);
								transform: scale(1);
								visibility: visible;
								opacity: 1;
							}
						}
					}
					&:hover {
						.removeEmail, .emailInfo {
							visibility: visible;
							opacity: 1;
							-webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
							transition: opacity 0.2s ease, visibility 0.2s ease;
						}
					}
					.email-loading {
						display: none;
					}
					.email-loading.show {
						display: inline-block !important;
						font-size: 12px;
						margin: 0;
						width: 20px;
						height: 20px;
					}
					.email-sent {
						display: none;
						font-size: 10px;
						margin: 0;
						i {
							color: green;
						}
					}
					.email-sent.show {
						display: inline-block !important;
					}
					.sk-fading-circle {
		  			margin: 100px auto;
		  			width: 40px;
		  			height: 40px;
		  			position: relative;
						span {
							width: 100px;
							position: absolute;
							margin-top: 4px;
						}
						.sk-circle {
							margin-top: 10px;
							margin-left: 95px;
							&:before {
							  background-color: #333;
							}
						}
					}
				}
				.newEmailInput, .newEmail {
					visibility: hidden;
					cursor: pointer;
					overflow: hidden;
					height: 0;
					opacity: 0;
					transition: opacity 0.3s ease, visibility 0.3s ease;
				}
				.newEmail {
					margin-left: 10px;
					width: fit-content;
				}
				.newEmailInput.show, .newEmail.show {
					visibility: visible;
					height: auto;
					opacity: 1;
					transition: opacity 0.3s ease, visibility 0.3s ease;
				}
			}
			.setting.show {
				transition: height 0.3s ease;
				-webkit-transition: height 0.3s ease;
				height: auto;
			}
			.sectionHeader {
				outline: none;
				padding-top: 1%;
				padding-bottom: 1%;
				.smallDescription {
					display: inline-block;
					font-size: smaller;
					font-weight: 200;
					margin-bottom: 0px;
				}
				p.smallDescription {
					margin-left: 10px
				}
				p.sectionDescription {
					display: inline-block;
					cursor: pointer;
					margin-left: 5px;
					font-weight: 600;
					margin-bottom: 0;
				}
				i.fa-caret-right {
					cursor: pointer;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				i.fa-caret-right.down {
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					-ms-transform: rotate(90deg); /* IE 9 */
    			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    			transform: rotate(90deg);
				}
			}
			.sectionContent {
				padding-left: 2%;
				padding-right: 2%;
				overflow: hidden;
			}
		}
	}
}

					.checkBox {
 						display: none;
 					}
 					.slider {
  						display: inline-block;
  						width:30px;
 							height: 17px;
  						position: absolute;
  						cursor: pointer;
  						border-radius: 17px;
   						background-color: #ccc;
   						-webkit-transition: .4s;
   						transition: .4s;
   					}
   					.slider:before {
   						position: absolute;
   						border-radius: 50%;
   						content: "";
   						height: 13px;
   						width: 13px;
   						left: 2px;
   						bottom: 2px;
   						background-color: white;
   						-webkit-transition: .4s;
   						transition: .4s;
					}
					.checkBox:checked + .slider {
						background-color: $themeColor;
					}
					.checkBox:focus + .slider {
						box-shadow: 0 0 1px $themeColor;
					}
					.checkBox:checked + .slider:before {
						-webkit-transform: translateX(13px);
						-ms-transform: translateX(13px);
						transform: translateX(13px);
					}

@media screen and (max-width: 771px) {
	.SettingsView {
		.settingsWindow {
			width: 90%;
		}
	}
}
