@import 'variables';
@import 'mixins';

.SettingsView.show {
	display: block;
	-webkit-animation: slideLeft 0.8s 1;
	animation: slideLeft 0.8s 1;
}

.SettingsView {
	width: 100%;
	float:left;
	display: none;
	min-height: 100%;
	overflow: auto;
    height: 100%;
    .alertDiv {
    	color: red;
    }
	.settingsWindow {
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		background-color: $themeGreyColor;
		padding: 3%;
		padding-top: 2%;
		padding-bottom: 2%;
		border-radius: 5px;
		.quit {
			font-size: 20px;
			cursor: pointer;
			color: red;
			position: absolute;
			right: 2%;
			top: 2%;
		}
		.title {
			color: $themeColor;
			font-family: $defaultFont;
			font-weight: 600;
			font-size: 18px;
			text-align: center;
			margin-bottom: 5px;
			p, i {
				display: inline-block;
			}
		}
		#settingsTab {
			color: $themeColor;
			form {
				position: relative;
				visibility: visible;
				height: 0;
				overflow: hidden;
				transition: height 1.3s ease, visible 1.3s ease;
				-webkit-transition: height 1.3s ease, visible 1.3s ease;
				input {
					outline: none;
					border-radius: 2px;
					border: 1px hidden;
					height: 28px;
					line-height: 28px;
					vertical-align: middle;
					padding-left: 3px;
					width: 50%;
					margin-top: 4px;
					margin-left: 10px;
				}
				button[type='submit'], span.verifiedEmail, span.unverifiedEmail {
					width: 80px;
					text-align: center;
					margin-top: 4px;
					padding: 3px;
					line-height: 20px;
					vertical-align: middle;
					border: 1px solid white;
					color: $themeColor;
					border-radius: 4px;
					background-color: white;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
				}
				button[type='submit'].Active {
					color: white;
					background-color: $themeColor;
					border-color: $themeColor;
					transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					&:hover {
						background-color: white;
						color: $themeColor;
						transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
					}
				}
			 	.emailLine {
					span.verifiedEmail, span.unverifiedEmail {
						display: inline-block;
						cursor: pointer;
						color: white;
					}
					span.verifiedEmail {
						background-color: green;
						border-color: green;
					}
					span.unverifiedEmail {
						background-color: orange;
						border-color: orange;
					}
					.removeEmail, .emailInfo {
						margin-top: 4px;
						font-size: 18px;
						visibility: hidden;
						line-height: 20px;
						vertical-align: middle;
						opacity: 0;
						overflow: hidden;
						-webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
						transition: opacity 0.2s ease, visibility 0.2s ease;
						&:hover {
							cursor: pointer;
						}
					}
					&:hover {
						.removeEmail, .emailInfo {
							visibility: visible;
							opacity: 1;
							-webkit-transition: opacity 0.2s ease, visibility 0.2s ease;
							transition: opacity 0.2s ease, visibility 0.2s ease;
						}
					}
				}
				.newEmailInput, .newEmail {
					visibility: hidden;
					cursor: pointer;
					overflow: hidden;
					height: 0;
					opacity: 0;
					transition: opacity 0.3s ease, visibility 0.3s ease;
				}
				.newEmail {
					margin-left: 10px;
				}
				.newEmailInput.show, .newEmail.show {
					visibility: visible;
					height: auto;
					opacity: 1;
					transition: opacity 0.3s ease, visibility 0.3s ease;
				}
			}
			form.show {
				visibility: visible;
				height: auto;
				transition: height 1.3s ease, visible 1.3s ease;
				-webkit-transition: height 1.3s ease, visible 1.3s ease;
			}
			.sectionHeader {
				outline: none;
				padding-top: 1%;
				padding-bottom: 1%;
				.smallDescription {
					display: inline-block;
					font-size: smaller;
					font-weight: 200;
					margin-bottom: 0px;
				}
				p.smallDescription {
					margin-left: 10px
				}
				p.sectionDescription {
					display: inline-block;
					cursor: pointer;
					margin-left: 5px;
					font-weight: 600;
					margin-bottom: 0;
				}
				i.fa-caret-right {
					cursor: pointer;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				i.fa-caret-right.down {
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					-ms-transform: rotate(90deg); /* IE 9 */
    			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    			transform: rotate(90deg);
				}
			}
			.sectionContent {
				padding-left: 2%;
				padding-right: 2%;
				overflow: hidden;
			}
		}
	}
}

					.checkBox {
 						display: none;
 					}
 					.slider {
  						display: inline-block;
  						width:30px;
 							height: 17px;
  						position: absolute;
  						cursor: pointer;
  						border-radius: 17px;
   						background-color: #ccc;
   						-webkit-transition: .4s;
   						transition: .4s;
   					}
   					.slider:before {
   						position: absolute;
   						border-radius: 50%;
   						content: "";
   						height: 13px;
   						width: 13px;
   						left: 2px;
   						bottom: 2px;
   						background-color: white;
   						-webkit-transition: .4s;
   						transition: .4s;
					}
					.checkBox:checked + .slider {
						background-color: $themeColor;
					}
					.checkBox:focus + .slider {
						box-shadow: 0 0 1px $themeColor;
					}
					.checkBox:checked + .slider:before {
						-webkit-transform: translateX(13px);
						-ms-transform: translateX(13px);
						transform: translateX(13px);
					}

@media screen and (max-width: 771px) {
	.SettingsView {
		.settingsWindow {
			width: 90%;
		}
	}
}
