
#teamBody {
	#team {
		margin-top: 62px;
		.section-heading {
			margin-bottom: 5vw;
		}
		#members {
			text-align: center;
			.memberDescription {
				position: relative;
				width: 32%;
				display: inline-block;
				margin-bottom: 3vw;
				.memberPhoto {
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
				.name {
					font-size: 1.1vw;
					margin-top: 0.5vw;
					margin-bottom: 0px;
					a {
						color: #373B60;
					}
				}
				.post {
					color: gray;
					letter-spacing: 1px;
					font-weight: bolder;
					font-size: 1vw;
				}
			}
		}
	}
}

#contactBody {
	#footer {
		border-top:1px solid #dce0e0;
		background-color: white;
	}
	#contact_us {
		background-color: #eee;
		margin-top: 62px;
		.section-heading {
			margin-bottom: 40px;
		}
		#contactUsForm {
			.contactForm {
				padding: 30px;
				width: 60%;
				margin: auto;
				background-color: white;
				border:1px solid #dce0e0;
				.formRaw:last-child {
					margin-bottom: 0px;
				}
				.formRaw {
					margin-bottom: 20px;
					width: 100%;
					input {
						display: block;
						width: 100%;
						margin-bottom: 10px;
						padding: 10px 25px;
						font-size: 16px;
						line-height: 1.5em;
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
						border: 1px solid #dce0e0;
					}
					textarea {
						display: block;
						width: 100%;
						margin-bottom: 10px;
						padding: 10px 25px;
						font-size: 16px;
						line-height: 1.5em;
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
						min-height: 200px;
						border: 1px solid #dce0e0;
					}
					button {
						width: 100%;
						background-color: #02B875;
						padding: 12px;
						color: white;
						letter-spacing: 1px;
						&:hover  {
							opacity: 0.7;
						}
					}
				}
			}
		}
	}
}