@import 'variables';

.onoffswitch {
    position: relative; width: 4vw;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 2vw; padding: 0; line-height: 25px;
    border: 2px solid #CCCCCC; border-radius: 2vw;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 2vw; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 2vw;
    height: 2vw;
    border: 2px solid #CCCCCC; border-radius: 2vw;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
}

#tutorial {
    #importation {
        .popupBody {
            .handler {
                .row {
                    .account{
                        margin-bottom: 1vw;
                        height: 4vw;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        div, p {
                            display: inline-block;
                        }
                        .name {
                            font-size: 1.5vw;
                            margin-left: 1vw;
                        }
                        .onoffswitch {
                            float: right;
                            top: 50%;
                            transform: translateY(-50%);
                            label {
                                margin-bottom: 0px;
                            }
                        }
                        .logo {
                            height: 100%;
                            img {
                                height: 100%;
                                border-radius: 3px;
                            }
                        }
                    }
                    input, .input {
                        outline: none;
                        margin-bottom: 1.2vw;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                    .sub-title {
                        font-size:1.8vw;
                        font-weight:600;
                    }
                    .post-title {
                        font-size:1.7vw;
                    }
                }
            }
        }
        #accountCredentials {
            .errorText {
                display: none;
                &.show {
                    display: block;
                }
                p {
                    color: $themeRedColor;
                    font-size: 1.5vw;
                }
            }
            .imageHandler {
                width: 5vw;
                display: inline-block;
                img {
                    width: 100%;
                }
            }
        }
        #scrapingInfo {
            .info-text {
                font-size: 1.5vw;
                font-weight: 200;
            }
        }
    }
    #saving {
        .popupBody {
            .handler {
                #scrapping_done_submit.hide {
                  display: none;
                }
                .row {
                    .scrapedAppsContainer {
                        height: 15vw;
                        overflow: auto;
                        .appHandler{
                            width: 25%;
                            float: left;
                            text-align: center;
                            padding: 1vw;
                            .app {
                                overflow: hidden;
                                position: relative;
                                .logo {
                                    cursor: pointer;
                                    width: 70%;
                                    margin:auto;
                                    position: relative;
                                    border-radius: 3px;
                                    img {
                                        border-radius:3px;
                                        width: 100%;
                                    }
                                    &:before {
                                        content:"";
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.35);
                                        border-radius: 3px;
                                    }
                                    .by {
                                        //border-radius: 3px;
                                        filter: grayscale(100%);
                                        -webkit-filter: grayscale(100%);
                                        width: 31%;
                                        position: absolute;
                                        bottom: 3%;
                                        right: 3%;
                                    }
                                }
                            }
                            .app.selected {
                                .logo {
                                  .by {
                                      filter: grayscale(0);
                                      -webkit-filter: grayscale(0);
                                  }
                                    &:before {
                                        background-color: rgba(0,0,0,0.15);
                                    }
                                    &:after {
                                        content: "\f00c";
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        color: white;
                                        transform: translate3d(-50%, -50%, 0);
                                        font-family: FontAwesome;
                                        font-size: 2.7vw;
                                    }
                                }
                            }
                        }
                    }
                }
                #add_app_progress {
                  position: relative;
                  width: 80%;
                  margin: auto;
                  height: 1.5vw;
                  border-radius: 1.5vw;
                  background-color: grey;
                  #progress_bar {
                    position: absolute;
                    width: 0%;
                    border-radius: 1.5vw;
                    height: 100%;
                    background-color: green;
                  }
                  #label {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    line-height: 1.5vw;
                    color: white;
                  }
                }
                #add_app_progress.hide {
                  display: none;
                }
            }
        }
    }
}
