@import 'variables';

.onoffswitch {
    position: relative;
    width: 3vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 1.7vw;
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 1.7vw;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 1.7vw;
    margin: 0;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.3vw;
    height: 1.7vw;
    border: 1px solid #CCCCCC;
    border-radius: 1.7vw;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #49E845;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0;
}

.onoffswitch-label-readonly:before {
  transition: none;
  right: 0;
}

.onoffswitch-label-readonly {
  background-color: $themeSilverColor;
}

#tutorial {
    #accountCredentials,
    #scrapingInfo,
    #selectScraping {
        button[type='submit'] {
          transition: background-color 0.3s ease-in;
          -webkit-transition: background-color 0.3s ease-in;
        }
        button[type='submit'].locked {
            background-color: $themeDarkGreyColor;
            transition: background-color 0.3s ease-in;
            -webkit-transition: background-color 0.3s ease-in;
            cursor: initial;
        }

        .title {
            p {
                font-size: 1.7vw;
            }
        }

        .row {
            width: 80%;
            margin: 1vw auto auto;

            &:first-child,
            &:last-child {
                margin-top: 0;
            }

            .btn {
                font-size: 1.3vw;
                margin-top: 0.3vw;
            }

            a {
                cursor: pointer;
                color: $themeDarkGreyColor;
                font-size: 0.85vw;
            }
        }
    }

    #importation {
        .popupBody {
            .handler {
                .row {
                    .account {
                        margin-bottom: 0.5vw;
                        height: 2.8vw;

                        div,
                        p {
                            display: inline-block;
                        }

                        .name {
                            font-size: 1vw;
                            margin-left: 1vw;
                        }

                        .onoffswitch {
                            float: right;
                            top: 50%;
                            transform: translateY(-50%);

                            label {
                                margin-bottom: 0;
                            }
                        }

                        .logo {
                            height: 100%;

                            img {
                                height: 100%;
                                border-radius: 3px;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    span.input {
                        margin: 0;
                        max-width: 100%;
                    }

                    input {
                        outline: none;
                        margin-bottom: 1.2vw;
                        font-size: 1vw;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .sub-title {
                        font-size: 1.3vw;
                        font-weight: 600;
                    }

                    .post-title {
                        font-size: 1vw;
                    }
                }
            }
        }

        #accountCredentials {
            .errorText {
                display: none;

                &.show {
                    display: block;
                }

                p {
                    color: $themeRedColor;
                    font-size: 1vw;
                }
            }

            .imageHandler {
                width: 5vw;
                display: inline-block;

                img {
                    width: 100%;
                }
            }
        }

        #scrapingInfo {
            .info-text {
                font-size: 1vw;
                font-weight: 200;
            }
        }
    }

    #saving {
        .popupBody {
            .handler {
                #scrapping_done_submit.hide {
                    display: none;
                }

                .row {
                    .scrapedAppsContainer {
                        height: 15vw;
                        overflow: auto;

                        .appHandler {
                            width: 25%;
                            float: left;
                            text-align: center;
                            padding: 1vw 0.5vw;

                            .app {
                                overflow: hidden;
                                position: relative;

                                .name {
                                    font-size: 0.8vw;
                                    font-weight: 600;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .login {
                                    font-size: 0.7vw;
                                    white-space: nowrap;
                                    height: 0.9vw;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .logo {
                                    cursor: pointer;
                                    width: 70%;
                                    margin: auto;
                                    position: relative;
                                    border-radius: 3px;

                                    img {
                                        border-radius: 3px;
                                        width: 100%;
                                    }

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.35);
                                        border-radius: 3px;
                                    }

                                    .by {
                                        //border-radius: 3px;
                                        filter: grayscale(100%);
                                        -webkit-filter: grayscale(100%);
                                        width: 31%;
                                        position: absolute;
                                        bottom: 3%;
                                        right: 3%;
                                    }
                                }
                            }

                            .app.selected {
                                .logo {
                                    .by {
                                        filter: grayscale(0);
                                        -webkit-filter: grayscale(0);
                                    }

                                    &:before {
                                        background-color: rgba(0,0,0,0.15);
                                    }

                                    &:after {
                                        content: "\f00c";
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        color: white;
                                        transform: translate3d(-50%, -50%, 0);
                                        font-family: FontAwesome;
                                        font-size: 2.7vw;
                                    }
                                }
                            }
                        }
                    }

                    #add_app_progress {
                        position: relative;
                        width: 80%;
                        margin: auto;
                        height: 1.5vw;
                        border-radius: 1.5vw;
                        background-color: grey;

                        #progress_bar {
                            position: absolute;
                            width: 0;
                            border-radius: 1.5vw;
                            height: 100%;
                            background-color: green;
                        }

                        #label {
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            line-height: 1.5vw;
                            color: white;
                        }
                    }

                    #add_app_progress.hide {
                        display: none;
                    }
                }
            }
        }
    }

    #simpleImportation {
        .title {
            .sub-title {
                font-size: 1vw;
            }
        }

        .popupBody {
            .handler {
                & > .row:first-child,
                & > .row:last-child {
                    margin-top: 0;
                }

                .row {
                    margin-top: 1vw;
                    margin-bottom: 0;

                    a {
                        color: $themeDarkGreyColor;
                        text-decoration: underline;
                        font-size: 0.85vw;
                    }

                    .appsContainer {
                        height: 20vw;
                        overflow: auto;

                        .appHandler {
                            width: 25%;
                            float: left;
                            text-align: center;
                            padding: 1vw 0.5vw;

                            .app {
                                overflow: hidden;
                                position: relative;

                                .name {
                                    font-size: 0.8vw;
                                    font-weight: 600;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .login {
                                    font-size: 0.7vw;
                                    white-space: nowrap;
                                    height: 0.9vw;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .logo {
                                    cursor: pointer;
                                    width: 70%;
                                    margin: auto;
                                    position: relative;
                                    border-radius: 3px;

                                    img {
                                        border-radius: 3px;
                                        width: 100%;
                                    }

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0,0,0,0.35);
                                        border-radius: 3px;
                                    }

                                    .by {
                                        //border-radius: 3px;
                                        filter: grayscale(100%);
                                        -webkit-filter: grayscale(100%);
                                        width: 31%;
                                        position: absolute;
                                        bottom: 3%;
                                        right: 3%;
                                    }
                                }
                            }

                            .app.selected {
                                .logo {
                                    .by {
                                        filter: grayscale(0);
                                        -webkit-filter: grayscale(0);
                                    }

                                    &:before {
                                        background-color: rgba(0,0,0,0.15);
                                    }

                                    &:after {
                                        content: "\f00c";
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        color: white;
                                        transform: translate3d(-50%, -50%, 0);
                                        font-family: FontAwesome;
                                        font-size: 2.7vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #addAppTutorial,
    #importation,
    #simpleImportation {
        .title {
            p {
                font-size: 1.7vw;
            }
        }
    }

    #addAppTutorial {
        width: 30vw;

        .popupBody {
            .handler {
                & > .row:first-child,
                & > .row:last-child {
                    margin-top: 0;
                }

                .row.lineBehind {
                    &:before {
                        border-top: 2px solid $themeColor;
                        content: "";
                        margin: 0 auto;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        z-index: -1;
                    }
                }

                .row {
                    width: 80%;
                    margin: 1vw auto auto;

                    .logo {
                        width: 30%;
                        margin: auto;

                        img {
                            width: 100%;
                            border-radius: 5px;
                        }
                    }

                    #name {
                        width: 60%;
                        text-align: center;
                    }

                    span.input {
                        margin: 0;
                        max-width: 100%;
                    }

                    .post-title {
                        font-size: 1.3vw;
                        font-weight: 600;
                        background-color: white;
                        width: 80%;
                        margin: auto;
                    }

                    input {
                        outline: none;
                        margin-bottom: 1.2vw;
                        font-size: 1vw;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    #skipButton {
                        cursor: pointer;
                        color: $themeDarkGreyColor;
                        font-size: 0.85vw;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
