$backgroundColor: #E8ECF1;
$defaultFont: 'Raleway', 'Source Sans Pro', sans-serif;
$profilesNameFontColor: white;
$themeColor: #373b60;
$themeGreyColor: #efefef;
$themeRedColor: #ec555b;
$themeRedLightColor: #ee6368;
$themeLightGreyColor: rgba(239, 239, 239, 0.89);
$themeDarkGreyColor: #C1C1C1;
$themeGreyLightColor: #f7f7f7;
$themeWhiteColor: #F9F7F7;
$themeGreySilverColor: #AEAFAF;
$borderFbColor:#d0d1d5;
