$backgroundColor: #E8ECF1;
$defaultFont: 'Museo', 'Raleway', 'Source Sans Pro', sans-serif;
$profilesNameFontColor: white;
$themeColor: #373b60;
$themeGreyColor: #efefef;
$themeRedLightColor: #ee6368;
$themeLightGreyColor: rgba(239, 239, 239, 0.89);
$themeDarkGreyColor: #808080;
$themeGreyLightColor: #f8f8f8;
$themeGreyDarkColor: #E1E1E1;
$themeWhiteColor: #F9F7F7;
$themeGreySilverColor: #AEAFAF;
$themeButtonGreenColor: #45C997;
$themeRedColor: #E84855;
$themeRedLightColor: #DF5454;
$themeRedDarkColor: #942929;
$themeGreenColor: #45C997;
$themeBlueColor: #3C91E6;
$borderFbColor:#d0d1d5;
$themeSilverColor:#C0C0C0;
