$backgroundColor: #E8ECF1;
$defaultFont: 'Raleway', 'Source Sans Pro', sans-serif;
$profilesNameFontColor: white;
$themeColor: #373b60;
$themeGreyColor: #efefef;
$themeRedColor: #ec555b;
$themeRedLightColor: #ee6368;
$themeLightGreyColor: rgba(239, 239, 239, 0.89);
$themeDarkGreyColor: #808080;
$themeGreyLightColor: #f7f7f7;
$themeWhiteColor: #F9F7F7;
$themeGreySilverColor: #AEAFAF;
$themeGreenColor:  #2AB27B;
$themeButtonGreenColor: #45C997;
$themeGreenColor: #45C997;
$borderFbColor:#d0d1d5;
$themeSilverColor:#C0C0C0;
