<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.Ease.Team.Team"/>
        <mapping class="com.Ease.Team.OnboardingStatus"/>
        <mapping class="com.Ease.Team.Channel"/>
        <mapping class="com.Ease.Team.Onboarding.OnboardingRoom"/>
        <mapping class="com.Ease.Team.TeamUser"/>
        <mapping class="com.Ease.Team.TeamUserRole"/>
        <mapping class="com.Ease.Team.InvitedFriend"/>
        <mapping class="com.Ease.Catalog.Software"/>
        <mapping class="com.Ease.Catalog.SoftwareConnectionInformation"/>
        <mapping class="com.Ease.Catalog.Website"/>
        <mapping class="com.Ease.Catalog.WebsiteAttributes"/>
        <mapping class="com.Ease.Catalog.WebsiteInformation"/>
        <mapping class="com.Ease.Catalog.WebsiteFailure"/>
        <mapping class="com.Ease.Catalog.Sso"/>
        <mapping class="com.Ease.Catalog.Category"/>
        <mapping class="com.Ease.Catalog.WebsiteRequest"/>
        <mapping class="com.Ease.Catalog.WebsiteCredentials"/>
        <mapping class="com.Ease.Catalog.ServerPublicKey"/>
        <mapping class="com.Ease.Catalog.WebsiteAlternativeUrl"/>
        <mapping class="com.Ease.Team.TeamUserStatus"/>
        <mapping class="com.Ease.NewDashboard.Profile"/>
        <mapping class="com.Ease.NewDashboard.ProfileInformation"/>
        <mapping class="com.Ease.NewDashboard.App"/>
        <mapping class="com.Ease.NewDashboard.AppInformation"/>
        <mapping class="com.Ease.NewDashboard.LinkApp"/>
        <mapping class="com.Ease.NewDashboard.LinkAppInformation"/>
        <mapping class="com.Ease.NewDashboard.WebsiteApp"/>
        <mapping class="com.Ease.NewDashboard.LogWithApp"/>
        <mapping class="com.Ease.NewDashboard.ClassicApp"/>
        <mapping class="com.Ease.NewDashboard.Account"/>
        <mapping class="com.Ease.NewDashboard.AccountInformation"/>
        <mapping class="com.Ease.NewDashboard.SsoApp"/>
        <mapping class="com.Ease.NewDashboard.SsoGroup"/>
        <mapping class="com.Ease.NewDashboard.AnyApp"/>
        <mapping class="com.Ease.NewDashboard.SoftwareApp"/>
        <mapping class="com.Ease.Team.TeamCard.TeamCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamWebsiteCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamSingleCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamEnterpriseCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamLinkCard"/>
        <mapping class="com.Ease.Team.TeamCard.JoinTeamCardRequest"/>
        <mapping class="com.Ease.Team.TeamCard.JoinTeamSingleCardRequest"/>
        <mapping class="com.Ease.Team.TeamCard.JoinTeamEnterpriseCardRequest"/>
        <mapping class="com.Ease.Team.TeamCardReceiver.TeamCardReceiver"/>
        <mapping class="com.Ease.Team.TeamCardReceiver.TeamSingleCardReceiver"/>
        <mapping class="com.Ease.Team.TeamCardReceiver.TeamEnterpriseCardReceiver"/>
        <mapping class="com.Ease.Team.TeamCardReceiver.TeamLinkCardReceiver"/>
        <mapping class="com.Ease.Team.TeamCard.TeamSoftwareCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamSingleSoftwareCard"/>
        <mapping class="com.Ease.Team.TeamCard.TeamEnterpriseSoftwareCard"/>
        <mapping class="com.Ease.User.User"/>
        <mapping class="com.Ease.User.Administrator"/>
        <mapping class="com.Ease.User.UserStatus"/>
        <mapping class="com.Ease.User.UserEmail"/>
        <mapping class="com.Ease.User.UserKeys"/>
        <mapping class="com.Ease.User.Options"/>
        <mapping class="com.Ease.User.Notification"/>
        <mapping class="com.Ease.User.PendingNotification"/>
        <mapping class="com.Ease.User.JsonWebToken"/>
        <mapping class="com.Ease.User.PasswordLost"/>
        <mapping class="com.Ease.User.UserPostRegistrationEmails"/>
        <mapping class="com.Ease.User.PersonalInformation"/>
        <mapping class="com.Ease.Metrics.ClickOnApp"/>
        <mapping class="com.Ease.Metrics.MagicAppsSurvey"/>
        <mapping class="com.Ease.Metrics.TeamMetrics"/>
        <mapping class="com.Ease.Metrics.ConnectionMetric"/>
        <mapping class="com.Ease.Metrics.WeeklyStats"/>
        <mapping class="com.Ease.Importation.ImportedAccount"/>
        <mapping class="com.Ease.Importation.ImportedAccountInformation"/>
        <mapping class="com.Ease.Update.Update"/>
        <mapping class="com.Ease.Update.UpdateAccount"/>
        <mapping class="com.Ease.Update.UpdateAccountInformation"/>
    </session-factory>
</hibernate-configuration>
