<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ease2</property>
        <property name="hibernate.connection.username">client</property>
        <property name="hibernate.connection.password">P6au23q7</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <mapping class="com.Ease.Team.Teams"/>
        <mapping class="com.Ease.NewDashboard.App.App"/>
        <mapping class="com.Ease.NewDashboard.App.AppInformation"/>
        <mapping class="com.Ease.NewDashboard.Profile.ProfileApp"/>
        <mapping class="com.Ease.NewDashboard.Profile.Profile"/>
        <mapping class="com.Ease.NewDashboard.Profile.ProfileInformation"/>
        <mapping class="com.Ease.NewDashboard.App.LinkApp.LinkApp"/>
        <mapping class="com.Ease.NewDashboard.App.LinkApp.LinkAppInformation"/>
        <mapping class="com.Ease.NewDashboard.UserProfile"/>
        <mapping class="com.Ease.NewDashboard.User.User"/>
        <mapping class="com.Ease.NewDashboard.User.Keys"/>
        <mapping class="com.Ease.NewDashboard.User.Options"/>
        <mapping class="com.Ease.NewDashboard.User.Status"/>
    </session-factory>
</hibernate-configuration>