<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ease</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/ease?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.username">client</property>
        <property name="hibernate.connection.password">P6au23q7</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="com.Ease.Team.Team"/>
        <mapping class="com.Ease.Team.Channel"/>
        <mapping class="com.Ease.Team.TeamUser"/>
        <mapping class="com.Ease.Team.TeamUserRole"/>
        <mapping class="com.Ease.Catalog.Website"/>
        <mapping class="com.Ease.Catalog.WebsiteAttributes"/>
        <mapping class="com.Ease.Catalog.WebsiteInformation"/>
        <mapping class="com.Ease.Catalog.Sso"/>
        <mapping class="com.Ease.Catalog.Category" />
        <mapping class="com.Ease.Catalog.WebsiteRequest" />
        <mapping class="com.Ease.Catalog.WebsiteCredentials" />
        <mapping class="com.Ease.Catalog.ServerPublicKey" />
        <mapping class="com.Ease.Team.TeamUserStatus"/>
        <mapping class="com.Ease.NewDashboard.Profile"/>
        <mapping class="com.Ease.NewDashboard.ProfileInformation"/>
        <mapping class="com.Ease.NewDashboard.App"/>
        <mapping class="com.Ease.NewDashboard.AppInformation"/>
        <mapping class="com.Ease.NewDashboard.LinkApp"/>
        <mapping class="com.Ease.NewDashboard.LinkAppInformation"/>
        <mapping class="com.Ease.NewDashboard.WebsiteApp"/>
        <mapping class="com.Ease.NewDashboard.LogWithApp"/>
        <mapping class="com.Ease.NewDashboard.ClassicApp"/>
        <mapping class="com.Ease.NewDashboard.Account"/>
        <mapping class="com.Ease.NewDashboard.AccountInformation"/>
    </session-factory>
</hibernate-configuration>