.overlayScrap {
    position: fixed; 
    top:0 !important; 
    left:0 !important; 
    bottom:0 !important; 
    right:0 !important; 
    z-index: 100000 !important;
    background: rgba(0,0,0,0.25) !important;
    visibility: visible; 
}

.containerScrap {
    position: fixed !important;
    width: 400px !important;
    top: 15% !important;
    padding : 10px !important;
    text-align: center !important;
    left: calc(50% - 200px);
    background: rgba(255,255,255,0.95) !important;
    border-radius: 7px;
    color: #373b60 !important;
}

.containerScrap .logoEase{
    width: 320px !important;
    margin: 0px 30px 0px 30px !important;
}

.containerScrap .titleContainer{
    margin : 0px 10px 20px 10px !important;
    font-family: Arial !important;
}

.containerScrap .titleContainer .title{
    font-size: 25px;
    font-weight: bold !important;
    margin : 0px 0px 2px 0px !important;
    font-family: Arial!important;
}

.containerScrap .websiteContainer{
    padding: 3px !important;
    padding: 2px 3px 2px 3px !important;
    margin: 0px 10px 20px 10px !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #373b60 !important;
    border-radius : 5px !important;
    width : 370px !important;
    height: 36px !important;
    text-align: center;
}

.containerScrap .websiteContainer img{
    display: inline !important;
    width : 36px !important;
    float:left !important;
    margin : 0px 0px 0px 4px !important;
}

.containerScrap .websiteContainer span{
     display: inline !important;
    line-height: normal !important; 
    margin-left : 10px !important;
    font-size: 28px !important;
    font-family: Arial !important;
}

.containerScrap .infoContainer{
    margin : 0px 10px 10px 10px !important;
}

.containerScrap .infoContainer p{
    font-size: 20px;
    margin : 0px 0px 2px 0px !important;
    font-family: Arial !important;
}

.containerScrap .loader {
    margin : 0px 160px 20px 160px !important;
    border: 10px solid #f0f0f0 !important;
    border-top: 10px solid #373b60 !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    animation: spinEase 1s linear infinite !important;
}

@keyframes spinEase {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}